### Importing Selenium Libraries

In [352]:
#import all the required libraries

import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

### Importing Beautiful Soup Libraries

In [353]:
# Importing all the libraries for beautiful soup
import requests
import bs4
import lxml

### Code to display row and column border

In [354]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [355]:
# Executing the chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\charl\Desktop\Study\DataTrained\Internship\Selenium\driver\chromedriver.exe")

In [5]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

In [6]:
driver.get(url)

In [8]:
click_x = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > h3 > div")

In [9]:
click_x.click()

In [10]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

In [11]:
all_cars.click()

In [12]:
price_filter = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

In [13]:
price_filter.click()

In [19]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

In [20]:
under_2.click()

In [21]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [22]:
len(urls)

118

In [52]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [62]:
print(len(Names))
print(len(Variant))
print(len(Prices))
print(len(Fuel))
print(len(Kilometers))
print(len(Purchase))
print(len(Owners))
print(len(Transmission))
print(len(Nonacc))

118
118
118
118
118
118
118
118
118

In [69]:
# Make dataframe 
cars_df = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

In [71]:
cars_df["Location"] = "Delhi"

In [73]:
cars_df_Delhi = cars_df

In [74]:
cars_df_Delhi.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2010 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,"26,750 km",October 2010,2nd Owner,MANUAL,Non-Accidental,"₹1,59,299",Delhi
1,2008 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"22,357 km",February 2008,1st Owner,MANUAL,Non-Accidental,"₹1,47,699",Delhi
2,2012 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"25,610 km",September 2012,2nd Owner,MANUAL,Non-Accidental,"₹1,95,799",Delhi
3,2010 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,"40,666 km",October 2010,1st Owner,MANUAL,Non-Accidental,"₹1,89,699",Delhi
4,2010 Chevrolet Beat PS PETROL MANUAL,PS PETROL MANUAL,Petrol,"43,708 km",-,2nd Owner,DL-4C-x-xxxx,Non-Accidental,"₹1,28,500",Delhi

In [76]:
cars_df_Delhi.to_csv("cars_df_Delhi_0_2")

In [75]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [77]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

In [78]:
all_cars.click()

In [81]:
price_filter = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div.filter-section._1NTuv")

In [82]:
price_filter.click()

In [83]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [84]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [86]:
urls = urls[:125]

In [87]:
len(urls)

125

In [89]:
urls[1]

'https://www.cars24.com/buy-used-Maruti-Alto-800-2014-cars-Noida-1005820423/'

In [90]:
# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h1[@class='fXR9Q']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_3ueoz']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//strong[@class='_2QqSW']")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [103]:
urls[0]

'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-New-Delhi-1002989646/'

In [105]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')

In [109]:
# Make dataframe 
cars_df_D2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

In [111]:
cars_df_D2["Location"] = "Delhi"

In [112]:
cars_df_D2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,"11,019 km",April 2013,1st Owner,MANUAL,Non-Accidental,"₹3,78,499",Delhi
1,2014 Maruti Alto 800 VXI MANUAL,VXI MANUAL,Petrol,"5,383 km",September 2014,1st Owner,MANUAL,Non-Accidental,"₹2,85,699",Delhi
2,2014 Maruti Alto 800 VXI MANUAL,VXI MANUAL,Petrol,"12,535 km",March 2014,1st Owner,MANUAL,Non-Accidental,"₹2,99,499",Delhi
3,2017 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"8,501 km",June 2017,1st Owner,MANUAL,Non-Accidental,"₹3,05,099",Delhi
4,2012 Maruti Swift ZXI MANUAL,ZXI MANUAL,Petrol,"15,538 km",April 2012,1st Owner,MANUAL,Non-Accidental,"₹4,53,499",Delhi

In [113]:
cars_df_D2.to_csv("cars_df_Delhi_D2")

In [114]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [115]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [116]:
price_filter = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div.filter-section._1NTuv")
price_filter.click()

In [117]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [118]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [119]:
len(urls)

140

In [120]:
urls = urls[:125]

In [121]:
len(urls)

125

In [122]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [132]:
# Make dataframe 
cars_df_D3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

In [133]:
cars_df_D3["Location"] = "Delhi"

In [134]:
cars_df_D3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,-,-,Petrol,800 km,October 2020,1st Owner,MANUAL,Non-Accidental,-,Delhi
1,2021 Hyundai VENUE S MT 1.2 KAPPA,S MT 1.2 KAPPA,Petrol,"2,589 km",April 2021,1st Owner,NA,Non-Accidental,"₹8,07,999",Delhi
2,2020 Maruti Baleno SIGMA 1.2 K12 MANUAL,SIGMA 1.2 K12 MANUAL,Petrol,"4,151 km",January 2020,1st Owner,MANUAL,Non-Accidental,"₹5,66,199",Delhi
3,2020 Volkswagen Polo COMFORTLINE PLUS 1.0,COMFORTLINE PLUS 1.0,Petrol,"14,468 km",February 2020,1st Owner,NA,Non-Accidental,"₹6,01,899",Delhi
4,2018 Hyundai Elite i20 Magna Executive 1.2 MANUAL,Magna Executive 1.2 MANUAL,Petrol,"5,937 km",September 2018,1st Owner,MANUAL,Non-Accidental,"₹5,77,399",Delhi

In [135]:
cars_df_D3.to_csv("cars_df_D3")

In [136]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [137]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [139]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [140]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [142]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [152]:
# Make dataframe 
cars_df_D4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

In [153]:
cars_df_D4["Location"] = "Delhi"

In [154]:
cars_df_D4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Hyundai Creta SX PETROL MT MANUAL,SX PETROL MT MANUAL,Petrol,"10,671 km",June 2020,1st Owner,MANUAL,Non-Accidental,"₹14,99,499",Delhi
1,2019 MG HECTOR SHARP HYBIRD PETROL MT MANUAL,SHARP HYBIRD PETROL MT MANUAL,Petrol,"8,528 km",November 2019,1st Owner,MANUAL,Non-Accidental,"₹16,29,899",Delhi
2,2013 BMW 1 Series 116I AUTOMATIC,116I AUTOMATIC,Petrol,"21,757 km",-,2nd Owner,HR-51-x-xxxx,Non-Accidental,"₹12,75,000",Delhi
3,-,-,Petrol,"14,792 km",October 2019,1st Owner,MANUAL,Non-Accidental,-,Delhi
4,2019 Hyundai VENUE SX(O) CRDi,SX(O) CRDi,Diesel,"25,835 km",July 2019,1st Owner,NA,Non-Accidental,"₹10,13,699",Delhi

In [155]:
cars_df_D4.to_csv("cars_df_D4")

In [156]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [157]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [158]:
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

In [159]:
location_select.click()

In [160]:
Noida = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(2) > span")

In [161]:
Noida.click()

In [162]:
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

In [163]:
filter_price.click()

In [164]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [165]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [167]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [181]:
# Make dataframe 
cars_df_N1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_N1["Location"] = "Noida"

In [182]:
cars_df_N1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2015 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"26,554 km",September 2015,1st Owner,MANUAL,Non-Accidental,"₹1,23,499",Noida
1,2010 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,"26,750 km",October 2010,2nd Owner,MANUAL,Non-Accidental,"₹1,59,299",Noida
2,2012 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"25,610 km",September 2012,2nd Owner,MANUAL,Non-Accidental,"₹1,95,799",Noida
3,2010 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"48,254 km",-,1st Owner,DL-1C-x-xxxx,Non-Accidental,"₹1,50,999",Noida
4,2010 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"34,611 km",May 2010,1st Owner,MANUAL,Non-Accidental,"₹1,78,499",Noida

In [183]:
cars_df_N1.to_csv("cars_df_N1")

In [184]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [185]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [186]:
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [187]:
Noida = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(2) > span")

Noida.click()

In [188]:
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [189]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [190]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [192]:
urls = urls[:130]

In [193]:
len(urls)

130

In [194]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [204]:
# Make dataframe 
cars_df_N2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_N2["Location"] = "Noida"

In [205]:
cars_df_N2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,"11,019 km",April 2013,1st Owner,MANUAL,Non-Accidental,"₹3,78,499",Noida
1,2014 Maruti Alto 800 VXI MANUAL,VXI MANUAL,Petrol,"5,383 km",September 2014,1st Owner,MANUAL,Non-Accidental,"₹2,85,699",Noida
2,2013 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"8,967 km",February 2013,1st Owner,MANUAL,Non-Accidental,"₹2,41,499",Noida
3,2014 Maruti Alto 800 VXI MANUAL,VXI MANUAL,Petrol,"12,535 km",March 2014,1st Owner,MANUAL,Non-Accidental,"₹2,99,499",Noida
4,2017 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"8,501 km",June 2017,1st Owner,MANUAL,Non-Accidental,"₹3,05,099",Noida

In [206]:
cars_df_N2.to_csv("cars_df_N2")

In [207]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [208]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [209]:
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [210]:
Noida = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(2) > span")

Noida.click()

In [211]:
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [212]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [213]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [215]:
urls = urls[:130]

In [217]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [227]:
# Make dataframe 
cars_df_N3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_N3["Location"] = "Noida"

In [228]:
cars_df_N3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Maruti Dzire LXI MANUAL,LXI MANUAL,Petrol,800 km,October 2020,1st Owner,MANUAL,Non-Accidental,"₹6,04,499",Noida
1,2021 Hyundai VENUE S MT 1.2 KAPPA,S MT 1.2 KAPPA,Petrol,"2,589 km",April 2021,1st Owner,NA,Non-Accidental,"₹8,07,999",Noida
2,2020 Maruti Baleno SIGMA 1.2 K12 MANUAL,SIGMA 1.2 K12 MANUAL,Petrol,"4,151 km",January 2020,1st Owner,MANUAL,Non-Accidental,"₹5,66,199",Noida
3,2020 Volkswagen Polo COMFORTLINE PLUS 1.0,COMFORTLINE PLUS 1.0,Petrol,"14,468 km",February 2020,1st Owner,NA,Non-Accidental,"₹6,01,899",Noida
4,2018 Hyundai Elite i20 Magna Executive 1.2 MANUAL,Magna Executive 1.2 MANUAL,Petrol,"5,937 km",September 2018,1st Owner,MANUAL,Non-Accidental,"₹5,77,399",Noida

In [229]:
cars_df_N3.to_csv("cars_df_N3")

In [230]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [231]:
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [232]:
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [233]:
Noida = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(2) > span")

Noida.click()

In [234]:
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [235]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [236]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [238]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [248]:
# Make dataframe 
cars_df_N4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,

                           'Price':Prices})
cars_df_N4["Location"] = "Noida"

In [249]:
cars_df_N4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Hyundai Creta SX PETROL MT MANUAL,SX PETROL MT MANUAL,Petrol,"10,671 km",June 2020,1st Owner,MANUAL,Non-Accidental,"₹14,99,499",Noida
1,2019 MG HECTOR SHARP HYBIRD PETROL MT MANUAL,SHARP HYBIRD PETROL MT MANUAL,Petrol,"8,528 km",November 2019,1st Owner,MANUAL,Non-Accidental,"₹16,29,899",Noida
2,2013 BMW 1 Series 116I AUTOMATIC,116I AUTOMATIC,Petrol,"21,757 km",-,2nd Owner,HR-51-x-xxxx,Non-Accidental,"₹12,75,000",Noida
3,2019 KIA SELTOS HTK 1.5 PETROL MANUAL,HTK 1.5 PETROL MANUAL,Petrol,"14,792 km",October 2019,1st Owner,MANUAL,Non-Accidental,"₹10,50,499",Noida
4,2019 Hyundai VENUE SX(O) CRDi,SX(O) CRDi,Diesel,"25,835 km",July 2019,1st Owner,NA,Non-Accidental,"₹10,13,699",Noida

In [250]:
cars_df_N4.to_csv("cars_df_N4")

In [251]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [252]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [253]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [254]:
# Clicking on desired location
Gurgaon = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(3) > span")

Gurgaon.click()

In [255]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [256]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [257]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [259]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [267]:
# Make dataframe 
cars_df_G1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_G1["Location"] = "Gurgaon"

In [268]:
cars_df_G1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2015 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"26,554 km",September 2015,1st Owner,MANUAL,Non-Accidental,"₹1,23,499",Gurgaon
1,2010 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,"26,750 km",October 2010,2nd Owner,MANUAL,Non-Accidental,"₹1,59,299",Gurgaon
2,2012 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"25,610 km",September 2012,2nd Owner,MANUAL,Non-Accidental,"₹1,95,799",Gurgaon
3,2010 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"48,254 km",-,1st Owner,DL-1C-x-xxxx,Non-Accidental,"₹1,50,999",Gurgaon
4,2010 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"34,611 km",May 2010,1st Owner,MANUAL,Non-Accidental,"₹1,78,499",Gurgaon

In [269]:
cars_df_G1.to_csv("cars_df_G1")

In [270]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [271]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [272]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [273]:
Gurgaon = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(3) > span")

Gurgaon.click()

In [274]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [275]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [277]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [279]:
urls = urls[:125]

In [280]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [290]:
# Make dataframe 
cars_df_G2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_G2["Location"] = "Gurgaon"

In [291]:
cars_df_G2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,-,-,Diesel,"11,019 km",April 2013,1st Owner,MANUAL,Non-Accidental,-,Gurgaon
1,2014 Maruti Alto 800 VXI MANUAL,VXI MANUAL,Petrol,"5,383 km",September 2014,1st Owner,MANUAL,Non-Accidental,"₹2,85,699",Gurgaon
2,2013 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"8,967 km",February 2013,1st Owner,MANUAL,Non-Accidental,"₹2,41,499",Gurgaon
3,2014 Maruti Alto 800 VXI MANUAL,VXI MANUAL,Petrol,"12,535 km",March 2014,1st Owner,MANUAL,Non-Accidental,"₹2,99,499",Gurgaon
4,2017 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"8,501 km",June 2017,1st Owner,MANUAL,Non-Accidental,"₹3,05,099",Gurgaon

In [292]:
cars_df_G2.to_csv("cars_df_G2")

In [293]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [294]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [295]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [296]:
Gurgaon = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(3) > span")

Gurgaon.click()

In [297]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [298]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [299]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [301]:
urls = urls[:125]

In [303]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [313]:
# Make dataframe 
cars_df_G3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_G3["Location"] = "Gurgaon"

In [314]:
cars_df_G3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Maruti Dzire LXI MANUAL,LXI MANUAL,Petrol,800 km,October 2020,1st Owner,MANUAL,Non-Accidental,"₹6,04,499",Gurgaon
1,-,-,Petrol,"2,589 km",April 2021,1st Owner,NA,Non-Accidental,-,Gurgaon
2,2020 Maruti Baleno SIGMA 1.2 K12 MANUAL,SIGMA 1.2 K12 MANUAL,Petrol,"4,151 km",January 2020,1st Owner,MANUAL,Non-Accidental,"₹5,66,199",Gurgaon
3,2020 Volkswagen Polo COMFORTLINE PLUS 1.0,COMFORTLINE PLUS 1.0,Petrol,"14,468 km",February 2020,1st Owner,NA,Non-Accidental,"₹6,01,899",Gurgaon
4,2018 Hyundai Elite i20 Magna Executive 1.2 MANUAL,Magna Executive 1.2 MANUAL,Petrol,"5,937 km",September 2018,1st Owner,MANUAL,Non-Accidental,"₹5,77,399",Gurgaon

In [315]:
cars_df_G3.to_csv("cars_df_G3")

In [5]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [6]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [7]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [8]:
# Location
Gurgaon = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(3) > span")

Gurgaon.click()

In [9]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [10]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [11]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [13]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [23]:
# Make dataframe 
cars_df_G4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_G4["Location"] = "Gurgaon"

In [24]:
cars_df_G4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2019 MG HECTOR SHARP HYBIRD PETROL MT MANUAL,SHARP HYBIRD PETROL MT MANUAL,Petrol,"8,528 km",November 2019,1st Owner,MANUAL,Non-Accidental,"₹16,29,899",Gurgaon
1,2013 BMW 1 Series 116I AUTOMATIC,116I AUTOMATIC,Petrol,"21,757 km",-,2nd Owner,HR-51-x-xxxx,Non-Accidental,"₹12,75,000",Gurgaon
2,2019 Hyundai VENUE SX(O) CRDi,SX(O) CRDi,Diesel,"25,835 km",July 2019,1st Owner,NA,Non-Accidental,"₹10,13,699",Gurgaon
3,2019 Hyundai VENUE 1.0 TURBO GDI SX+ AT,1.0 TURBO GDI SX+ AT,Petrol,"7,510 km",July 2019,1st Owner,NA,Non-Accidental,"₹10,64,499",Gurgaon
4,2019 Toyota Innova Crysta 2.4 VX 7 STR MANUAL,2.4 VX 7 STR MANUAL,Diesel,"31,235 km",-,1st Owner,DL-3C-x-xxxx,Non-Accidental,"₹18,00,000",Gurgaon

In [25]:
cars_df_G4.to_csv("cars_df_G4")

In [26]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [27]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [28]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [29]:
# Location
Mumbai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(4) > span")

Mumbai.click()

In [30]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [31]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [32]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [34]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [36]:
# Make dataframe 
cars_df_M1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_M1["Location"] = "Mumbai"

In [37]:
cars_df_M1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2012 Hyundai Eon MAGNA PLUS MANUAL,MAGNA PLUS MANUAL,Petrol,"51,399 km",-,2nd Owner,MH-02-x-xxxx,Non-Accidental,"₹1,70,000",Mumbai
1,2010 Maruti Wagon R VXI MANUAL,VXI MANUAL,Petrol,"49,949 km",March 2010,1st Owner,MANUAL,Non-Accidental,"₹1,95,199",Mumbai
2,2009 Hyundai i10 MAGNA 1.2 MANUAL,MAGNA 1.2 MANUAL,Petrol,"49,357 km",September 2009,2nd Owner,MANUAL,Non-Accidental,"₹1,88,699",Mumbai
3,-,-,Petrol,"16,639 km",March 2009,1st Owner,MANUAL,Non-Accidental,-,Mumbai
4,2010 Maruti A Star VXI MANUAL,VXI MANUAL,Petrol,"35,171 km",November 2010,1st Owner,MANUAL,Non-Accidental,"₹1,97,499",Mumbai

In [38]:
cars_df_M1.to_csv("cars_df_M1")

In [39]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [40]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [41]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [42]:
# Location
Mumbai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(4) > span")

Mumbai.click()

In [43]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [44]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [47]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [49]:
urls = urls[:175]

In [51]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    time.sleep(2)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [53]:
# Make dataframe 
cars_df_M2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_M2["Location"] = "Mumbai"

In [54]:
cars_df_M2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2014 Maruti Wagon R 1.0 VXI MANUAL,VXI MANUAL,Petrol,"6,858 km",June 2014,1st Owner,MANUAL,Non-Accidental,"₹3,61,999",Mumbai
1,2013 Maruti Wagon R 1.0 LXI MANUAL,LXI MANUAL,Petrol,"13,688 km",May 2013,1st Owner,MANUAL,Non-Accidental,"₹3,30,499",Mumbai
2,2014 Hyundai i10 MAGNA 1.1 IRDE2 MANUAL,MAGNA 1.1 IRDE2 MANUAL,Petrol,"13,068 km",June 2014,1st Owner,MANUAL,Non-Accidental,"₹3,71,499",Mumbai
3,2015 Maruti Wagon R 1.0 VXI MANUAL,VXI MANUAL,Petrol,"9,654 km",March 2015,1st Owner,MANUAL,Non-Accidental,"₹3,63,899",Mumbai
4,2015 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"7,478 km",June 2015,2nd Owner,MANUAL,Non-Accidental,"₹2,66,299",Mumbai

In [55]:
cars_df_M2.to_csv("cars_df_M2")

In [56]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [57]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [58]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [59]:
# Location
Mumbai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(4) > span")

Mumbai.click()

In [60]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [61]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [62]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [64]:
urls = urls[:130]

In [66]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [68]:
# Make dataframe 
cars_df_M3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_M3["Location"] = "Mumbai"

In [69]:
cars_df_M3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2018 Tata Tiago XZA 1.2 REVOTRON,XZA 1.2 REVOTRON,Petrol,"2,960 km",October 2018,1st Owner,NA,Non-Accidental,"₹5,47,699",Mumbai
1,2017 Hyundai Grand i10 SPORTZ 1.2 KAPPA VTVT M...,SPORTZ 1.2 KAPPA VTVT MANUAL,Petrol,"5,766 km",March 2017,1st Owner,MANUAL,Non-Accidental,"₹5,30,299",Mumbai
2,2016 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,"10,229 km",March 2016,1st Owner,MANUAL,Non-Accidental,"₹5,51,799",Mumbai
3,2016 Hyundai i20 Active 1.2 S MANUAL,1.2 S MANUAL,Petrol,"17,868 km",August 2016,2nd Owner,MANUAL,Non-Accidental,"₹5,22,099",Mumbai
4,2016 Ford Ecosport 1.5 TREND TI VCT MANUAL,1.5 TREND TI VCT MANUAL,Petrol,"20,644 km",August 2016,1st Owner,MANUAL,Non-Accidental,"₹5,44,999",Mumbai

In [70]:
cars_df_M3.to_csv("cars_df_M3")

In [71]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [72]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [73]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [74]:
# Location
Mumbai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(4) > span")

Mumbai.click()

In [75]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [76]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [77]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [79]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [81]:
# Make dataframe 
cars_df_M4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_M4["Location"] = "Mumbai"

In [82]:
cars_df_M4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 KIA SELTOS HTX 1.5 DIESEL MANUAL,HTX 1.5 DIESEL MANUAL,Diesel,"2,765 km",February 2020,1st Owner,MANUAL,Non-Accidental,"₹14,82,699",Mumbai
1,2020 MG HECTOR SHARP 2.0 DIESEL,SHARP 2.0 DIESEL,Diesel,"5,759 km",July 2020,1st Owner,NA,Non-Accidental,"₹17,57,999",Mumbai
2,2010 Mercedes Benz CLS Class 350 BLUE EFFICIEN...,350 BLUE EFFICIENCY MANUAL,Petrol,"42,372 km",April 2010,3rd Owner,MANUAL,Non-Accidental,"₹13,71,099",Mumbai
3,2020 KIA SELTOS GTX + AT PETROL,GTX + AT PETROL,Petrol,"4,951 km",-,1st Owner,MH-14-x-xxxx,Non-Accidental,"₹18,99,000",Mumbai
4,2020 MG HECTOR SHARP DCT PETROL AUTOMATIC,SHARP DCT PETROL AUTOMATIC,Petrol,"11,480 km",March 2020,1st Owner,AUTOMATIC,Non-Accidental,"₹17,36,199",Mumbai

In [83]:
cars_df_M4.to_csv("cars_df_M4")

In [84]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [85]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [86]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [87]:
# Location
Pune = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(5) > span")

Pune.click()

In [88]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [89]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [90]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [92]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [94]:
# Make dataframe 
cars_df_P1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})
cars_df_P1["Location"] = "Pune"

In [95]:
cars_df_P1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2011 Ford Figo 1.2 EXI DURATEC MANUAL,1.2 EXI DURATEC MANUAL,Petrol,"46,292 km",-,2nd Owner,MH-43-x-xxxx,Non-Accidental,"₹1,73,699",Pune
1,2011 Hyundai Accent EXECUTIVE GLE MANUAL,EXECUTIVE GLE MANUAL,Petrol,"58,344 km",May 2011,1st Owner,MANUAL,Non-Accidental,"₹1,43,899",Pune
2,2011 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"48,837 km",May 2011,1st Owner,MANUAL,Non-Accidental,"₹1,94,899",Pune
3,2011 Maruti Alto K10 LXI MANUAL,LXI MANUAL,Petrol,"43,815 km",July 2011,2nd Owner,MANUAL,Non-Accidental,"₹1,83,999",Pune
4,2010 Maruti Alto K10 LXI MANUAL,LXI MANUAL,Petrol,"41,208 km",December 2010,2nd Owner,MANUAL,Non-Accidental,"₹1,45,199",Pune

In [96]:
cars_df_P1.to_csv("cars_df_P1")

In [97]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [98]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [99]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [100]:
# Location
Pune = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(5) > span")

Pune.click()

In [101]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [102]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [103]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [105]:
urls = urls[:190]

In [107]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [109]:
# Make dataframe 
cars_df_P2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_P2["Location"] = "Pune"

In [110]:
cars_df_P2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2014 Maruti Celerio VXI MANUAL,VXI MANUAL,Petrol,"15,206 km",March 2014,1st Owner,MANUAL,Non-Accidental,"₹3,62,799",Pune
1,2013 Hyundai i20 MAGNA O 1.2 MANUAL,MAGNA O 1.2 MANUAL,Petrol,"13,601 km",October 2013,1st Owner,MANUAL,Non-Accidental,"₹4,07,199",Pune
2,2011 Toyota Etios Liva G MANUAL,G MANUAL,Petrol,"18,893 km",-,1st Owner,MH-01-x-xxxx,Non-Accidental,"₹2,75,299",Pune
3,2015 Maruti Alto K10 VXI AMT MANUAL,VXI AMT MANUAL,Petrol,"9,013 km",September 2015,1st Owner,MANUAL,Non-Accidental,"₹3,52,999",Pune
4,2019 Maruti S PRESSO VXI AGS AUTOMATIC,VXI AGS AUTOMATIC,Petrol,"1,704 km",October 2019,1st Owner,AUTOMATIC,Non-Accidental,"₹4,74,299",Pune

In [111]:
cars_df_P2.to_csv("cars_df_P2")

In [112]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [113]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [114]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [115]:
# Location
Pune = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(5) > span")

Pune.click()

In [116]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [117]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [118]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [120]:
urls = urls[:140]

In [121]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [123]:
cars_df_P3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_P3["Location"] = "Pune"

In [124]:
cars_df_P3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2015 Hyundai Grand i10 ASTA 1.2 AT VTVT AUTOMATIC,ASTA 1.2 AT VTVT AUTOMATIC,Petrol,"10,438 km",October 2015,1st Owner,AUTOMATIC,Non-Accidental,"₹5,03,899",Pune
1,2019 Maruti Celerio ZXI MANUAL,ZXI MANUAL,Petrol,"6,499 km",February 2019,1st Owner,MANUAL,Non-Accidental,"₹5,33,499",Pune
2,2018 Hyundai NEW SANTRO 1.1 SPORTS AMT,1.1 SPORTS AMT,Petrol,"6,874 km",November 2018,1st Owner,NA,Non-Accidental,"₹5,28,799",Pune
3,2016 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,"8,435 km",October 2016,1st Owner,MANUAL,Non-Accidental,"₹5,87,199",Pune
4,2018 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,"4,475 km",April 2018,1st Owner,MANUAL,Non-Accidental,"₹6,32,699",Pune

In [125]:
cars_df_P3.to_csv("cars_df_P3")

In [126]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [127]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [128]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [129]:
# Location
Pune = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(5) > span")

Pune.click()

In [130]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [131]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [132]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [134]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [136]:
# Make dataframe 
cars_df_P4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_P4["Location"] = "Pune"

In [137]:
cars_df_P4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 MG HECTOR SHARP DCT PETROL AUTOMATIC,SHARP DCT PETROL AUTOMATIC,Petrol,"5,739 km",March 2020,1st Owner,AUTOMATIC,Non-Accidental,"₹17,71,199",Pune
1,2020 KIA SELTOS GTX + AT PETROL,GTX + AT PETROL,Petrol,"2,787 km",January 2020,1st Owner,NA,Non-Accidental,"₹18,27,099",Pune
2,2020 Hyundai VENUE SX 1.0 GDI IMT MANUAL,SX 1.0 GDI IMT MANUAL,Petrol,"3,843 km",September 2020,1st Owner,MANUAL,Non-Accidental,"₹10,57,199",Pune
3,2018 Jeep Compass 1.4 SPORT PETROL MANUAL,1.4 SPORT PETROL MANUAL,Petrol,"6,167 km",April 2018,1st Owner,MANUAL,Non-Accidental,"₹12,60,099",Pune
4,2019 MG HECTOR SHARP DCT PETROL AUTOMATIC,SHARP DCT PETROL AUTOMATIC,Petrol,"28,225 km",October 2019,1st Owner,AUTOMATIC,Non-Accidental,"₹15,62,699",Pune

In [138]:
cars_df_P4.to_csv("cars_df_P4")

In [139]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [140]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [141]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [142]:
# Location
Bangaluru = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(6) > span")

Bangaluru.click()

In [143]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [144]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [145]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [147]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [149]:
# Make dataframe 
cars_df_B1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_B1["Location"] = "Bangaluru"

In [150]:
cars_df_B1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2014 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"25,514 km",December 2014,1st Owner,MANUAL,Non-Accidental,"₹1,81,899",Bangaluru
1,2014 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"23,494 km",September 2014,2nd Owner,MANUAL,Non-Accidental,"₹1,85,599",Bangaluru
2,2014 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"34,394 km",March 2014,1st Owner,MANUAL,Non-Accidental,"₹1,73,399",Bangaluru
3,2015 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"21,822 km",January 2015,2nd Owner,MANUAL,Non-Accidental,"₹1,91,599",Bangaluru
4,2014 Tata Nano XT TWIST MANUAL,XT TWIST MANUAL,Petrol,"38,527 km",September 2014,1st Owner,MANUAL,Non-Accidental,"₹1,72,599",Bangaluru

In [151]:
cars_df_B1.to_csv("cars_df_B1")

In [152]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [153]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [154]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [155]:
# Location
Bangaluru = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(6) > span")

Bangaluru.click()

In [156]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [157]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [158]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [160]:
urls = urls[:225]

In [161]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [163]:
# Make dataframe 
cars_df_B2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_B2["Location"] = "Bangaluru"

In [164]:
cars_df_B2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2011 Hyundai Santro Xing GL PLUS MANUAL,GL PLUS MANUAL,Petrol,"16,261 km",July 2011,1st Owner,MANUAL,Non-Accidental,"₹3,21,299",Bangaluru
1,2011 Hyundai Santro Xing GL PLUS MANUAL,GL PLUS MANUAL,Petrol,"10,252 km",July 2011,1st Owner,MANUAL,Non-Accidental,"₹3,03,199",Bangaluru
2,2013 Hyundai i10 SPORTZ 1.2 KAPPA2 MANUAL,SPORTZ 1.2 KAPPA2 MANUAL,Petrol,"14,350 km",January 2013,1st Owner,MANUAL,Non-Accidental,"₹4,10,599",Bangaluru
3,2015 Maruti Alto K10 VXI AMT,VXI AMT,Petrol,"12,593 km",June 2015,2nd Owner,NA,Non-Accidental,"₹3,79,199",Bangaluru
4,2012 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"16,071 km",April 2012,2nd Owner,MANUAL,Non-Accidental,"₹2,88,199",Bangaluru

In [351]:
cars_df_B2.to_csv("cars_df_B2")

In [165]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [166]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [167]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [168]:
# Location
Bangaluru = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(6) > span")

Bangaluru.click()

In [169]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [170]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [171]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [173]:
urls = urls[:130]

In [174]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [176]:
# Make dataframe 
cars_df_B3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_B3["Location"] = "Bangaluru"

In [177]:
cars_df_B3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Hyundai NEW SANTRO 1.1 SPORTS AMT MANUAL,1.1 SPORTS AMT MANUAL,Petrol,"6,248 km",February 2020,1st Owner,MANUAL,Non-Accidental,"₹6,44,399",Bangaluru
1,2019 Maruti Celerio VXI MANUAL,VXI MANUAL,Petrol,"3,283 km",August 2019,1st Owner,MANUAL,Non-Accidental,"₹5,09,599",Bangaluru
2,2014 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,"21,026 km",February 2014,1st Owner,MANUAL,Non-Accidental,"₹5,21,799",Bangaluru
3,2015 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,"21,156 km",June 2015,1st Owner,MANUAL,Non-Accidental,"₹5,47,099",Bangaluru
4,2017 Hyundai Grand i10 SPORTS 1.2 VTVT MANUAL,SPORTS 1.2 VTVT MANUAL,Petrol,"14,308 km",July 2017,2nd Owner,MANUAL,Non-Accidental,"₹5,45,099",Bangaluru

In [178]:
cars_df_B3.to_csv("cars_df_B3")

In [179]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [180]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [181]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [182]:
# Location
Bangaluru = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(6) > span")

Bangaluru.click()

In [183]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [184]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [185]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [187]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [189]:
# Make dataframe 
cars_df_B4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_B4["Location"] = "Bangaluru"

In [190]:
cars_df_B4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 MG HECTOR SMART DIESEL MANUAL,SMART DIESEL MANUAL,Diesel,"5,050 km",August 2020,1st Owner,MANUAL,Non-Accidental,"₹16,23,699",Bangaluru
1,2020 Jeep Compass 2.0 SPORT PLUS MANUAL,2.0 SPORT PLUS MANUAL,Diesel,"31,736 km",February 2020,1st Owner,MANUAL,Non-Accidental,"₹16,16,699",Bangaluru
2,2017 Mahindra XUV500 W6 4X2 MANUAL,W6 4X2 MANUAL,Diesel,"43,506 km",July 2017,1st Owner,MANUAL,Non-Accidental,"₹11,98,199",Bangaluru
3,2017 Mahindra XUV500 W6 4X2 MANUAL,W6 4X2 MANUAL,Diesel,"51,159 km",March 2017,2nd Owner,MANUAL,Non-Accidental,"₹10,93,199",Bangaluru
4,2018 Mahindra XUV500 W7 FWD,W7 FWD,Diesel,"45,553 km",July 2018,1st Owner,NA,Non-Accidental,"₹13,46,999",Bangaluru

In [191]:
cars_df_B4.to_csv("cars_df_B4")

In [192]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [193]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [194]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [195]:
# Location
Hyderabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(7) > span")

Hyderabad.click()

In [196]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [197]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [198]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [200]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [202]:
# Make dataframe 
cars_df_H1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_H1["Location"] = "Hyderabad"

In [203]:
cars_df_H1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2009 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"54,950 km",June 2009,1st Owner,MANUAL,Non-Accidental,"₹1,77,199",Hyderabad
1,2010 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"63,438 km",November 2010,1st Owner,MANUAL,Non-Accidental,"₹1,86,999",Hyderabad
2,2007 Hyundai Santro Xing XO ERLX EURO III MANUAL,XO ERLX EURO III MANUAL,Petrol,"52,521 km",September 2007,2nd Owner,MANUAL,Non-Accidental,"₹1,68,399",Hyderabad
3,2010 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"59,344 km",August 2010,2nd Owner,MANUAL,Non-Accidental,"₹1,94,599",Hyderabad
4,2008 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"61,119 km",December 2008,1st Owner,MANUAL,Non-Accidental,"₹1,48,099",Hyderabad

In [204]:
cars_df_H1.to_csv("cars_df_H1")

In [205]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [206]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [207]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [208]:
# Location
Hyderabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(7) > span")

Hyderabad.click()

In [209]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [210]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [213]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [215]:
urls = urls[:230]

In [216]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [218]:
# Make dataframe 
cars_df_H2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_H2["Location"] = "Hyderabad"

In [219]:
cars_df_H2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2013 Hyundai Grand i10 SPORTS 1.2 VTVT MANUAL,SPORTS 1.2 VTVT MANUAL,Petrol,"11,171 km",October 2013,1st Owner,MANUAL,Non-Accidental,"₹4,56,599",Hyderabad
1,2012 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"21,215 km",July 2012,1st Owner,MANUAL,Non-Accidental,"₹2,54,399",Hyderabad
2,2017 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,"13,599 km",March 2017,2nd Owner,MANUAL,Non-Accidental,"₹3,89,999",Hyderabad
3,2010 Hyundai i10 MAGNA 1.2 MANUAL,MAGNA 1.2 MANUAL,Petrol,"23,488 km",March 2010,1st Owner,MANUAL,Non-Accidental,"₹3,10,999",Hyderabad
4,2011 Maruti Wagon R 1.0 LXI MANUAL,LXI MANUAL,Petrol,"20,979 km",March 2011,1st Owner,MANUAL,Non-Accidental,"₹3,61,599",Hyderabad

In [220]:
cars_df_H2.to_csv("cars_df_H2")

In [221]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [222]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [223]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [224]:
# Location
Hyderabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(7) > span")

Hyderabad.click()

In [225]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [226]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [227]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [229]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [231]:
# Make dataframe 
cars_df_H3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_H3["Location"] = "Hyderabad"

In [232]:
cars_df_H3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2017 Hyundai Grand i10 SPORTS 1.2 VTVT MANUAL,SPORTS 1.2 VTVT MANUAL,Petrol,"18,950 km",August 2017,2nd Owner,MANUAL,Non-Accidental,"₹5,09,599",Hyderabad
1,2017 Hyundai Grand i10 SPORTZ (O) 1.2 AT VTVT,SPORTZ (O) 1.2 AT VTVT,Petrol,"17,406 km",May 2017,1st Owner,NA,Non-Accidental,"₹5,65,699",Hyderabad
2,2018 Hyundai Grand i10 SPORTZ 1.2 KAPPA VTVT M...,SPORTZ 1.2 KAPPA VTVT MANUAL,Petrol,"12,750 km",November 2018,2nd Owner,MANUAL,Non-Accidental,"₹5,49,099",Hyderabad
3,2019 Maruti New Wagon-R VXI 1.2L MANUAL,VXI 1.2L MANUAL,Petrol,"15,186 km",January 2019,1st Owner,MANUAL,Non-Accidental,"₹5,03,599",Hyderabad
4,2014 Maruti Swift Dzire VDI BS IV MANUAL,VDI BS IV MANUAL,Diesel,"38,846 km",June 2014,2nd Owner,MANUAL,Non-Accidental,"₹5,23,799",Hyderabad

In [233]:
cars_df_H3.to_csv("cars_df_H3")

In [234]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [235]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [236]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [237]:
# Location
Hyderabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(7) > span")

Hyderabad.click()

In [238]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [239]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [240]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [242]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [243]:
# Make dataframe 
cars_df_H4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_H4["Location"] = "Hyderabad"

In [244]:
cars_df_H4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2017 Toyota Innova Crysta 2.8 GX AT 7 STR AUTO...,2.8 GX AT 7 STR AUTOMATIC,Diesel,"41,347 km",November 2017,1st Owner,AUTOMATIC,Non-Accidental,"₹16,33,199",Hyderabad
1,2019 Maruti Vitara Brezza ZDI PLUS DUAL TONE M...,ZDI PLUS DUAL TONE MANUAL,Diesel,"47,337 km",September 2019,1st Owner,MANUAL,Non-Accidental,"₹11,05,099",Hyderabad
2,2019 Toyota Innova Crysta 2.4 GX 8 STR MANUAL,2.4 GX 8 STR MANUAL,Diesel,"1,87,062 km",March 2019,1st Owner,MANUAL,Non-Accidental,"₹15,48,699",Hyderabad
3,2018 Toyota Innova Crysta 2.4 VX 8 STR MANUAL,2.4 VX 8 STR MANUAL,Diesel,"1,81,973 km",March 2018,1st Owner,MANUAL,Non-Accidental,"₹18,26,199",Hyderabad
4,2017 Toyota Innova Crysta 2.4 VX 8 STR MANUAL,2.4 VX 8 STR MANUAL,Diesel,"1,47,554 km",March 2017,1st Owner,MANUAL,Non-Accidental,"₹16,20,999",Hyderabad

In [245]:
cars_df_H4.to_csv("cars_df_H4")

In [246]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [247]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [248]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [249]:
# Location
Chennai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(8) > span")

Chennai.click()

In [250]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [251]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [252]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [254]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [256]:
# Make dataframe 
cars_df_CH1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_CH1["Location"] = "Chennai"

In [257]:
cars_df_CH1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2011 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"40,146 km",March 2011,1st Owner,MANUAL,Non-Accidental,"₹1,93,499",Chennai
1,2011 Chevrolet Spark LS 1.0 MANUAL,LS 1.0 MANUAL,Petrol,"43,322 km",September 2011,1st Owner,MANUAL,Non-Accidental,"₹1,80,299",Chennai
2,2008 Maruti Wagon R VXI BS III MANUAL,VXI BS III MANUAL,Petrol,"70,723 km",January 2008,1st Owner,MANUAL,Non-Accidental,"₹1,82,599",Chennai
3,2007 Hyundai Santro Xing XL ERLX EURO III MANUAL,XL ERLX EURO III MANUAL,Petrol,"71,079 km",August 2007,1st Owner,MANUAL,Non-Accidental,"₹1,87,099",Chennai
4,2011 Hyundai Santro Xing GL PLUS LPG MANUAL,GL PLUS LPG MANUAL,Petrol + LPG,"90,676 km",April 2011,2nd Owner,MANUAL,Non-Accidental,"₹1,96,499",Chennai

In [258]:
cars_df_CH1.to_csv("cars_df_CH1")

In [259]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [260]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [261]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [262]:
# Location
Chennai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(8) > span")

Chennai.click()

In [263]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [264]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [265]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [267]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [269]:
# Make dataframe 
cars_df_CH2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_CH2["Location"] = "Chennai"

In [270]:
cars_df_CH2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2011 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,"13,977 km",April 2011,1st Owner,MANUAL,Non-Accidental,"₹2,50,499",Chennai
1,2013 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,"16,288 km",September 2013,2nd Owner,MANUAL,Non-Accidental,"₹2,93,099",Chennai
2,2011 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"9,924 km",September 2011,1st Owner,MANUAL,Non-Accidental,"₹2,76,799",Chennai
3,2016 Hyundai Eon MAGNA PLUS MANUAL,MAGNA PLUS MANUAL,Petrol,"9,444 km",January 2016,2nd Owner,MANUAL,Non-Accidental,"₹3,28,599",Chennai
4,2018 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,"6,145 km",March 2018,1st Owner,MANUAL,Non-Accidental,"₹4,18,699",Chennai

In [271]:
cars_df_CH2.to_csv("cars_df_CH2")

In [272]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [273]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [274]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [275]:
# Location
Chennai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(8) > span")

Chennai.click()

In [276]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [277]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [278]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [280]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [282]:
# Make dataframe 
cars_df_CH3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_CH3["Location"] = "Chennai"

In [283]:
cars_df_CH3.to_csv("cars_df_CH3")

In [284]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [285]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [286]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [287]:
# Location
Chennai = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(8) > span")

Chennai.click()

In [288]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [289]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [290]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [292]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [293]:
# Make dataframe 
cars_df_CH4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_CH4["Location"] = "Chennai"

In [294]:
cars_df_CH4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2019 Mahindra XUV 3OO W8(O) MANUAL,W8(O) MANUAL,Diesel,"14,187 km",August 2019,1st Owner,MANUAL,Non-Accidental,"₹11,72,499",Chennai
1,2019 Tata Hexa Varicor 400 XT MANUAL,Varicor 400 XT MANUAL,Diesel,"34,262 km",January 2019,1st Owner,MANUAL,Non-Accidental,"₹18,84,399",Chennai
2,2019 Tata Hexa Varicor 400 XT MANUAL,Varicor 400 XT MANUAL,Diesel,"46,337 km",April 2019,1st Owner,MANUAL,Non-Accidental,"₹18,01,499",Chennai
3,2017 Jeep Compass 2.0 LIMITED MANUAL,2.0 LIMITED MANUAL,Diesel,"24,303 km",July 2017,1st Owner,MANUAL,Non-Accidental,"₹15,07,299",Chennai
4,2019 KIA SELTOS GTX + AT PETROL,GTX + AT PETROL,Petrol,"12,283 km",September 2019,1st Owner,NA,Non-Accidental,"₹15,85,099",Chennai

In [295]:
cars_df_CH4.to_csv("cars_df_CH4")

In [296]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [297]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [298]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [299]:
# Location
Kolkata = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(9) > span")

Kolkata.click()

In [300]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [301]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [302]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [304]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [305]:
# Make dataframe 
cars_df_K1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_K1["Location"] = "Kolkata"

In [306]:
cars_df_K1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2012 Maruti Alto LXI MANUAL,LXI MANUAL,Petrol,"32,892 km",January 2012,1st Owner,MANUAL,Non-Accidental,"₹1,76,899",Kolkata
1,2013 Chevrolet Beat LS DIESEL MANUAL,LS DIESEL MANUAL,Diesel,"23,885 km",January 2013,2nd Owner,MANUAL,Non-Accidental,"₹1,46,399",Kolkata

In [307]:
cars_df_K1.to_csv("cars_df_K1")

In [308]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [309]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [310]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [311]:
# Location
Kolkata = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(9) > span")

Kolkata.click()

In [312]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [313]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [314]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [316]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [317]:
# Make dataframe 
cars_df_K2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_K2["Location"] = "Kolkata"

In [318]:
cars_df_K2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2018 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"3,697 km",May 2018,1st Owner,MANUAL,Non-Accidental,"₹3,03,499",Kolkata
1,2012 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,"27,056 km",January 2012,1st Owner,MANUAL,Non-Accidental,"₹3,37,699",Kolkata
2,2017 Hyundai Elite i20 SPORTZ 1.2 MANUAL,SPORTZ 1.2 MANUAL,Petrol,"52,065 km",April 2017,2nd Owner,MANUAL,Non-Accidental,"₹4,78,899",Kolkata
3,2014 Hyundai Eon D LITE PLUS MANUAL,D LITE PLUS MANUAL,Petrol,"62,278 km",January 2014,1st Owner,MANUAL,Non-Accidental,"₹2,14,299",Kolkata
4,2015 Datsun Go Plus T MANUAL,T MANUAL,Petrol,"11,009 km",May 2015,1st Owner,MANUAL,Non-Accidental,"₹2,31,999",Kolkata

In [319]:
cars_df_K2.to_csv("cars_df_K2")

In [320]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [321]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [322]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [323]:
# Location
Kolkata = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(9) > span")

Kolkata.click()

In [324]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [325]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [326]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [328]:
# Make dataframe 
cars_df_K3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_K3["Location"] = "Kolkata"

In [329]:
cars_df_K3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2018 Maruti Alto 800 LXI MANUAL,LXI MANUAL,Petrol,"3,697 km",May 2018,1st Owner,MANUAL,Non-Accidental,"₹3,03,499",Kolkata
1,2012 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,"27,056 km",January 2012,1st Owner,MANUAL,Non-Accidental,"₹3,37,699",Kolkata
2,2017 Hyundai Elite i20 SPORTZ 1.2 MANUAL,SPORTZ 1.2 MANUAL,Petrol,"52,065 km",April 2017,2nd Owner,MANUAL,Non-Accidental,"₹4,78,899",Kolkata
3,2014 Hyundai Eon D LITE PLUS MANUAL,D LITE PLUS MANUAL,Petrol,"62,278 km",January 2014,1st Owner,MANUAL,Non-Accidental,"₹2,14,299",Kolkata
4,2015 Datsun Go Plus T MANUAL,T MANUAL,Petrol,"11,009 km",May 2015,1st Owner,MANUAL,Non-Accidental,"₹2,31,999",Kolkata

In [330]:
cars_df_K3.to_csv("cars_df_K3")

In [331]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [332]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [333]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [334]:
# Location
Kolkata = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(9) > span")

Kolkata.click()

In [335]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [336]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [337]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [338]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [339]:
# Make dataframe 
cars_df_K4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_K4["Location"] = "Kolkata"

In [340]:
cars_df_K4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2018 Honda City ZX CVT AUTOMATIC,ZX CVT AUTOMATIC,Petrol,"15,621 km",June 2018,1st Owner,AUTOMATIC,Non-Accidental,"₹10,44,499",Kolkata
1,2019 Jeep Compass 2.0 LIMITED MANUAL,2.0 LIMITED MANUAL,Diesel,"21,041 km",February 2019,1st Owner,MANUAL,Non-Accidental,"₹14,79,899",Kolkata
2,2014 Audi A6 35 TDI PEMIUM,35 TDI PEMIUM,Diesel,"45,325 km",June 2014,2nd Owner,NA,Non-Accidental,"₹14,49,899",Kolkata

In [341]:
cars_df_K4.to_csv("cars_df_K4")

In [356]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [357]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [358]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [359]:
# Location
Ahmedabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(10) > span")

Ahmedabad.click()

In [360]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [361]:
under_2 = driver.find_element_by_xpath("//li[@id='0-200000']")

under_2.click()

In [362]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [363]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [365]:
# Make dataframe 
cars_df_AM1 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_AM1["Location"] = "Ahmedabad"

In [366]:
cars_df_AM1.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2016 Tata Nano TWIST XTA AUTOMATIC,TWIST XTA AUTOMATIC,Petrol,"13,430 km",May 2016,1st Owner,AUTOMATIC,Non-Accidental,"₹1,70,499",Ahmedabad
1,2012 Maruti Alto K10 LXI MANUAL,LXI MANUAL,Petrol,"83,950 km",March 2012,3rd Owner,MANUAL,Non-Accidental,"₹1,61,699",Ahmedabad
2,2011 Maruti A Star VXI MANUAL,VXI MANUAL,Petrol,"59,884 km",January 2011,1st Owner,MANUAL,Non-Accidental,"₹1,70,499",Ahmedabad

In [367]:
cars_df_AM1.to_csv("cars_df_AM1")

In [368]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [369]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [370]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [371]:
# Location
Ahmedabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(10) > span")

Ahmedabad.click()

In [372]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [373]:
under_2 = driver.find_element_by_xpath("//li[@id='200000-500000']")

under_2.click()

In [376]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [378]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [379]:
# Make dataframe 
cars_df_AM2 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_AM2["Location"] = "Ahmedabad"

In [380]:
cars_df_AM2.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,749 km,November 2020,1st Owner,MANUAL,Non-Accidental,"₹4,85,399",Ahmedabad
1,2020 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,"1,999 km",February 2020,1st Owner,MANUAL,Non-Accidental,"₹4,83,099",Ahmedabad
2,2020 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,"3,822 km",January 2020,1st Owner,MANUAL,Non-Accidental,"₹4,61,999",Ahmedabad
3,2019 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,"3,540 km",November 2019,1st Owner,MANUAL,Non-Accidental,"₹4,75,099",Ahmedabad
4,2020 Maruti Alto VXI MANUAL,VXI MANUAL,Petrol,840 km,December 2020,1st Owner,MANUAL,Non-Accidental,"₹4,11,999",Ahmedabad

In [381]:
cars_df_AM2.to_csv("cars_df_AM2")

In [382]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [383]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [384]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [385]:
# Location
Ahmedabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(10) > span")

Ahmedabad.click()

In [386]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [387]:
under_2 = driver.find_element_by_xpath("//li[@id='500000-1000000']")

under_2.click()

In [388]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [389]:
len(urls)

124

In [390]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [391]:
# Make dataframe 
cars_df_AM3 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_AM3["Location"] = "Ahmedabad"

In [392]:
cars_df_AM3.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,2020 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,"3,919 km",July 2020,1st Owner,MANUAL,Non-Accidental,"₹6,63,299",Ahmedabad
1,2020 Maruti IGNIS SIGMA 1.2 K12 MANUAL,SIGMA 1.2 K12 MANUAL,Petrol,"3,142 km",October 2020,1st Owner,MANUAL,Non-Accidental,"₹5,29,899",Ahmedabad
2,2020 Tata ALTROZ XT 1.2 MANUAL,XT 1.2 MANUAL,Petrol,"1,882 km",July 2020,1st Owner,MANUAL,Non-Accidental,"₹7,08,999",Ahmedabad
3,2019 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,"7,905 km",May 2019,1st Owner,MANUAL,Non-Accidental,"₹5,00,299",Ahmedabad
4,2017 Hyundai Grand i10 SPORTZ 1.2 KAPPA VTVT M...,SPORTZ 1.2 KAPPA VTVT MANUAL,Petrol,"19,892 km",December 2017,1st Owner,MANUAL,Non-Accidental,"₹5,04,299",Ahmedabad

In [393]:
cars_df_AM3.to_csv("cars_df_AM3")

In [394]:
# URL of the cars 24 website 
url = "https://www.cars24.com/buy-used-cars/"

driver.get(url)

In [395]:
# Clicking on the all cars button
all_cars = driver.find_element_by_css_selector("body > div.js-content > div._3n_tN > div > div > div:nth-child(1) > div > button")

all_cars.click()

In [396]:
# Searching location
location_select = driver.find_element_by_css_selector("body > div.js-content > div.Ye5SB > div._1Nfgw > div > div > div.col-md-3._2VocW > p > span")

location_select.click()

In [397]:
# Location
Ahmedabad = driver.find_element_by_css_selector("body > div.js-content > div._3ZOW1 > div > div > div > div:nth-child(3) > ul > li:nth-child(10) > span")

Ahmedabad.click()

In [398]:
# Filtering Car prices
filter_price = driver.find_element_by_css_selector("body > div.js-content > div.container > div > div:nth-child(2) > ul > li:nth-child(1) > div")

filter_price.click()

In [399]:
under_2 = driver.find_element_by_xpath("//li[@id='1000000-9900000']")

under_2.click()

In [400]:
# Fetching urls
urls = []

for i in driver.find_elements_by_xpath("//div[@class='col-4']//a"):
    
    urls.append(i.get_attribute("href"))

In [402]:
# Name of the Car
Names = []

# Variant of the Car
Variant = []

# Price of the car
Prices = []

# Fuel_type
Fuel = []

# KMS
Kilometers = []

# Engine
Purchase = []

# Owners 
Owners = []

# Transmission
Transmission = []

# SIts
Nonacc = []



for url in urls:
    driver.get(url)
    
    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath("//h2[@class='_2geSF']")      
        Names.append(name.text)
    except NoSuchElementException:
        Names.append('-')
    
    
    
    # Extracting variant from Css Selector
    try:
        variant = driver.find_element_by_xpath("//span[@class='_18vo2']")      
        Variant.append(variant.text)
    except NoSuchElementException:
        Variant.append('-')
        
        
     
    # Extracting Price from Css Selector
    try:
        price = driver.find_element_by_xpath("//div[@class='text-right g-hPT']//strong")      
        Prices.append(price.text)
    except NoSuchElementException:
        Prices.append('-')
        
        
    
    # Extracting fuel from Css Selector
    try:
        fuel = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(4) > strong")      
        Fuel.append(fuel.text)
    except NoSuchElementException:
        Fuel.append('-')
        
   
    # Extracting Kilometers from Css Selector
    try:
        kms = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div > div > ul > li:nth-child(3) > strong")      
        Kilometers.append(kms.text)
    except NoSuchElementException:
        Kilometers.append('-')

        
     
    # Extracting engine from Css Selector
    try:
        purchase = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(9) > strong")      
        Purchase.append(purchase.text)
    except NoSuchElementException:
        Purchase.append('-')
        
        
    
    # Extracting owner count from Css Selector
    try:
        owner = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(2) > strong")      
        Owners.append(owner.text)
    except NoSuchElementException:
        Owners.append('-')
        
     
    # Extracting Transmission from Css Selector
    try:
        trans = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(6) > strong")      
        Transmission.append(trans.text)
    except NoSuchElementException:
        Transmission.append('-')
        
     
    # Extracting seats from Css Selector
    try:
        nas = driver.find_element_by_css_selector("body > div.js-content > div._3Ii-d > div._1AvBW > div > div > div.col-8 > div > ul > li:nth-child(1) > strong")      
        Nonacc.append(nas.text)
    except NoSuchElementException:
        Nonacc.append('-')

In [403]:
# Make dataframe 
cars_df_AM4 = pd.DataFrame({'Name':Names,'Variant':Variant,'Fuel':Fuel,'Kilometers':Kilometers,'Purchase Date':Purchase,
                        'Owners':Owners,'Transmission':Transmission,'Accidential':Nonacc,
                        'Price':Prices})

cars_df_AM4["Location"] = "Ahmedabad"

In [404]:
cars_df_AM4.head()

,Name,Variant,Fuel,Kilometers,Purchase Date,Owners,Transmission,Accidential,Price,Location
0,-,-,-,-,-,-,-,-,-,Ahmedabad
1,2019 Mahindra XUV500 W5 FWD,W5 FWD,Diesel,"28,580 km",April 2019,1st Owner,NA,Non-Accidental,"₹10,32,299",Ahmedabad
2,2019 Jeep Compass 2.0 LIMITED MANUAL,2.0 LIMITED MANUAL,Diesel,"60,569 km",January 2019,1st Owner,MANUAL,Non-Accidental,"₹13,14,999",Ahmedabad
3,2018 Audi A3 35TDI PREMIUM AUTOMATIC,35TDI PREMIUM AUTOMATIC,Diesel,"39,254 km",February 2018,2nd Owner,AUTOMATIC,Non-Accidental,"₹19,99,799",Ahmedabad
4,2019 KIA SELTOS GTX 1.4 GDI AT PETROL,GTX 1.4 GDI AT PETROL,Petrol,"12,143 km",September 2019,1st Owner,NA,Non-Accidental,"₹15,63,899",Ahmedabad

In [405]:
cars_df_AM4.to_csv("cars_df_AM4")