In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

### Q1)Scrape the details of most viewed videos on YouTube from Wikipedia:

- Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
- A) Rank


- B) Name


- C) Artist


- D) Upload date


- E) Views

In [2]:
# URL for the page to be scrapped
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

In [2]:
# Importing all the libraries for beautiful soup
import requests
import bs4
import lxml

In [4]:
# sending a request to the page 
req = requests.get(url)

In [5]:
# The request is approved
req

In [6]:
# Using beautiful soup to format the html text
soup = bs4.BeautifulSoup(req.text,'html.parser')

In [8]:
# Searching the table in the web page using it's class name
table_mv = soup.select('.wikitable')

In [10]:
# Using pandas read html method to read the html
df = pd.read_html(str(table_mv))

In [15]:
# creating a dataframe
df = df[0]

In [18]:
#Code to display row and column border

In [3]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [20]:
# we have some unecessary columns we need to drop them
df.head()

,No.,Video name,Uploader,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[24]",Luis Fonsi,7.39,"January 12, 2017",[C],NaN
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.43,"October 8, 2016",[D],NaN
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017",[E],NaN
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015",[F],NaN

In [21]:
# We can drop the "Note" and "Unnamed: 6" column as they are of no use
df = df.drop(["Note","Unnamed: 6"],axis=1)

In [29]:
# Final Dataframe 
df.head()

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.39,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.43,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"

### Q2)Scrape the details team India’s international fixtures from bcci.tv.
- Url = https://www.bcci.tv/.


You need to find following details:
- A) Match title (I.e. 1st ODI)


- B) Series


- C) Place


- D) Date


- E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [71]:
# Executing the chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\charl\Desktop\Study\DataTrained\Internship\Selenium\driver\chromedriver.exe")

In [92]:
# URL of the website 
url = "https://www.bcci.tv/"

In [93]:
# Using get method to proceed to the website
driver.get(url)

In [94]:
# clicking on the "International" button
clk = driver.find_element_by_css_selector("body > div.navigation > div > div.navigation__menu-container > div.navigation__menu-wrapper > nav > ul > li:nth-child(1) > div.navigation__drop-down.drop-down.drop-down--reveal-on-hover > div > ul > li:nth-child(1) > a")

In [95]:
# Getting the href attribute for the fixtures dropdown option
link = clk.get_attribute("href")

In [96]:
# Proceeding on the link through get() method
driver.get(link)

In [97]:
# Creating an empty list to append the information
Title = []

# Specifing Xpath to geth the text in html 
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):
    
    Title.append(i.text)

In [98]:
Title

['TEST', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST']

In [99]:
len(Title)

6

In [100]:
# Creating an empty list to append the information
Series = []


# Specifing Xpath to geth the text in html 
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    
    Series.append(i.text)

In [101]:
Series

['ICC WORLD TEST CHAMPIONSHIP',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [102]:
len(Series)

6

In [103]:
# Creating an empty list to append the information
Place = []

# Specifing Xpath to geth the text in html 
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span"):
    
    Place.append(i.text)

In [104]:
Place

['The Ageas Bowl, Southampton',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [105]:
len(Place)

6

In [106]:
# Creating an empty list to append the information
Date = []

# Specifing Xpath to geth the text in html 
for i in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']//strong"):
    
    Date.append(i.text)

In [107]:
Date

['Friday 18th June',
 'Wednesday 4th August',
 'Thursday 12th August',
 'Wednesday 25th August',
 'Thursday 2nd September',
 'Friday 10th September']

In [108]:
# Collecting the urls 
Urls = []

# Specifing Xpath to geth the links in Anchor tag

for i in driver.find_elements_by_xpath("//div[@class='page-content__inner']//a"):
    
    Urls.append(i.get_attribute("href"))

In [110]:
# Creating an empty list to append the information
Time_Note = []

for link in Urls:
    
    driver.get(link)
    
    # Specifing Xpath to geth the text in html
    
    time = driver.find_element_by_xpath("//span[@class='mc-header-scorebox__ist-time']")
    
    Time_Note.append(time.text)

In [111]:
Time_Note

['15:00 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

In [112]:
len(Time_Note)

6

In [113]:
# Creating dataframe
df_icc = pd.DataFrame({})
df_icc["Title"] = Title
df_icc["Series"] = Series
df_icc["Place"] = Place
df_icc["Date"] = Date
df_icc["Time_Note"] = Time_Note

In [114]:
# Final Dataframe
df_icc.head()

,Title,Series,Place,Date,Time_Note
0,TEST,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",Friday 18th June,15:00 IST
1,TEST,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,15:30 IST
2,TEST,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,15:30 IST
3,TEST,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,15:30 IST
4,TEST,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,15:30 IST

### Q)3Scrape the details of selenium exception from guru99.com.
- Url = https://www.guru99.com/
You need to find following details:
- A) Name


- B) Description


- Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [115]:
# URL for the website
url = "https://www.guru99.com/"

In [116]:
# Using driver.get() method
driver.get(url)

In [117]:
# Using css selector to get the link for "Selenium"
clk_1 = driver.find_element_by_css_selector("#java_technologies > li:nth-child(3) > a")

In [118]:
# Using get attribute method
link = clk_1.get_attribute("href")

# Proceeding to the link
driver.get(link)

In [119]:
# Using css selector to get the link for Selenium Exception Handling (Common Exceptions List)
link_2 = driver.find_element_by_css_selector("#g-mainbar > div > div > div > div > div > div > div:nth-child(3) > table:nth-child(25) > tbody > tr:nth-child(34) > td.responsivetable > a")

In [120]:
# Using get attribute method
link_t = link_2.get_attribute("href")

# Proceeding to the link
driver.get(link_t)

In [124]:
# Using Beautful soup to get the table
link_t

'https://www.guru99.com/exception-handling-selenium.html'

In [127]:
# sending a request to the page 
req = requests.get(link_t)

In [128]:
# the request is approved
req

In [129]:
# Using beautiful soup to format the html text

soup = bs4.BeautifulSoup(req.text,'html.parser')

In [130]:
# Searching the table in the web page using it's class name

table_guru = soup.select('.table.table-striped')

In [133]:
# Using pandas read html method to read the html
df_guru = pd.read_html(str(table_guru))

In [141]:
# Creating dataframe
df = df_guru[0]

In [143]:
# Renaming the columns
df.columns = ["Exception name","Description"]

In [147]:
# Dropping unecessary information
df = df.drop(0,axis=0)

In [148]:
df.head()

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...

### Q4)Scrape the details of State-wise GDP of India from statisticstime.com.
-- Url = http://statisticstimes.com/
You have to find following details:
- A) Rank
- B) State
- C) GSDP(18-19)
- D) GSDP(17-18)
- E) Share(2017)
- F) GDP($ billion)


Note: - From statisticstimes home page you have to reach to economy page through code.

In [6]:
# Url for statistic times
url = "http://statisticstimes.com/"

In [7]:
# proceeding to the link
driver.get(url)

In [8]:
# Link for economy dropdown option
link = driver.find_element_by_css_selector("#top > div.navbar > div:nth-child(2) > div > a:nth-child(3)")

In [9]:
# Link for economy option
eco = link.get_attribute("href")

In [10]:
# Proceeding to the link
driver.get(eco)

In [11]:
# getting the link for state wise GDP distribution
link2 = driver.find_element_by_css_selector("body > div:nth-child(2) > div:nth-child(5) > div:nth-child(2) > ul > li:nth-child(1) > a")

In [12]:
# Saving the link in states variable
states = link2.get_attribute("href")

In [13]:
# Proceeding to the link
driver.get(states)

In [15]:
# Using requests method to get the permission from the web page
req = requests.get(states)

In [16]:
# Permission granted
req

In [17]:
soup = bs4.BeautifulSoup(req.text,"html.parser")

In [19]:
# Searching the table in the web page using it's class name
table_GDP = soup.select('#table_id')

In [20]:
table_GDP

[<table class="display" id="table_id" style="width:890px;display:table;border:1px solid #0000FF;">
 <caption style="caption-side:top">GSDP</caption>
 <thead>
 <tr><th rowspan="2" style="background-color:#993366">Rank</th>
 <th rowspan="2" style="background-color:#b33c00">State</th>
 <th colspan="2" style="background-color:#00e64d">GSDP (Cr INR at Current prices)</th>
 <th style="background-color:#9932CC">Share</th><th style="background-color:#DEB887">GDP ($billion)</th>
 <th colspan="2" style="background-color:#1E90FF">GSDP (Cr INR at 2011-12 prices)</th></tr>
 <tr style="background-color:#a3a375"><th>19-20</th><th>18-19</th>
 <th>18-19</th><th>2019</th><th>19-20</th><th>18-19</th></tr>
 </thead>
 <tbody>
 <tr><td class="data1">1</td><td class="name">Maharashtra</td>
 <td class="data">-</td>
 <td class="data">2,632,792</td>
 <td class="data">13.94%</td>
 <td class="data">399.921</td>
 <td class="data">-</td>
 <td class="data">2,039,074</td>
 </tr><tr><td class="data1">2</td><td class="name">Tamil Nadu</td>
 <td class="data">1,845,853</td>
 <td class="data">1,630,208</td>
 <td class="data">8.63%</td>
 <td class="data">247.629</td>
 <td class="data">1,312,929</td>
 <td class="data">1,215,307</td>
 </tr><tr><td class="data1">3</td><td class="name">Uttar Pradesh</td>
 <td class="data">1,687,818</td>
 <td class="data">1,584,764</td>
 <td class="data">8.39%</td>
 <td class="data">240.726</td>
 <td class="data">1,166,817</td>
 <td class="data">1,123,982</td>
 </tr><tr><td class="data1">4</td><td class="name">Gujarat</td>
 <td class="data">-</td>
 <td class="data">1,502,899</td>
 <td class="data">7.96%</td>
 <td class="data">228.290</td>
 <td class="data">-</td>
 <td class="data">1,186,379</td>
 </tr><tr><td class="data1">5</td><td class="name">Karnataka</td>
 <td class="data">1,631,977</td>
 <td class="data">1,493,127</td>
 <td class="data">7.91%</td>
 <td class="data">226.806</td>
 <td class="data">1,156,039</td>
 <td class="data">1,091,077</td>
 </tr><tr><td class="data1">6</td><td class="name">West Bengal</td>
 <td class="data">1,253,832</td>
 <td class="data">1,089,898</td>
 <td class="data">5.77%</td>
 <td class="data">165.556</td>
 <td class="data">793,223</td>
 <td class="data">739,525</td>
 </tr><tr><td class="data1">7</td><td class="name">Rajasthan</td>
 <td class="data">1,020,989</td>
 <td class="data">942,586</td>
 <td class="data">4.99%</td>
 <td class="data">143.179</td>
 <td class="data">711,627</td>
 <td class="data">677,428</td>
 </tr><tr><td class="data1">8</td><td class="name">Andhra Pradesh</td>
 <td class="data">972,782</td>
 <td class="data">862,957</td>
 <td class="data">4.57%</td>
 <td class="data">131.083</td>
 <td class="data">672,018</td>
 <td class="data">621,301</td>
 </tr><tr><td class="data1">9</td><td class="name">Telangana</td>
 <td class="data">969,604</td>
 <td class="data">861,031</td>
 <td class="data">4.56%</td>
 <td class="data">130.791</td>
 <td class="data">663,258</td>
 <td class="data">612,828</td>
 </tr><tr><td class="data1">10</td><td class="name">Madhya Pradesh</td>
 <td class="data">906,672</td>
 <td class="data">809,592</td>
 <td class="data">4.29%</td>
 <td class="data">122.977</td>
 <td class="data">561,801</td>
 <td class="data">522,009</td>
 </tr><tr><td class="data1">11</td><td class="name">Kerala</td>
 <td class="data">-</td>
 <td class="data">781,653</td>
 <td class="data">4.14%</td>
 <td class="data">118.733</td>
 <td class="data">-</td>
 <td class="data">559,412</td>
 </tr><tr><td class="data1">12</td><td class="name">Delhi</td>
 <td class="data">856,112</td>
 <td class="data">774,870</td>
 <td class="data">4.10%</td>
 <td class="data">117.703</td>
 <td class="data">634,408</td>
 <td class="data">590,569</td>
 </tr><tr><td class="data1">13</td><td class="name">Haryana</td>
 <td class="data">831,610</td>
 <td class="data">734,163</td>
 <td class="data">3.89%</td>
 <td class="data">111.519</td>
 <td class="data">572,240</td>
 <td class="data">531,085</td>
 </tr><tr><td class="data1">14</td><td class="name">Bihar</td>
 <td class="data">611,804</td>
 <td class="data">530,363</td>
 <td class="data">2.81%</td>
 <td class="data">80.562</td>
 <td class="data">414,977</td>
 <td class="data">375,651</td>
 </tr><tr><td class="data1">15</td><td class="name">Punjab</td>
 <td class="data">574,760</td>
 <td class="data">526,376</td>
 <td class="data">2.79%</td>
 <td class="data">79.957</td>
 <td class="data">418,868</td>
 <td class="data">397,669</td>
 </tr><tr><td class="data1">16</td><td class="name">Odisha</td>
 <td class="data">521,275</td>
 <td class="data">487,805</td>
 <td class="data">2.58%</td>
 <td class="data">74.098</td>
 <td class="data">396,499</td>
 <td class="data">376,877</td>
 </tr><tr><td class="data1">17</td><td class="name">Assam</td>
 <td class="data">-</td>
 <td class="data">315,881</td>
 <td class="data">1.67%</td>
 <td class="data">47.982</td>
 <td class="data">-</td>
 <td class="data">234,048</td>
 </tr><tr><td class="data1">18</td><td class="name">Chhattisgarh</td>
 <td class="data">329,180</td>
 <td class="data">304,063</td>
 <td class="data">1.61%</td>
 <td class="data">46.187</td>
 <td class="data">243,477</td>
 <td class="data">231,182</td>
 </tr><tr><td class="data1">19</td><td class="name">Jharkhand</td>
 <td class="data">328,598</td>
 <td class="data">297,204</td>
 <td class="data">1.57%</td>
 <td class="data">45.145</td>
 <td class="data">240,036</td>
 <td class="data">224,986</td>
 </tr><tr><td class="data1">20</td><td class="name">Uttarakhand</td>
 <td class="data">-</td>
 <td class="data">245,895</td>
 <td class="data">1.30%</td>
 <td class="data">37.351</td>
 <td class="data">-</td>
 <td class="data">193,273</td>
 </tr><tr><td class="data1">21</td><td class="name">Jammu &amp; Kashmir</td>
 <td class="data">-</td>
 <td class="data">155,956</td>
 <td class="data">0.83%</td>
 <td class="data">23.690</td>
 <td class="data">-</td>
 <td class="data">112,755</td>
 </tr><tr><td class="data1">22</td><td class="name">Himachal Pradesh</td>
 <td class="data">165,472</td>
 <td class="data">153,845</td>
 <td class="data">0.81%</td>
 <td class="data">23.369</td>
 <td class="data">124,403</td>
 <td class="data">117,851</td>
 </tr><tr><td class="data1">23</td><td class="name">Goa</td>
 <td class="data">80,449</td>
 <td class="data">73,170</td>
 <td class="data">0.39%</td>
 <td class="data">11.115</td>
 <td class="data">63,408</td>
 <td class="data">57,787</td>
 </tr><tr><td class="data1">24</td><td class="name">Tripura</td>
 <td class="data">55,984</td>
 <td class="data">49,845</td>
 <td class="data">0.26%</td>
 <td class="data">7.571</td>
 <td class="data">40,583</td>
 <td class="data">36,963</td>
 </tr><tr><td class="data1">25</td><td class="name">Chandigarh</td>
 <td class="data">-</td>
 <td class="data">42,114</td>
 <td class="data">0.22%</td>
 <td class="data">6.397</td>
 <td class="data">-</td>
 <td class="data">31,192</td>
 </tr><tr><td class="data1">26</td><td class="name">Puducherry</td>
 <td class="data">38,253</td>
 <td class="data">34,433</td>
 <td class="data">0.18%</td>
 <td class="data">5.230</td>
 <td class="data">25,093</td>
 <td class="data">23,013</td>
 </tr><tr><td class="data1">27</td><td class="name">Meghalaya</td>
 <td class="data">36,572</td>
 <td class="data">33,481</td>
 <td class="data">0.18%</td>
 <td class="data">5.086</td>
 <td class="data">26,695</td>
 <td class="data">24,682</td>
 </tr><tr><td class="data1">28</td><td class="name">Sikkim</td>
 <td class="data">32,496</td>
 <td class="data">28,723</td>
 <td class="data">0.15%</td>
 <td class="data">4.363</td>
 <td class="data">20,017</td>
 <td class="data">18,722</td>
 </tr><tr><td class="data1">29</td><td class="name">Manipur</td>
 <td class="data">31,790</td>
 <td class="data">27,870</td>
 <td class="data">0.15%</td>
 <td class="data">4.233</td>
 <td class="data">20,673</td>
 <td class="data">19,300</td>
 </tr><tr><td class="data1">30</td><td class="name">Nagaland</td>
 <td class="data">-</td>
 <td class="data">27,283</td>
 <td class="data">0.14%</td>
 <td class="data">4.144</td>
 <td class="data">-</td>
 <td class="data">17,647</td>
 </tr><tr><td class="data1">31</td><td class="name">Arunachal Pradesh</td>
 <td class="data">-</td>
 <td class="data">24,603</td>
 <td class="data">0.13%</td>
 <td class="data">3.737</td>
 <td class="data">-</td>
 <td class="data">16,676</td>
 </tr><tr><td class="data1">32</td><td class="name">Mizoram</td>
 <td class="data">26,503</td>
 <td class="data">22,287</td>
 <td class="data">0.12%</td>
 <td class="data">3.385</td>
 <td class="data">18,797</td>
 <td class="data">16,478</td>
 </tr><tr><td class="data1">33</td><td class="name">Andaman &amp; Nicobar Islands</td>
 <td class="data">-</td><td class="data">-</td><td class="data">-</td>
 <td class="data">-</td><td class="data">-</td><td class="data">-</td></tr>
 </tbody>
 <tfoot>
 <tr style="background-color:#66FFC2"><td class="data1"></td><td class="name">India</td>
 <td class="data">20,351,013</td>
 <td class="data">18,886,957</td>
 <td class="data"></td><td class="data">2,869</td>
 <td class="data">14,569,268</td>
 <td class="data">14,003,316</td>
 </tr>
 </tfoot>
 </table>]

In [21]:
# Using pandas read html method to read the html
df = pd.read_html(str(table_GDP))

In [23]:
# Saving the dataframe as df
df = df[0]

In [27]:
# Final Dataframe
df.head()

  Rank          State GSDP (Cr INR at Current prices)            Share  \
  Rank          State                           19-20    18-19   18-19
0  1.0    Maharashtra                               -  2632792  13.94%
1  2.0     Tamil Nadu                         1845853  1630208   8.63%
2  3.0  Uttar Pradesh                         1687818  1584764   8.39%
3  4.0        Gujarat                               -  1502899   7.96%
4  5.0      Karnataka                         1631977  1493127   7.91%

  GDP ($billion) GSDP (Cr INR at 2011-12 prices)
            2019                           19-20    18-19
0        399.921                               -  2039074
1        247.629                         1312929  1215307
2        240.726                         1166817  1123982
3        228.290                               -  1186379
4        226.806                         1156039  1091077

### Q5)Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
- A) Repository title


- B) Repository description


- C) Contributors count


- D) Language used

In [14]:
# URL of the website to be scrapped
url = "https://github.com/"

In [15]:
# using .get() method to open the url
driver.get(url)

In [16]:
# Using Css selectors to find and click the explore button
link = driver.find_element_by_css_selector("body > div.position-relative.js-header-wrapper > header > div > div.HeaderMenu.HeaderMenu--logged-out.position-fixed.top-0.right-0.bottom-0.height-fit.position-lg-relative.d-lg-flex.flex-justify-between.flex-items-center.flex-auto > nav > ul > li:nth-child(4) > details > div > ul:nth-child(1) > li > a")

In [17]:
# Getting the attribute href to get the link of the page
explore = link.get_attribute("href")

In [18]:
# Clicking the explore link
driver.get(explore)

In [19]:
# Using css selector to find the trending button link
trend = driver.find_element_by_css_selector("#js-pjax-container > div.site-subnav.color-bg-primary.site-subnav-sticky.js-sticky > nav > div > a:nth-child(4)")

In [20]:
# Saving the link in trending variable
trending = trend.get_attribute('href')

In [21]:
# clicking on the trending link
driver.get(trending)

In [22]:
# Creating an empty list to collect the urls
urls = []

# Using x path to get all the urls of the page
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a"):
    
    urls.append(i.get_attribute('href'))

In [23]:
# URLS from the page
urls

['https://github.com/PaperMC/Paper',
 'https://github.com/hasura/graphql-engine',
 'https://github.com/neovim/neovim',
 'https://github.com/udacity/nd064_course_1',
 'https://github.com/alpinejs/alpine',
 'https://github.com/madMAx43v3r/chia-plotter',
 'https://github.com/iptv-org/iptv',
 'https://github.com/zzanehip/The-OldOS-Project',
 'https://github.com/ytdl-org/youtube-dl',
 'https://github.com/biancangming/wtv',
 'https://github.com/maziarraissi/Applied-Deep-Learning',
 'https://github.com/jwasham/coding-interview-university',
 'https://github.com/chrxh/alien',
 'https://github.com/the-hyp0cr1t3/DSA-Training-2021',
 'https://github.com/wuzhi04/MyActions',
 'https://github.com/yangtingxiao/QuantumultX',
 'https://github.com/MuriungiPatrick/Bootstrap-5-portfolio-template',
 'https://github.com/ashishpatel26/500-AI-Machine-learning-Deep-learning-Computer-vision-NLP-Projects-with-code',
 'https://github.com/jina-ai/jina',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/hlissner/doom-emacs',
 'https://github.com/drawrowfly/tiktok-scraper',
 'https://github.com/Genymobile/scrcpy',
 'https://github.com/atom/atom',
 'https://github.com/nushell/nushell']

In [24]:
# Empty list for title
Title = []

# Empty list for Description
Description = []

# Empty list for Contributors 
Contributors = []

# Empty list for Language
Language = []

# Iterating through the urls 
for link in urls:
    
    # Clicking each individual url
    driver.get(link)
    
    # Using try catch exception handling
    try:
        
        # Using css selector to find all the Github titles
        title = driver.find_element_by_css_selector("#js-repo-pjax-container > div.color-bg-secondary.pt-3.hide-full-screen.mb-5 > div.d-flex.mb-3.px-3.px-md-4.px-lg-5 > div > h1 > span.author.flex-self-stretch > a")
        
        Title.append(title.text)
        
    except NoSuchElementException:
        
        # If no elements found then appending an "-"
        Title.append("-")
        
    try:
        # Using X path to find all the Github Descreptions
        des = driver.find_element_by_xpath("//div[@id='readme']")
        
        Description.append(des.text)
        
    except NoSuchElementException:
        
        # If no elements found then appending an "-"
        Description.append("-")
    
    try:
        
        # Using Css selector to find all the Github Contributors
        con = driver.find_element_by_css_selector("#repo-content-pjax-container > div > div.gutter-condensed.gutter-lg.flex-column.flex-md-row.d-flex > div.flex-shrink-0.col-12.col-md-3 > div > div:nth-child(3) > div > h2 > a > span")
        
        Contributors.append(con.text)
        
    except NoSuchElementException:
        
        # If no elements found then appending an "-"
        Contributors.append("-")
        
    try:
        
        # Using Css selector to find all the Github Languages
        lan = driver.find_element_by_css_selector("#repo-content-pjax-container > div > div.gutter-condensed.gutter-lg.flex-column.flex-md-row.d-flex > div.flex-shrink-0.col-12.col-md-3 > div > div:nth-child(4) > div > ul")
        
        Language.append(lan.text)
        
    except NoSuchElementException:
        
        # If no elements found then appending an "-"
        Language.append("-")

In [29]:
Lang = Language

In [41]:
# Replacing all the "\n" with space in Language
Language = [x.replace('\n', ' ') for x in Lang]

In [38]:
# Replacing all the "\n" with space in description
Des = [x.replace('\n', '') for x in Description]

In [33]:
# Printing the lengths of all the lists
print(len(Title))
print(len(Description))
print(len(Contributors))
print(len(Language))

25
25
25
25

In [42]:
# Creating dataframe
df_git = pd.DataFrame({})
df_git["Title"] = Title
df_git["Series"] = Des
df_git["Place"] = Contributors
df_git["Date"] = Language

In [43]:
# Final Dataframe
df_git.head()

,Title,Series,Place,Date
0,PaperMC,README.mdPaperHigh performance Spigot fork tha...,245,Shell 77.9% Java 22.1%
1,hasura,README.mdHasura GraphQL EngineHasura GraphQL E...,,
2,neovim,README.mdDocumentation | Chat | TwitterNeovim ...,-,-
3,udacity,README.mdnd064_C1,,-
4,alpinejs,README.mdAlpine V3Go to the Alpine docs for mo...,-,-

### Q6) Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [72]:
# URL of the website
url = "https://www.billboard.com/"

In [73]:
# Using get method to proceed to the page
driver.get(url)

In [74]:
# Getting the top 100 link using css selector
link = driver.find_element_by_css_selector("#root > div.sticky.header__sticky > div.header__sticky__child > nav > ul > li:nth-child(3) > a")

In [75]:
# Saving the link in top_100
top_100 = link.get_attribute("href")

In [76]:
# Going to the top 100 link
driver.get(top_100)

In [77]:
# Empty list for Names
Name = []

# Empty list for Artists
Artist = []

# Empty list for Last Week rank
L_W_K = []

# Empty list for Peak
Peak = []

# Empty list for Weeks on Board
Weeks_On_Board_Note = []


# X path to find all the song Names
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    
    Name.append(i.text)
    

# X path to find all the Artists Name   
for j in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    
    Artist.append(j.text)

# X path to find all the Last Week rank    
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    
    L_W_K.append(k.text)
    
# X path to find all the Peaks 
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    
    Peak.append(l.text)
    
# X path to find all the weeks on board
for M in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    
    Weeks_On_Board_Note.append(M.text)

In [83]:
# Creating dataframe
df_100 = pd.DataFrame({})
df_100["Name"] = Name
df_100["Artist"] = Artist
df_100["Last Week Rank"] = L_W_K
df_100["Peak"] = Peak
df_100["Weeks On Board Note"] = Weeks_On_Board_Note

In [84]:
# Final Dataframe
df_100.head()

,Name,Artist,Last Week Rank,Peak,Weeks On Board Note
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25

### Q7)Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:

- A) Name

- B) Designation

- C) Company

- D) Skills they hire for

- E) Location
Note: - From naukri.com homepage click on the recruiters

In [85]:
# Url of page
url = "https://www.naukri.com/"

In [86]:
# Going to the url
driver.get(url)

In [87]:
# Getting the recruiters
link = driver.find_element_by_css_selector("#root > div.headGNBWrap.initial.fixed > div > ul.midSec.menu > li:nth-child(2) > a")

In [88]:
# Saving the url in a variable
rec = link.get_attribute("href")

In [90]:
# Going to the url
driver.get(rec)

In [93]:
# Locating the search bar
search_bar = driver.find_element_by_class_name("sugInp")

In [94]:
# Searching Data Science in search bar
search_bar.send_keys("Data science")

In [95]:
# Loacting and clicking the search button
search_btn = driver.find_element_by_css_selector("#qsbFormBtn").click()

In [98]:
# Empty list for Names
Name = []

# Empty list for Designation
Designation = []

# Empty list for Skills
Skills = []


# Defining the X path for Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    
    Name.append(i.text)
    
# Defining the X path for Designation    
for j in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    
    Designation.append(j.text)
    
# Defining the X path for Skills
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    
    Skills.append(l.text)

In [105]:
# Collecting the urls for individual items in order to find Company and location
Urls = []

# Defining the X path to collect urls
for url in driver.find_elements_by_xpath("//div[@class='recImg mid_pImg_Silht']//a"):
    
    Urls.append(url.get_attribute('href'))

In [107]:
# Length of urls
len(Urls)

50

In [108]:
# EMpty list for companies
Company = []

# Empty list for location
Location = []

# Iterating through the urls 
for link in Urls:
    
    # Clicking each individual url
    driver.get(link)
    
    # Using try catch exception handling
    try:
        
        # Using css selector to find all the Github titles
        com = driver.find_element_by_css_selector("body > div.wrap > div.wrpSp.oh > div.frame.oh > div.rFrame.fl.infoWrapper > div:nth-child(4) > a")
        
        Company.append(com.text)
        
    except NoSuchElementException:
        
        # If no elements found then appending an "-"
        Company.append("-")
        
    try:
        # Using X path to find all the Github Descreptions
        loc = driver.find_element_by_css_selector("body > div.wrap > div.wrpSp.oh > div.frame.oh > div.rFrame.fl.infoWrapper > div:nth-child(5) > a")
        
        Location.append(loc.text)
        
    except NoSuchElementException:
        
        # If no elements found then appending an "-"
        Location.append("-")

In [112]:
# Length of all the lists
print(len(Name))
print(len(Designation))
print(len(Skills))
print(len(Company))
print(len(Location))

50
50
50
50
50

In [113]:
# Creating dataframe
df_DS = pd.DataFrame({})
df_DS["Name"] = Name
df_DS["Designation"] = Designation
df_DS["Skills"] = Skills
df_DS["Company"] = Company
df_DS["Location"] = Location

In [114]:
# Final Dataframe
df_DS.head()

,Name,Designation,Skills,Company,Location
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network,Delhi
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP,Pune
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd,Ahmedabad
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject,UK - (london)

### Q8)Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [115]:
# Url for the page
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"

In [116]:
# Using get method to proceed to the page
driver.get(url)

In [117]:
# Using get method to get the permission 
req = requests.get(url)

In [118]:
# Permission granted
req

In [119]:
# Using beautiful soup to beautify the html 
soup = bs4.BeautifulSoup(req.text,"html.parser")

In [121]:
# Using class name to search the table
table_books = soup.select(".in-article.sortable")

In [123]:
# Using pandas read html method to read the html
df_table = pd.read_html(str(table_books))

In [125]:
# Storing it in a df variable
df = df_table[0]

In [126]:
#Final Dataframe
df.head()

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas

### Q9)Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [128]:
# The url of the page
url = "https://www.imdb.com/list/ls095964455/"

In [129]:
# Using .get() method to get in url
driver.get(url)

In [130]:
# Empty list for Name
Name = []
# Empty list for Year Span
Year_span = []
# Empty list for Genre
Genre = []
# Empty list for Run Time
Run_time = []
# Empty list for Tating
Ratings = []
# Empty list for Votes
Votes = []

# X path for Name
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a"):
    
    Name.append(i.text)

# X path for Year soan    
for j in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    
    Year_span.append(j.text)

# Empty list for Genre 
for k in driver.find_elements_by_xpath("//span[@class='genre']"):
    
    Genre.append(k.text)
# Empty list for Run Time    
for l in driver.find_elements_by_xpath("//span[@class='runtime']"):
    
    Run_time.append(l.text)
# Empty list for Ratings    
for m in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    
    Ratings.append(m.text)
# Empty list for Votes    
for n in driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]//span[2]"):
    
    Votes.append(n.text)

In [137]:
# Printing the lengths of lists
print(len(Name))

print(len(Year_span))

print(len(Genre))

print(len(Run_time))

print(len(Ratings))

print(len(Votes))

100
100
100
100
100
100

In [138]:
# Creating dataframe
df_TS = pd.DataFrame({})
df_TS["Name"] = Name
df_TS["Year_span"] = Year_span
df_TS["Genre"] = Genre
df_TS["Run_time"] = Run_time
df_TS["Ratings"] = Ratings
df_TS["Votes"] = Votes

In [139]:
# Final Dataframe
df_TS.head()

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,822,591"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"863,354"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,287"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,623"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,935"

### Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [140]:
# Url for the UCI website
url = "https://archive.ics.uci.edu/"

In [141]:
# Proceeding to the url
driver.get(url)

In [142]:
# Going to the get data set link
link = driver.find_element_by_css_selector("body > table:nth-child(1) > tbody > tr > td:nth-child(2) > span:nth-child(5) > a")

In [144]:
# Saving the link in get_ds
get_ds = link.get_attribute("href")

In [145]:
# Proceeding to the link
driver.get(get_ds)

In [146]:
# Using requests.get() to ask for permission
req = requests.get(get_ds)

In [147]:
# The request is granted
req

In [149]:
# Using beautiful soup to beautify the text
soup = bs4.BeautifulSoup(req.text,"html.parser")

In [156]:
# Searching the table tag
table = soup.select("table")

In [161]:
# Saving the table 
table = table[1]

In [162]:
# Using pandas read html method to read the html
df_data = pd.read_html(str(table))

In [172]:
df_data = df_data[4]

In [175]:
# Renaming the columns
df_data.columns = ["Name","Data Types","Default Task","Attribute Types","Instances","Attributes","Year"]

In [178]:
# Drooping the unecessary rows
df_UCI = df_data.drop(0,axis=0)

In [179]:
# FInal dataframe
df_UCI.head()

,Name,Data Types,Default Task,Attribute Types,Instances,Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
4,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998