- In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per the requirement of the question.


- Every answer to the question should be in form of a python function which should take URL as the parameter. Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the jupyter notebook to your SME.

In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [2]:
import requests
import bs4
import lxml

#### Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [3]:
def grab_header(url,tag):
    
    res = requests.get(url)
    
    soup = bs4.BeautifulSoup(res.text,"lxml")
    
    header = soup.select(tag)
    
    return header

In [4]:
grab_header("https://en.wikipedia.org/wiki/Main_Page","h1")

In [5]:
grab_header("https://en.wikipedia.org/wiki/Main_Page","h2")

[<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>,
 <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>,
 <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>,
 <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>,
 <h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>,
 <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>,
 <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>,
 <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>,
 <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>,
 <h2>Navigation menu</h2>]

In [6]:
grab_header("https://en.wikipedia.org/wiki/Main_Page","h3")

[<h3 class="vector-menu-heading" id="p-personal-label">
 <span>Personal tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-namespaces-label">
 <span>Namespaces</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-variants-label">
 <span>Variants</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-views-label">
 <span>Views</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-cactions-label">
 <span>More</span>
 </h3>,
 <h3>
 <label for="searchInput">Search</label>
 </h3>,
 <h3 class="vector-menu-heading" id="p-navigation-label">
 <span>Navigation</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-interaction-label">
 <span>Contribute</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-tb-label">
 <span>Tools</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-coll-print_export-label">
 <span>Print/export</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
 <span>In other projects</span>
 </h3>,
 <h3 class="vector-menu-heading" id="p-lang-label">
 <span>Languages</span>
 </h3>]

In [7]:
h1 = grab_header("https://en.wikipedia.org/wiki/Main_Page","h1")

In [8]:
h1[0].text

'Main Page'

In [9]:
h2 = grab_header("https://en.wikipedia.org/wiki/Main_Page","h2")

In [10]:
for n in h2:
    print(n.text)

From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

In [11]:
h3 = grab_header("https://en.wikipedia.org/wiki/Main_Page","h3")

In [12]:
for m in h3:
    print(m.text)

Personal tools


Namespaces


Variants


Views


More


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

All the header tage (h1,h2,h3) have been extracted

#### Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [13]:
base_url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start={}&ref_=adv_nxt"

In [14]:
def grab_100(base_url):
    
    movie_title = []
    
    for n in range(1,52,50):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        titles = soup.select(".lister-item-content")
        
        for title in titles:
            
            movie_head = title.select("a")[0].text
            
            movie_title.append(movie_head)
    
    return movie_title

In [15]:
M_title = grab_100("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start={}&ref_=adv_nxt")

In [16]:
M_title

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 "Schindler's List",
 'Inception',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 'Goodfellas',
 'Star Wars: Episode V - The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Gisaengchung',
 'Interstellar',
 'Cidade de Deus',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Green Mile',
 'La vita è bella',
 'Se7en',
 'The Silence of the Lambs',
 'Star Wars',
 'Seppuku',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Hamilton',
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'Léon',
 'The Lion King',
 'Terminator 2: Judgment Day',
 'Nuovo Cinema Paradiso',
 'Hotaru no haka',
 'Back to the Future',
 'Once Upon a Time in the West',
 'Psycho',
 'Casablanca',
 'Modern Times',
 'City Lights',
 'Capharnaüm',
 'Joker',
 'Kimi no na wa.',
 'Dangal',
 'Spider-Man: Into the Spider-Verse',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Coco',
 'Django Unchained',
 'The Dark Knight Rises',
 '3 Idiots',
 'Taare Zameen Par',
 'WALL·E',
 'The Lives of Others',
 'Oldeuboi',
 'Memento',
 'Mononoke-hime',
 'Once Upon a Time in America',
 'Raiders of the Lost Ark',
 'The Shining',
 'Apocalypse Now',
 'Alien',
 'Tengoku to jigoku',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Witness for the Prosecution',
 'Paths of Glory',
 'Rear Window',
 'Sunset Blvd.',
 'The Great Dictator',
 'Jagten',
 'Inglourious Basterds',
 'Eternal Sunshine of the Spotless Mind',
 'Requiem for a Dream',
 'American Beauty',
 'Good Will Hunting',
 'Toy Story',
 'Braveheart',
 'Reservoir Dogs',
 'Idi i smotri',
 'Aliens',
 'Amadeus',
 'Star Wars: Episode VI - Return of the Jedi',
 'Das Boot',
 '2001: A Space Odyssey',
 'Vertigo',
 "Singin' in the Rain",
 'Citizen Kane',
 'M - Eine Stadt sucht einen Mörder',
 'The Kid']

In [17]:
def grab_100(base_url):
    
    movie_rating = []
    
    for n in range(1,52,50):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        ratings = soup.select(".lister-item-content")
        
        for rating in ratings:
            
            rating_head = rating.select("strong")[0].text
            
            movie_rating.append(rating_head)
    
    return movie_rating

In [18]:
M_rating = grab_100("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start={}&ref_=adv_nxt")

In [19]:
M_rating

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [20]:
def grab_100(base_url):
    
    movie_year = []
    
    for n in range(1,52,50):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        years = soup.select(".lister-item-content")
        
        for year in years:
            
            year_head = year.select(".lister-item-year.text-muted.unbold")[0].text
            
            movie_year.append(year_head)
    
    return movie_year

In [21]:
M_year = grab_100("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start={}&ref_=adv_nxt")

In [22]:
M_year

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(2003)',
 '(1994)',
 '(1993)',
 '(2010)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(2002)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2019)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2020)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1991)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1968)',
 '(1960)',
 '(1942)',
 '(1936)',
 '(1931)',
 '(2018)',
 '(2019)',
 '(2016)',
 '(2016)',
 '(2018)',
 '(2019)',
 '(2018)',
 '(I) (2017)',
 '(2012)',
 '(2012)',
 '(2009)',
 '(2007)',
 '(2008)',
 '(2006)',
 '(2003)',
 '(2000)',
 '(1997)',
 '(1984)',
 '(1981)',
 '(1980)',
 '(1979)',
 '(1979)',
 '(1963)',
 '(1964)',
 '(1957)',
 '(1957)',
 '(1954)',
 '(1950)',
 '(1940)',
 '(2012)',
 '(2009)',
 '(2004)',
 '(2000)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1995)',
 '(1992)',
 '(1985)',
 '(1986)',
 '(1984)',
 '(1983)',
 '(1981)',
 '(1968)',
 '(1958)',
 '(1952)',
 '(1941)',
 '(1931)',
 '(1921)']

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(M_title,columns=["Title"])

In [25]:
df.head()

                      Title
0  The Shawshank Redemption
1             The Godfather
2           The Dark Knight
3    The Godfather: Part II
4              12 Angry Men

In [26]:
df1 = pd.DataFrame(M_rating,columns=["Rating"])

In [27]:
df1.head()

  Rating
0    9.3
1    9.2
2    9.0
3    9.0
4    9.0

In [28]:
df3 = pd.DataFrame(M_year,columns=["Year(Release)"])

In [29]:
df3.head()

  Year(Release)
0        (1994)
1        (1972)
2        (2008)
3        (1974)
4        (1957)

In [30]:
df = pd.concat([df,df1,df3],axis=1)

In [31]:
df.head()

                      Title Rating Year(Release)
0  The Shawshank Redemption    9.3        (1994)
1             The Godfather    9.2        (1972)
2           The Dark Knight    9.0        (2008)
3    The Godfather: Part II    9.0        (1974)
4              12 Angry Men    9.0        (1957)

In [32]:
df.tail()

                                Title Rating Year(Release)
95                            Vertigo    8.3        (1958)
96                Singin' in the Rain    8.3        (1952)
97                       Citizen Kane    8.3        (1941)
98  M - Eine Stadt sucht einen Mörder    8.3        (1931)
99                            The Kid    8.3        (1921)

In [33]:
df.to_csv("Imdb_100")

#### Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [34]:
base_url_indi = "https://www.imdb.com/india/top-rated-indian-movies/"

In [35]:
def grab_indi_100(url):
    
    names = []
    
    res = requests.get(url)
    
    soup = bs4.BeautifulSoup(res.text,"lxml")
    
    movies = soup.select(".titleColumn")
    
    for movie in movies:
        
        mov_name = movie.select("a")[0].text
        
        names.append(mov_name)
    
    return names[:100]

In [36]:
Indi_names = grab_indi_100(base_url_indi)

In [37]:
Indi_names

['Pather Panchali',
 'Gol Maal',
 'Nayakan',
 'Anbe Sivam',
 'Apur Sansar',
 'Pariyerum Perumal',
 'Natsamrat',
 'Drishyam 2',
 'Kireedam',
 'Manichitrathazhu',
 'Black Friday',
 'Thevar Magan',
 '96',
 'Kumbalangi Nights',
 '3 Idiots',
 'Taare Zameen Par',
 'Visaaranai',
 'Dangal',
 'Ratsasan',
 'Thalapathi',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Guide',
 'Jersey',
 'Kannathil Muthamittal',
 'Asuran',
 'Chupke Chupke',
 'Kaithi',
 'Thani Oruvan',
 'Anand',
 'Vada Chennai',
 'Peranbu',
 'Drishyam',
 'Vikram Vedha',
 'Iruvar',
 'Soorarai Pottru',
 'Aruvi',
 'Khosla Ka Ghosla!',
 'Super Deluxe',
 'Agent Sai Srinivasa Athreya',
 'Tumbbad',
 'Mahanati',
 'Andhadhun',
 'Kaakkaa Muttai',
 'Premam',
 'Satya',
 'Shahid',
 'Dhuruvangal Pathinaaru',
 'Bangalore Days',
 'Anniyan',
 'Mudhalvan',
 'Papanasam',
 'Soodhu Kavvum',
 'Gangs of Wasseypur',
 'Jigarthanda',
 'Bhaag Milkha Bhaag',
 'Sairat',
 'Paan Singh Tomar',
 'Sholay',
 'Swades: We, the People',
 'Talvar',
 'Hera Pheri',
 'Pithamagan',
 'Drishyam',
 'Nil Battey Sannata',
 'Chak De! India',
 'Charulata',
 'Black',
 'Mughal-E-Azam',
 'Jo Jeeta Wohi Sikandar',
 'Udaan',
 'Ustad Hotel',
 'Zindagi Na Milegi Dobara',
 'Article 15',
 'A Wednesday',
 'Queen',
 'Rang De Basanti',
 'Munna Bhai M.B.B.S.',
 'Dil Chahta Hai',
 'Sarfarosh',
 'Maheshinte Prathikaaram',
 'Masaan',
 'Andaz Apna Apna',
 'OMG: Oh My God!',
 'Roja',
 'Alai Payuthey',
 'Lagaan: Once Upon a Time in India',
 'Baasha',
 'Kahaani',
 'Theeran adhigaaram ondru',
 'PK',
 'Lucia',
 'Iqbal',
 'Uri: The Surgical Strike',
 'The Legend of Bhagat Singh',
 'Barfi!',
 'Pink',
 'Bommarillu',
 'Bombay']

In [38]:
df_indi_n = pd.DataFrame(Indi_names,columns=["Names"])

In [39]:
df_indi_n.head()

             Names
0  Pather Panchali
1         Gol Maal
2          Nayakan
3       Anbe Sivam
4      Apur Sansar

In [40]:
def grab_indi_100(url):
    
    m_years = []
    
    res = requests.get(url)
    
    soup = bs4.BeautifulSoup(res.text,"lxml")
    
    years = soup.select(".secondaryInfo")
    
    for year in years:
        
        year_name = year.text
        
        m_years.append(year_name)
    
    return m_years[:100]

In [41]:
Movie_y =grab_indi_100(base_url_indi)

In [42]:
len(Movie_y)

100

In [43]:
df_indi_y = pd.DataFrame(Movie_y,columns=["Release date"])

In [44]:
df_indi_y.head()

  Release date
0       (1955)
1       (1979)
2       (1987)
3       (2003)
4       (1959)

In [45]:
def grab_indi_100(url):
    
    m_rating = []
    
    res = requests.get(url)
    
    soup = bs4.BeautifulSoup(res.text,"lxml")
    
    ratings = soup.select("strong")
    
    for rating in ratings:
        
        rating_name = rating.text
        
        m_rating.append(rating_name)
    
    return m_rating[:100]

In [46]:
Movie_r = grab_indi_100(base_url_indi)

In [47]:
df_indi_rate = pd.DataFrame(Movie_r,columns=["Ratings"])

In [48]:
df_indi_rate.head()

  Ratings
0     8.5
1     8.5
2     8.5
3     8.5
4     8.5

In [49]:
df_india_100 = pd.concat([df_indi_n,df_indi_y,df_indi_rate],axis=1)

In [50]:
df_india_100.head()

             Names Release date Ratings
0  Pather Panchali       (1955)     8.5
1         Gol Maal       (1979)     8.5
2          Nayakan       (1987)     8.5
3       Anbe Sivam       (2003)     8.5
4      Apur Sansar       (1959)     8.5

In [51]:
df_india_100.to_csv("Imdb_100_indian")

#### Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [52]:
base_url = "https://bookpage.com/"

In [53]:
req = requests.get("https://bookpage.com/")

In [54]:
soup = bs4.BeautifulSoup(req.text,"lxml")

In [55]:
lana = soup.select(".italic")

In [56]:
lana[1].text

'\nChina, then and now\n'

In [57]:
book_name = []

for name in soup.select(".italic"):
    
    names = name.text
    book_name.append(names)
    book_name

### Book Names

In [58]:
book_names = book_name[1:]

In [59]:
book_n = [x.replace('\n', '') for x in book_names]

In [60]:
book_n = book_n[:5]

In [61]:
book_n

['China, then and now',
 'Katy Birchall',
 'Pawcasso',
 ' ★ On Juneteenth',
 'The Most Beautiful Girl in Cuba']

### Author names

In [62]:
auth_name = []

for a_name in soup.select(".sans.bold"):
    
    a_names = a_name.text
    auth_name.append(a_names)
    auth_name

In [63]:
auth_n = [x.replace('\n', '') for x in auth_name]

In [64]:
auth_n = auth_n[:5]

In [65]:
auth_n

['Behind the Book by Brian Klingborg',
 'Interview by Savanna Walker',
 'Review by Sharon Verbeten',
 'Review by Deborah Mason',
 'Review by Amy Scribner']

### Genre Names

In [66]:
genre_name = []

for g_name in soup.select(".genre-links.hidden-phone"):
    
    g_names = g_name.text
    genre_name.append(g_names)
    genre_name

In [67]:
genre_n = [x.replace('\n', '') for x in genre_name]

In [68]:
genre_n = genre_n[:5]

In [69]:
genre_n

['Mystery & Suspense / Mystery',
 'Romance / Contemporary Romance',
 "Children's / Middle Grade",
 'Nonfiction / History / American History',
 'Fiction / Historical Fiction']

### Review names

In [70]:
review_name = []

for r_name in soup.select(".excerpt"):
    
    r_names = r_name.text
    review_name.append(r_names)
    review_name

In [71]:
review_n = [x.replace('\n', '') for x in review_name]

In [72]:
review_n = review_n[:5]

In [73]:
review_n

['Brian Klingborg shares why modern China is the perfect setting for a mystery.',
 "Katy Birchall's latest heroine has what might be the perfect rom-com job: She's a wedding planner who goes undercover as a bridesmaid.",
 'This joyful graphic novel from acclaimed author-illustrator Remy Lai abounds with silliness, camaraderie and a few white lies.',
 'Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.',
 'Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.']

In [74]:
df = pd.DataFrame(book_n,columns=["Name"])

In [75]:
df1 = pd.DataFrame(auth_n,columns=["Author"])

In [76]:
df2 = pd.DataFrame(genre_n,columns=["Genre"])

In [77]:
df4 = pd.DataFrame(review_n,columns=["Review"])

In [78]:
df_f = pd.concat([df,df1,df2,df4],axis=1)

In [79]:
df_f.head()

,Name,Author,Genre,Review
0,"China, then and now",Behind the Book by Brian Klingborg,Mystery & Suspense / Mystery,Brian Klingborg shares why modern China is the...
1,Katy Birchall,Interview by Savanna Walker,Romance / Contemporary Romance,Katy Birchall's latest heroine has what might ...
2,Pawcasso,Review by Sharon Verbeten,Children's / Middle Grade,This joyful graphic novel from acclaimed autho...
3,★ On Juneteenth,Review by Deborah Mason,Nonfiction / History / American History,"Gordon-Reed’s essays seamlessly merge history,..."
4,The Most Beautiful Girl in Cuba,Review by Amy Scribner,Fiction / Historical Fiction,Chanel Cleeton delivers a sweeping story of lo...

#### Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

- i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.


- ii) Top 10 ODI Batsmen in men along with the records of their team and rating.


- iii) Top 10 ODI bowlers along with the records of their team and rating.

In [80]:
base_url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [81]:
req = requests.get(base_url)

In [82]:
req

In [83]:
soup = bs4.BeautifulSoup(req.text,"lxml")

In [84]:
soup.select(".u-hide-phablet")

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [85]:
name_teams = []
for team in soup.select(".u-hide-phablet"):
    
    t_name = team.text
    
    name_teams.append(t_name)

In [86]:
name_teams[:10]

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [87]:
odi = []

for i in soup.select(".table-body"):
    
    mat = i.text
    
    odi.append(mat)

In [88]:
odi = odi[:9]

In [89]:
odi

['\n2\n\n\nAustralia\nAUS\n\n25\n2,945\n118\n',
 '\n3\n\n\nIndia\nIND\n\n29\n3,344\n115\n',
 '\n4\n\n\nEngland\nENG\n\n27\n3,100\n115\n',
 '\n5\n\n\nSouth Africa\nSA\n\n20\n2,137\n107\n',
 '\n6\n\n\nPakistan\nPAK\n\n24\n2,323\n97\n',
 '\n7\n\n\nBangladesh\nBAN\n\n24\n2,157\n90\n',
 '\n8\n\n\nWest Indies\nWI\n\n27\n2,222\n82\n',
 '\n9\n\n\nSri Lanka\nSL\n\n21\n1,652\n79\n',
 '\n10\n\n\nAfghanistan\nAFG\n\n17\n1,054\n62\n']

In [90]:
list1 = [x.replace('\n', ' ') for x in odi]

In [91]:
list1

[' 2   Australia AUS  25 2,945 118 ',
 ' 3   India IND  29 3,344 115 ',
 ' 4   England ENG  27 3,100 115 ',
 ' 5   South Africa SA  20 2,137 107 ',
 ' 6   Pakistan PAK  24 2,323 97 ',
 ' 7   Bangladesh BAN  24 2,157 90 ',
 ' 8   West Indies WI  27 2,222 82 ',
 ' 9   Sri Lanka SL  21 1,652 79 ',
 ' 10   Afghanistan AFG  17 1,054 62 ']

In [92]:
list1.insert(0,' 1   NewZealand NZ  17 2,054 121 ')

In [93]:
list1

[' 1   NewZealand NZ  17 2,054 121 ',
 ' 2   Australia AUS  25 2,945 118 ',
 ' 3   India IND  29 3,344 115 ',
 ' 4   England ENG  27 3,100 115 ',
 ' 5   South Africa SA  20 2,137 107 ',
 ' 6   Pakistan PAK  24 2,323 97 ',
 ' 7   Bangladesh BAN  24 2,157 90 ',
 ' 8   West Indies WI  27 2,222 82 ',
 ' 9   Sri Lanka SL  21 1,652 79 ',
 ' 10   Afghanistan AFG  17 1,054 62 ']

In [94]:
matches = []

for match in soup.select(".table-body__cell.u-center-text"):
    
    mat = match.text
    
    matches.append(mat)

In [95]:
matches = matches[:18]

In [96]:
matches

['25',
 '2,945',
 '29',
 '3,344',
 '27',
 '3,100',
 '20',
 '2,137',
 '24',
 '2,323',
 '24',
 '2,157',
 '27',
 '2,222',
 '21',
 '1,652',
 '17',
 '1,054']

In [97]:
match = []
points = []

for n in matches:
    
    if matches.index(n) % 2 == 0:
        
        match.append(n)
        
    elif matches.index(n) % 2 != 0:
        
        points.append(n)

In [98]:
match

['25', '29', '27', '20', '24', '24', '27', '21', '17']

In [99]:
points

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,157',
 '2,222',
 '1,652',
 '1,054']

In [100]:
rating = []
for rate in soup.select(".table-body__cell.u-text-right.rating"):
    
    ra = rate.text
    rating.append(ra)

In [101]:
rating = rating[:9]

In [102]:
rating

['118', '115', '115', '107', '97', '90', '82', '79', '62']

In [103]:
points

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,157',
 '2,222',
 '1,652',
 '1,054']

In [104]:
match

['25', '29', '27', '20', '24', '24', '27', '21', '17']

In [105]:
name_teams = name_teams[:10]

In [106]:
name_teams

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [107]:
rating.insert(0,"121")

In [108]:
rating

['121', '118', '115', '115', '107', '97', '90', '82', '79', '62']

In [109]:
match.insert(0,"17")

In [110]:
match

['17', '25', '29', '27', '20', '24', '24', '27', '21', '17']

In [111]:
points.insert(0,"2,054")

In [112]:
points

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,157',
 '2,222',
 '1,652',
 '1,054']

In [113]:
name_teams

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [114]:
df1 = pd.DataFrame(name_teams,columns=["Team"])
df2 = pd.DataFrame(match,columns=["Matches"])
df3 = pd.DataFrame(points,columns=["Points"])
df4 = pd.DataFrame(rating,columns=["Rating"])

In [115]:
df = pd.concat([df1,df2,df3,df4],axis=1)

### Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [116]:
df.head()

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1     Australia      25  2,945    118
2         India      29  3,344    115
3       England      27  3,100    115
4  South Africa      20  2,137    107

In [117]:
base_url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [118]:
req = requests.get(base_url)

In [119]:
req

In [120]:
soup = bs4.BeautifulSoup(req.text,"lxml")

In [121]:
player_names = []

for name in soup.select(".table-body__cell.name"):
    
    na = name.text
    
    player_names.append(na)

In [122]:
player_names = [x.replace('\n', ' ') for x in player_names]

In [123]:
player_names = player_names[:9]

In [124]:
player_names

[' Virat Kohli ',
 ' Rohit Sharma ',
 ' Ross Taylor ',
 ' Aaron Finch ',
 ' Jonny Bairstow ',
 ' Fakhar Zaman ',
 ' Francois du Plessis ',
 ' David Warner ',
 ' Shai Hope ']

In [125]:
nation = []
for nat in soup.select(".table-body__logo-text"):
    
    natio = nat.text
    
    nation.append(natio)

In [126]:
nation = nation[:9]

In [127]:
nation

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [128]:
rating = []

for rat in soup.select(".table-body__cell.rating"):
    
    r = rat.text
    
    rating.append(r)

In [129]:
rating = rating[:9]

In [130]:
rating

['857', '825', '801', '791', '785', '778', '778', '773', '773']

In [131]:
player_names.insert(0,"Babar Azam")

In [132]:
rating.insert(0,"865")

In [133]:
nation.insert(0,"PAK")

In [134]:
df1 = pd.DataFrame(player_names,columns=["Names"])
df2 = pd.DataFrame(nation,columns=["Nation"])
df3 = pd.DataFrame(rating,columns=["rating"])

In [135]:
df = pd.concat([df1,df2,df3],axis=1)

### Top 10 ODI Batsmen in men along with the records of their team and rating.

In [136]:
df.head()

            Names Nation rating
0      Babar Azam    PAK    865
1    Virat Kohli     IND    857
2   Rohit Sharma     IND    825
3    Ross Taylor      NZ    801
4    Aaron Finch     AUS    791

In [137]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [138]:
req = requests.get(url)

In [139]:
req

In [140]:
soup = bs4.BeautifulSoup(req.text,"lxml")

In [141]:
bal_name = []

for b_name in soup.select(".table-body__cell.rankings-table__name.name"):
    ball = b_name.text
    
    bal_name.append(ball)

In [142]:
bal_name = [x.replace('\n', ' ') for x in bal_name]

In [143]:
bal_name = bal_name[:9]

In [144]:
bal_name

[' Mujeeb Ur Rahman ',
 ' Matt Henry ',
 ' Jasprit Bumrah ',
 ' Mehedi Hasan ',
 ' Kagiso Rabada ',
 ' Chris Woakes ',
 ' Josh Hazlewood ',
 ' Pat Cummins ',
 ' Mohammad Amir ']

In [145]:
bal_team = []

for b_team in soup.select(".table-body__logo-text"):
    
    bt = b_team.text
    
    bal_team.append(bt)

In [146]:
bal_team =bal_team[:9]

In [147]:
bal_team

['AFG', 'NZ', 'IND', 'BAN', 'SA', 'ENG', 'AUS', 'AUS', 'PAK']

In [148]:
bal_rate = []

for b_rate in soup.select(".table-body__cell.rating"):
    
    br = b_rate.text
    
    bal_rate.append(br)

In [149]:
bal_rate = bal_rate[:9]

In [150]:
bal_rate

['708', '691', '690', '668', '666', '665', '660', '646', '638']

In [151]:
bal_name.insert(0,"Trent Boult")

In [152]:
bal_team.insert(0,"NZ")

In [153]:
bal_rate.insert(0,"737")

In [154]:
df1 = pd.DataFrame(bal_name,columns=["Name"])
df2 = pd.DataFrame(bal_team,columns=["Nation"])
df3 = pd.DataFrame(bal_rate,columns=["Rating"])

In [155]:
df = pd.concat([df1,df2,df3],axis=1)

### Top 10 ODI bowlers along with the records of their team and rating.

In [156]:
df.head()

                 Name Nation Rating
0         Trent Boult     NZ    737
1   Mujeeb Ur Rahman     AFG    708
2         Matt Henry      NZ    691
3     Jasprit Bumrah     IND    690
4       Mehedi Hasan     BAN    668

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:


- i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.


- ii) Top 10 women’s ODI players along with the records of their team and rating.


- iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [157]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [158]:
res = requests.get(url)

In [159]:
res

In [160]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [161]:
w_team = []

for wt in soup.select(".u-show-phablet"):
    
    women = wt.text
    
    w_team.append(women)

In [162]:
w_team = w_team[:10]

In [163]:
w_team

['AUS', 'SA', 'ENG', 'IND', 'NZ', 'WI', 'PAK', 'BAN', 'SL', 'IRE']

In [164]:
mp = []
for i in soup.select(".table-body__cell.u-center-text"):
    
    mpa = i.text
    
    mp.append(mpa)

In [165]:
mp

['24',
 '2,828',
 '17',
 '1,993',
 '20',
 '2,226',
 '21',
 '1,947',
 '12',
 '1,025',
 '15',
 '1,101',
 '5',
 '306',
 '11',
 '519',
 '2',
 '25']

In [166]:
match_w = []
points_w = []

for n in mp:
    
    if mp.index(n) % 2 == 0:
        
        match_w.append(n)
        
    elif mp.index(n) % 2 != 0:
        
        points_w.append(n)

In [167]:
match_w

['24', '17', '20', '21', '12', '15', '5', '11', '2']

In [168]:
points_w

['2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']

In [169]:
w_rat = []
for i in soup.select(".table-body__cell.u-text-right.rating"):
    w = i.text
    w_rat.append(w)

In [170]:
w_rat

['118', '117', '111', '93', '85', '73', '61', '47', '13']

In [171]:
match_w.insert(0,"18")

In [172]:
points_w.insert(0,"2,955")

In [173]:
w_rat.insert(0,"164")

In [174]:
w_rat

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [175]:
df1 = pd.DataFrame(w_team,columns=["Nation"])
df2 = pd.DataFrame(match_w,columns=["Matches"])
df3 = pd.DataFrame(points_w,columns=["Points"])
df4 = pd.DataFrame(w_rat,columns=["Ratings"])

In [176]:
df = pd.concat([df1,df2,df3,df4],axis=1)

### Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [177]:
df.head()

  Nation Matches Points Ratings
0    AUS      18  2,955     164
1     SA      24  2,828     118
2    ENG      17  1,993     117
3    IND      20  2,226     111
4     NZ      21  1,947      93

In [178]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [179]:
req = requests.get(url)

In [180]:
req

In [181]:
soup = bs4.BeautifulSoup(req.text,"lxml")

In [182]:
women_cricketer_name = []

for i in soup.select(".table-body__cell.rankings-table__name.name"):
    
    women_cricketer = i.text
    women_cricketer_name.append(women_cricketer)

In [183]:
women_cricketer_name = women_cricketer_name[:9]

In [184]:
women_cricketer_name = [x.replace('\n', ' ') for x in women_cricketer_name]

In [185]:
women_cricketer_name

[' Lizelle Lee ',
 ' Alyssa Healy ',
 ' Stafanie Taylor ',
 ' Meg Lanning ',
 ' Amy Satterthwaite ',
 ' Smriti Mandhana ',
 ' Mithali Raj ',
 ' Natalie Sciver ',
 ' Laura Wolvaardt ']

In [186]:
women_cricketer_team = []

for i in soup.select(".table-body__logo-text"):
    
    women_team = i.text
    
    women_cricketer_team.append(women_team)

In [187]:
women_cricketer_team = women_cricketer_team[:9]

In [188]:
women_cricketer_team

['SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [189]:
women_cricketer_rating = []

for i in soup.select(".table-body__cell.rating"):
    
    women_rating = i.text
    
    women_cricketer_rating.append(women_rating)

In [190]:
women_cricketer_rating = women_cricketer_rating[:9]

In [191]:
women_cricketer_rating

['758', '756', '746', '723', '715', '710', '709', '685', '683']

In [192]:
women_cricketer_name.insert(0,"Tammy Beaumont")

In [193]:
women_cricketer_team.insert(0,"ENG")

In [194]:
women_cricketer_rating.insert(0,"765")

In [195]:
df1 = pd.DataFrame(women_cricketer_name,columns=["Name"])
df2 = pd.DataFrame(women_cricketer_team,columns=["Nation"])
df3 = pd.DataFrame(women_cricketer_rating,columns=["Rating"])

In [196]:
df = pd.concat([df1,df2,df3],axis=1)

### Top 10 women’s ODI players along with the records of their team and rating.

In [197]:
df.head()

                Name Nation Rating
0     Tammy Beaumont    ENG    765
1       Lizelle Lee      SA    758
2      Alyssa Healy     AUS    756
3   Stafanie Taylor      WI    746
4       Meg Lanning     AUS    723

In [198]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

In [199]:
res = requests.get(url)

In [200]:
res

In [201]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [202]:
all_rounder_name = []
for i in soup.select(".table-body__cell.rankings-table__name.name"):
    all_rounder = i.text
    
    all_rounder_name.append(all_rounder)

In [203]:
all_rounder_name = all_rounder_name[:9]

In [204]:
all_rounder_name = [x.replace('\n', ' ') for x in all_rounder_name]

In [205]:
all_rounder_name

[' Ellyse Perry ',
 ' Stafanie Taylor ',
 ' Natalie Sciver ',
 ' Deepti Sharma ',
 ' Jess Jonassen ',
 ' Ashleigh Gardner ',
 ' Dane van Niekerk ',
 ' Sophie Devine ',
 ' Amelia Kerr ']

In [206]:
all_rounder_nation = []
for i in soup.select(".table-body__logo-text"):
    all_nation = i.text
    
    all_rounder_nation.append(all_nation)

In [207]:
all_rounder_nation = all_rounder_nation[:9]

In [208]:
all_rounder_nation

['AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [209]:
all_rounder_rating = []
for i in soup.select(".table-body__cell.rating"):
    all_rating = i.text
    
    all_rounder_rating.append(all_rating)

In [210]:
all_rounder_rating = all_rounder_rating[:9]

In [211]:
all_rounder_rating

['418', '410', '349', '343', '307', '252', '243', '242', '236']

In [212]:
all_rounder_name.insert(0,"Marizanne Kapp")

In [213]:
all_rounder_nation.insert(0,"SA")

In [214]:
all_rounder_rating.insert(0,"418")

In [215]:
df1 = pd.DataFrame(all_rounder_name,columns=["Name"])
df2 = pd.DataFrame(all_rounder_nation,columns=["Nation"])
df3 = pd.DataFrame(all_rounder_rating,columns=["Rating"])

In [216]:
df = pd.concat([df1,df2,df3],axis=1)

### Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [217]:
df.head()

                Name Nation Rating
0     Marizanne Kapp     SA    418
1      Ellyse Perry     AUS    418
2   Stafanie Taylor      WI    410
3    Natalie Sciver     ENG    349
4     Deepti Sharma     IND    343

### Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [218]:
base_url = "https://www.amazon.in/s?k=mobile+under+20000+rupees&page={}&qid=1620366920&ref=sr_pg_2"

In [219]:
req = requests.get(base_url)

In [220]:
req

In [221]:
from autoscraper import AutoScraper

In [222]:
soup = bs4.BeautifulSoup(req.text,"lxml")

In [223]:
base_url = "https://www.amazon.in/s?k=mobile+under+20000+rupees&page={}&qid=1620366920&ref=sr_pg_2"

In [224]:
def grab_phone_names(base_url):
    
    phone_name_1 = []
    
    for n in range(1,21):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        names = soup.select(".a-size-medium.a-color-base.a-text-normal")
        
        for name in names:
            
            nam = name.text
            
            phone_name_1.append(nam)
    
    return phone_name_1

In [225]:
Mobile_name = grab_phone_names(base_url)

In [226]:
Mobile_name

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'OPPO A31 (Fantasy White, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Redmi 9A (Midnight Black, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Gionee F11 Black (3GB Ram 32GB ROM) 5000mAh Battery, Dual Camera',
 'I KALL K380 Smartphone (7.12 Display, 4GB, 32GB) (Blue)',
 'Samsung Galaxy M31 (Space Black, 6GB RAM, 64GB Storage)',
 'Vivo Y20 (Purist Blue, 6GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'SNEXIAN Guru 355 Dual Sim Basic Mobile Phone with Digital Camera and 1.8 inch Screen (Black & Red, Upto 16GB) - NO Charger',
 'Samsung Galaxy M02s (Red,3GB RAM, 32GB Storage) | 5000 mAh | Triple Camera',
 'Tecno Spark 6 Go Ice Jadeite, 4GB RAM, 64GB Storage',
 'Vivo Y50 (Pearl White, 8GB RAM, 128GB Storage) Without Offer',
 'Karbonn K9 Smart',
 'Online Store only Sucker Stand for Cell Phone Metal Mobile Holder 360�Rotatable Flower Type Mobile Stand for Best Used to Office Work.',
 'Micromax in 1 4 GB RAM 64 GB ROM Blue',
 "Forme D10 1.8'' Big Battery 2500 mAh Mobile Black",
 'I KALL K380 Smartphone (7.12 Display, 4GB, 32GB) (Purple)',
 'Redmi 8A Dual (Sky White, 3GB RAM, 64GB Storage) – Dual Cameras & 5,000 mAH Battery',
 'I KALL K800 4G Smartphone (2GB, 16GB, 5.5 Inch) (Red)',
 'OPPO A15 (Mystery Blue, 2GB RAM, 32GB Storage) With No Cost EMI/Additional Exchange Offers',
 'WINSOME BLU Studio G2 Sports a 5-inch Display, 1.3 GHz Processor Phone 4g Volte Smartphone jio Working',
 'Micromax X754 Gunmetal Grey',
 '(Renewed) Redmi Note 6 Pro 64GB (Black, 6GB RAM)',
 'Redmi Poco C3 (Arctic Blue, 4 RAM /64 Storage)',
 'I KALL K110 Smartphone (2GB, 16GB)',
 'Oppo F19 (Midnight Blue, 6GB RAM, 128GB Storage) with Free 12 Months Damage Protection',
 '(Renewed) NOKIA 105 TA-1174 DS in Black',
 'I KALL K4 Dual Sim 4G Mobile (2GB Ram, 16GB Storage, 5.5 Inch Display) (Blue)',
 'realme Narzo 20A Glory Silver, 4GB, 64GB',
 "itel Vision 1 Pro (Ocean Blue, 2GB RAM, 32 GB Storage, 6.52'' HD+ IPS Waterdrop Display)",
 'I KALL K900 Smartphone (5.5 Inch IPS Display, 4GB Ram, 64GB Storage, Dual Sim, 4G Volte) (Ocean Blue)',
 'Vivo Y20 (Obsidian Black, 6GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Itel Vision1 (Gradation Green, 32 GB) (3 GB RAM)',
 '(Renewed) Redmi 6A (Gold, 16 GB)',
 "itel Vision 1 Pro (Aurora Blue, 2GB RAM, 32 GB Storage, 6.52'' HD+ IPS Waterdrop Display)",
 'Vivo Y30 (Emerald Black, 4GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers']

In [227]:
def grab_phone_prices(base_url):
    
    phone_price_1 = []
    
    for n in range(1,21):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        prices = soup.select(".a-offscreen")
        
        for price in prices:
            
            kim = price.text
            
            phone_price_1.append(kim)
    
    return phone_price_1

In [228]:
Mobile_prices = grab_phone_prices(base_url)

In [229]:
Mobile_prices

['₹9,999',
 '₹13,999',
 '₹7,499',
 '₹8,999',
 '₹16,490',
 '₹20,490',
 '₹619',
 '₹999',
 '₹11,999',
 '₹16,999',
 '₹7,499',
 '₹8,999',
 '₹4,929',
 '₹10,990',
 '₹8,230',
 '₹10,999',
 '₹11,999',
 '₹16,999',
 '₹13,990',
 '₹19,990',
 '₹14,999',
 '₹18,999',
 '₹8,999',
 '₹14,999',
 '₹12,999',
 '₹16,999',
 '₹17,990',
 '₹21,990',
 '₹7,990',
 '₹11,990',
 '₹9,999',
 '₹11,499',
 '₹12,499',
 '₹13,999',
 '₹8,999',
 '₹14,999',
 '₹5,499',
 '₹6,999',
 '₹17,990',
 '₹20,990',
 '₹9,999',
 '₹11,499',
 '₹12,499',
 '₹15,499',
 '₹15,999',
 '₹21,999',
 '₹9,990',
 '₹13,990',
 '₹7,499',
 '₹7,999',
 '₹1,440',
 '₹2,499',
 '₹17,990',
 '₹20,990',
 '₹6,499',
 '₹9,999',
 '₹18,999',
 '₹24,999',
 '₹9,989',
 '₹16,000',
 '₹8,999',
 '₹10,499',
 '₹14,499',
 '₹17,999',
 '₹17,699',
 '₹18,999',
 '₹4,170',
 '₹5,999',
 '₹18,999',
 '₹24,999',
 '₹6,649',
 '₹14,990',
 '₹9,990',
 '₹12,990',
 '₹8,990',
 '₹9,990',
 '₹5,499',
 '₹6,999',
 '₹7,648',
 '₹7,999',
 '₹8,190',
 '₹10,999',
 '₹10,999',
 '₹14,999',
 '₹9,990',
 '₹12,990',
 '₹9,999',
 '₹13,999',
 '₹15,999',
 '₹21,999',
 '₹8,499',
 '₹9,999',
 '₹12,990',
 '₹16,990',
 '₹4,752',
 '₹6,999',
 '₹9,999',
 '₹13,999',
 '₹4,170',
 '₹5,999',
 '₹13,990',
 '₹19,990',
 '₹4,170',
 '₹5,999',
 '₹928',
 '₹1,499',
 '₹16,490',
 '₹20,490',
 '₹11,490',
 '₹15,490',
 '₹9,990',
 '₹13,990',
 '₹7,990',
 '₹11,990',
 '₹984',
 '₹1,499',
 '₹11,999',
 '₹13,999',
 '₹14,990',
 '₹18,990',
 '₹10,999',
 '₹13,999',
 '₹8,999',
 '₹11,499',
 '₹11,870',
 '₹11,999',
 '₹1,339',
 '₹2,499',
 '₹9,999',
 '₹13,999',
 '₹5,985',
 '₹15,980',
 '₹8,999',
 '₹14,999',
 '₹18,376',
 '₹18,999',
 '₹8,499',
 '₹9,999',
 '₹12,499',
 '₹15,999',
 '₹7,990',
 '₹10,990',
 '₹18,490',
 '₹22,990',
 '₹7,789',
 '₹7,999',
 '₹10,999',
 '₹13,999',
 '₹7,790',
 '₹7,999',
 '₹19,800',
 '₹21,999',
 '₹17,989',
 '₹27,990',
 '₹910',
 '₹1,399',
 '₹999',
 '₹1,399',
 '₹8,435',
 '₹9,999',
 '₹9,499',
 '₹14,999',
 '₹773',
 '₹999',
 '₹8,990',
 '₹9,990',
 '₹10,999',
 '₹14,999',
 '₹709',
 '₹1,299',
 '₹5,499',
 '₹6,499',
 '₹17,990',
 '₹21,990',
 '₹19,990',
 '₹24,990',
 '₹10,299',
 '₹10,999',
 '₹10,499',
 '₹11,999',
 '₹7,499',
 '₹8,999',
 '₹15,717',
 '₹18,490',
 '₹999',
 '₹1,499',
 '₹10,799',
 '₹11,999',
 '₹3,100',
 '₹5,990',
 '₹5,499',
 '₹9,999',
 '₹709',
 '₹1,299',
 '₹949',
 '₹1,399',
 '₹4,752',
 '₹5,999',
 '₹4,170',
 '₹5,999',
 '₹1,900',
 '₹1,949',
 '₹12,369',
 '₹14,999',
 '₹9,249',
 '₹10,999',
 '₹7,499',
 '₹7,999',
 '₹6,388',
 '₹7,777',
 '₹18,799',
 '₹30,990',
 '₹12,999',
 '₹13,999',
 '₹11,980',
 '₹16,999',
 '₹8,490',
 '₹10,990',
 '₹1,315',
 '₹2,499',
 '₹18,990',
 '₹20,990',
 '₹1,110',
 '₹1,335',
 '₹6,499',
 '₹7,199',
 '₹5,699',
 '₹8,999',
 '₹13,990',
 '₹17,990',
 '₹6,999',
 '₹8,999',
 '₹5,999',
 '₹6,999',
 '₹6,499',
 '₹7,199',
 '₹13,990',
 '₹18,990',
 '₹11,490',
 '₹15,490']

In [230]:
def grab_phone_url(base_url):
    
    phone_url_1 = []
    
    for n in range(1,21):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        urls = soup.select(".s-image")
        
        for url in urls:
            
            ur = url["src"]
            
            phone_url_1.append(ur)
    
    return phone_url_1

In [231]:
Mobile_url = grab_phone_url("https://www.amazon.in/s?k=mobile+under+20000+rupees&page={}&qid=1620366920&ref=sr_pg_2")

In [232]:
Mobile_url

['https://m.media-amazon.com/images/I/81EhipZy25L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/410Qvo2AfEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51GkdMbNKfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61bCHPmTE0L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71tI3JEgeeL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/31VbvTG-ESL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/514ETCdN3CL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71fsQAjfxsL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61raSKJ6kYL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/3152Zvpt7ZS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41S4vXtv-OL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41tScQxzMUL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/710p2f-zAdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51yQvB0yXSL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71y3aWvOucL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/714jNHaW0DS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81-xJ79cnjL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71crCF+ogwL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71rRwvlKXBL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71jzMLHiMfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41pLiEiu0CL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61cloMY4XNL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51X7mbDiDCL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/31JY0TfJ7ZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71SVzNmepQL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/31YBIJdhuUL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51S5CH-lLeL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61jyh1JTIsL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51V7isuZPuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71SqKtt9VbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71xYLLtUVEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41W7LvdnVAL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81zb1bxd6NL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71y3aWvOucL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/212QUwuVYFL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41UCOpRWvAL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71RWePBUWaS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41W7LvdnVAL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71UZfRHB7UL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61Q9fukuYXL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/31A7BDld35L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61+Us5nTzVL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61VcdgZiUAL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/31crsX1ms5L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/514C3I4r3AL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71zbz1O+hqL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81CIP2ZmtNL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/719ds5R-UbL._AC_UY218_.jpg']

In [233]:
def grab_phone_rating(base_url):
    
    phone_rating_1 = []
    
    for n in range(1,21):
        
        req = requests.get(base_url.format(n))
        
        soup = bs4.BeautifulSoup(req.text,"lxml")
        
        ratings = soup.select(".a-icon-alt")
        
        for rating in ratings:
            
            rate = rating.text
            
            phone_rating_1.append(rate)
    
    return phone_rating_1

In [234]:
Mobile_rating = grab_phone_rating("https://www.amazon.in/s?k=mobile+under+20000+rupees&page={}&qid=1620366920&ref=sr_pg_2")

In [235]:
df1 = pd.DataFrame(Mobile_name,columns=["Name"])
df2 = pd.DataFrame(Mobile_prices,columns=["Prices"])
df3 = pd.DataFrame(Mobile_url,columns=["URL"])
df4 = pd.DataFrame(Mobile_rating,columns=["Rating"])

In [236]:
df = pd.concat([df1,df2,df3,df4],axis=1)

In [237]:
df.head()

,Name,Prices,URL,Rating
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","₹9,999",https://m.media-amazon.com/images/I/81EhipZy25...,4.2 out of 5 stars
1,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)...","₹13,999",https://m.media-amazon.com/images/I/410Qvo2AfE...,4.2 out of 5 stars
2,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","₹7,499",https://m.media-amazon.com/images/I/71OxJeyywS...,4.3 out of 5 stars
3,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","₹8,999",https://m.media-amazon.com/images/I/51GkdMbNKf...,4.1 out of 5 stars
4,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","₹16,490",https://m.media-amazon.com/images/I/61bCHPmTE0...,4.2 out of 5 stars

### Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [238]:
base_url = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJTsH7UzbIU"

In [239]:
res = requests.get(base_url)

In [240]:
res

In [241]:
soup = bs4.BeautifulSoup(res.text,"lxml")

In [242]:
laras = soup.select(".col-sm-2.forecast-label")

In [243]:
period = []
for i in soup.select(".col-sm-2.forecast-label"):
    
    period.append(i.text)

In [244]:
period

['Overnight',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday',
 'Wednesday Night',
 'Thursday']

In [245]:
desc = []
for i in soup.select(".col-sm-10.forecast-text"):
    
    desc.append(i.text)

In [246]:
desc

['Mostly clear, with a low around 50. West wind around 11 mph, with gusts as high as 21 mph. ',
 'Sunny, with a high near 67. Light west wind increasing to 10 to 15 mph in the morning. Winds could gust as high as 21 mph. ',
 'Mostly clear, with a low around 52. West wind 6 to 11 mph becoming light. Winds could gust as high as 25 mph. ',
 'Sunny, with a high near 73. North northwest wind 7 to 11 mph, with gusts as high as 28 mph. ',
 'Mostly clear, with a low around 53. West northwest wind 7 to 13 mph. ',
 'Sunny, with a high near 71.',
 'Clear, with a low around 52.',
 'Sunny, with a high near 73.',
 'Clear, with a low around 52.',
 'Sunny, with a high near 74.',
 'Mostly clear, with a low around 51.',
 'Sunny, with a high near 70.',
 'Partly cloudy, with a low around 51.',
 'Sunny, with a high near 67.']

In [247]:
temp = []
for i in soup.select(".temp"):
    
    temp.append(i.text)

In [248]:
temp

['Low: 50 °F',
 'High: 67 °F',
 'Low: 52 °F',
 'High: 73 °F',
 'Low: 53 °F',
 'High: 71 °F',
 'Low: 52 °F',
 'High: 73 °F',
 'Low: 52 °F']

In [249]:
df1 = pd.DataFrame(period,columns=["Period"])
df2 = pd.DataFrame(desc,columns=["Description"])
df3 = pd.DataFrame(temp,columns=["Temperature"])

In [250]:
df = pd.concat([df1,df2,df3],axis=1)

In [251]:
df.head()

,Period,Description,Temperature
0,Overnight,"Mostly clear, with a low around 50. West wind ...",Low: 50 °F
1,Friday,"Sunny, with a high near 67. Light west wind in...",High: 67 °F
2,Friday Night,"Mostly clear, with a low around 52. West wind ...",Low: 52 °F
3,Saturday,"Sunny, with a high near 73. North northwest wi...",High: 73 °F
4,Saturday Night,"Mostly clear, with a low around 53. West north...",Low: 53 °F