### Importing Selenium Libraries

In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

### Importing Beautiful Soup Libraries

In [2]:
# Importing all the libraries for beautiful soup
import requests
import bs4
import lxml

#### Code to display row and column border

In [3]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [4]:
# Executing the chromedriver.exe file
driver = webdriver.Chrome(r"C:\Users\charl\Desktop\Study\DataTrained\Internship\Selenium\driver\chromedriver.exe")

In [5]:
# URL of the website 
url = "https://www.amazon.in/"

In [6]:
# Using get method to proceed to the website
driver.get(url)

In [7]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [8]:
# searching Laptops
sesrch_query.send_keys("Laptops")

In [14]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [15]:
search_btn.click()

## Amazon Laptops

In [16]:
# Collecting url's
urls = []

base_url = "https://www.amazon.in/s?k=Laptops&page={}&qid=1627376894&ref=sr_pg_{}"

for i in range(2,5):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [20]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [23]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [29]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [36]:
import pandas as pd

In [37]:
df1_Lap = pd.DataFrame(R_1,columns=["Review"])

In [39]:
df1_Lap["Rating"] = 1

In [40]:
df1_Lap.head()

                                              Review  Rating
0  The product promised a lot of features which m...       1
1  I already have a Asus Vivibook bought two year...       1
2  The battery backup is not even 50% of what's m...       1
3  Its been 30 days I bought this. Dead slow proc...       1
4                  Bettery backup is low low standby       1

In [41]:
df2_Lap = pd.DataFrame(R_2,columns=["Review"]) 
df2_Lap["Rating"] = 2

In [42]:
df2_Lap.head()

                                              Review  Rating
0  Just got it yesterday but aready i can see a l...       2
1  Might as well but a celeron processor based la...       2
2  It has a clockspeed of only 1GHz,so i would su...       2
3  Don't waste your Money guys. This laptop is ju...       2
4                                     It hangs a lot       2

In [43]:
df3_Lap = pd.DataFrame(R_3,columns=["Review"]) 
df3_Lap["Rating"] = 3

In [44]:
df3_Lap.head()

                                              Review  Rating
0  The laptop looks nice and sleek but is too slo...       3
1  I gave rate after 18 days it's performance is ...       3
2  Very slow processor take long to respond in op...       3
3              Battery charging still approx 3-4 hrs       3
4  Speaker volume is very low . The audio is not ...       3

In [45]:
df4_Lap = pd.DataFrame(R_4,columns=["Review"]) 
df4_Lap["Rating"] = 4

In [46]:
df4_Lap.head()

                                              Review  Rating
0  PROS:Best in its class.\nBoots in lightening 5...       4
1  The product is nice but the only thing annoyin...       4
2              Asus bodybuilding quality is better 🖤       4
3  The laptop is quite nice and it is more than t...       4
4  Satisfied with the purchase\nIt is suitable fo...       4

In [47]:
df5_Lap = pd.DataFrame(R_5,columns=["Review"]) 
df5_Lap["Rating"] = 5

In [48]:
df5_Lap.head()

                                              Review  Rating
0  Good laptop for day to day work .. i5 with 512...       5
1  Pros- good screen\nBest configurations\nFinger...       5
2  Likes:\nBest laptop under 50k budget.\nLight w...       5
3  Got an amazing deal in Amazon, elegant looking...       5
4  pros\n1. Intel i5\n2. looks bazel\n3. config\n...       5

In [49]:
df_final_lap = pd.concat([df1_Lap,df2_Lap,df3_Lap,df4_Lap,df5_Lap])

In [50]:
df_final_lap.head()

                                              Review  Rating
0  The product promised a lot of features which m...       1
1  I already have a Asus Vivibook bought two year...       1
2  The battery backup is not even 50% of what's m...       1
3  Its been 30 days I bought this. Dead slow proc...       1
4                  Bettery backup is low low standby       1

In [51]:
df_final_lap.shape

(450, 2)

In [52]:
df_final_lap["Rating"].value_counts()

5    90
4    90
3    90
2    90
1    90
Name: Rating, dtype: int64

In [58]:
df_final_lap.head()

                                              Review  Rating
0  The product promised a lot of features which m...       1
1  I already have a Asus Vivibook bought two year...       1
2  The battery backup is not even 50% of what's m...       1
3  Its been 30 days I bought this. Dead slow proc...       1
4                  Bettery backup is low low standby       1

In [59]:
df_final_lap.to_csv("Amazon_Laptop_reviewes")

## Amazon Phones

In [60]:
# URL of the website 
url = "https://www.amazon.in/"

In [61]:
driver.get(url)

In [62]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [63]:
# searching Laptops
sesrch_query.send_keys("Phones")

In [64]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [65]:
search_btn.click()

In [68]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Phones&page={}&qid=1627381120&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [69]:
len(urls)

22

In [70]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [73]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [79]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [80]:
df1_ph = pd.DataFrame(R_1,columns=["Review"]) 
df1_ph["Rating"] = 1

df2_ph = pd.DataFrame(R_2,columns=["Review"]) 
df2_ph["Rating"] = 2

df3_ph = pd.DataFrame(R_3,columns=["Review"]) 
df3_ph["Rating"] = 3

df4_ph = pd.DataFrame(R_4,columns=["Review"]) 
df4_ph["Rating"] = 4

df5_ph = pd.DataFrame(R_5,columns=["Review"]) 
df5_ph["Rating"] = 5

In [86]:
df_final_phone = pd.concat([df1_ph,df2_ph,df3_ph,df4_ph,df5_ph])

In [87]:
df_final_phone.head()

                                              Review  Rating
0  Battery Issue.... Phone is Heating during Char...       1
1  Facing heating issue while using camera app an...       1
2  Hi\nPlease consider this message with a seriou...       1
3  Within 10 minutes of usage. It’s felt like ove...       1
4  I don't why no reviewer is speaking about it. ...       1

In [88]:
df_final_phone.shape

(450, 2)

In [89]:
df_final_phone.to_csv("Amazon_Phone_reviewes")

## Amazon Headphones

In [90]:
# URL of the website 
url = "https://www.amazon.in/"

In [91]:
driver.get(url)

In [92]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [93]:
# searching Headphones
sesrch_query.send_keys("Headphones")

In [94]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [95]:
search_btn.click()

In [96]:
urls = []

base_url = "https://www.amazon.in/s?k=Headphones&page={}&qid=1627383536&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [101]:
len(urls)

22

In [103]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [106]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [118]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [119]:
df1_hp = pd.DataFrame(R_1,columns=["Review"]) 
df1_hp["Rating"] = 1

df2_hp = pd.DataFrame(R_2,columns=["Review"]) 
df2_hp["Rating"] = 2

df3_hp = pd.DataFrame(R_3,columns=["Review"]) 
df3_hp["Rating"] = 3

df4_hp = pd.DataFrame(R_4,columns=["Review"]) 
df4_hp["Rating"] = 4

df5_hp = pd.DataFrame(R_5,columns=["Review"]) 
df5_hp["Rating"] = 5

In [120]:
df_final_headP = pd.concat([df1_hp,df2_hp,df3_hp,df4_hp,df5_hp])

In [121]:
df_final_headP.head()

                                              Review  Rating
0  The Build quality is very poor, Never purchase...       1
1  Had a good review but now\nUpdate : after 1mon...       1
2  -at this price range sound is well maintained ...       1
3  The headphone stopped working after 15 days.po...       1
4  don't buy boat products.\nBoat is buying a low...       1

In [122]:
df_final_headP["Rating"].value_counts()

5    90
4    90
3    90
2    90
1    90
Name: Rating, dtype: int64

In [123]:
df_final_headP.shape

(450, 2)

In [132]:
df_final_headP.to_csv("Amazon_headphone_reviews")

In [133]:
df_final_headP.head()

                                              Review  Rating
0  The Build quality is very poor, Never purchase...       1
1  Had a good review but now\nUpdate : after 1mon...       1
2  -at this price range sound is well maintained ...       1
3  The headphone stopped working after 15 days.po...       1
4  don't buy boat products.\nBoat is buying a low...       1

## Amazon smart watches

In [124]:
# URL of the website 
url = "https://www.amazon.in/"

In [125]:
driver.get(url)

In [126]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [127]:
# searching Laptops
sesrch_query.send_keys("Smart Watches")

In [128]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [129]:
search_btn.click()

In [130]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Smart+Watches&page={}&qid=1627386215&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [134]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [136]:
len(Reviewes_5)

111

In [137]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [148]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [149]:
df1_sw = pd.DataFrame(R_1,columns=["Review"]) 
df1_sw["Rating"] = 1

df2_sw = pd.DataFrame(R_2,columns=["Review"]) 
df2_sw["Rating"] = 2

df3_sw = pd.DataFrame(R_3,columns=["Review"]) 
df3_sw["Rating"] = 3

df4_sw = pd.DataFrame(R_4,columns=["Review"]) 
df4_sw["Rating"] = 4

df5_sw = pd.DataFrame(R_5,columns=["Review"]) 
df5_sw["Rating"] = 5

In [150]:
df_final_smartW = pd.concat([df1_sw,df2_sw,df3_sw,df4_sw,df5_sw])

In [151]:
df_final_smartW.head()

                                              Review  Rating
0                                                  -       1
1  I was excited about this watch and purchased i...       1
2  You will find that touch is hanging a lot at t...       1
3  Noise app is not getting downloaded to my mobi...       1
4  Colour fit ultra doesn’t update firmware after...       1

In [152]:
df_final_smartW.isnull().sum()

Review    0
Rating    0
dtype: int64

In [153]:
df_final_smartW.shape

(450, 2)

In [154]:
df_final_smartW.to_csv("Amazon_Smart_Watch")

## Amazon Professional Cameras

In [155]:
# URL of the website 
url = "https://www.amazon.in/"

In [156]:
driver.get(url)

In [157]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [158]:
# searching Laptops
sesrch_query.send_keys("Professional Cameras")

In [159]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [160]:
search_btn.click()

In [161]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Professional+Cameras&page={}&qid=1627387637&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [163]:
len(urls)

22

In [164]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [166]:
len(Reviewes_5)

134

In [167]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [178]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [179]:
df1_cam = pd.DataFrame(R_1,columns=["Review"]) 
df1_cam["Rating"] = 1

df2_cam = pd.DataFrame(R_2,columns=["Review"]) 
df2_cam["Rating"] = 2

df3_cam = pd.DataFrame(R_3,columns=["Review"]) 
df3_cam["Rating"] = 3

df4_cam = pd.DataFrame(R_4,columns=["Review"]) 
df4_cam["Rating"] = 4

df5_cam = pd.DataFrame(R_5,columns=["Review"]) 
df5_cam["Rating"] = 5

In [180]:
df_final_camera = pd.concat([df1_cam,df2_cam,df3_cam,df4_cam,df5_cam])

In [181]:
df_final_camera.head()

                                              Review  Rating
0  I am a Canon user and very disappointed to rea...       1
1  The lens pouches are too narrow to fit the len...       1
2  Product very loose in rigidness, should have b...       1
3                                       Poor quality       1
4  This product does not allow to accommodate 70 ...       1

In [182]:
df_final_camera.shape

(450, 2)

In [183]:
df_final_camera.to_csv("Amazon_Camera_reviewes")

## Amazon Printers

In [184]:
# URL of the website 
url = "https://www.amazon.in/"

In [185]:
driver.get(url)

In [186]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [187]:
# searching Laptops
sesrch_query.send_keys("Printers")

In [188]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [189]:
search_btn.click()

In [190]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Printers&page={}&qid=1627388771&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [192]:
len(urls)

22

In [193]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [195]:
len(Reviewes_5)

183

In [196]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [206]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [207]:
df1_print = pd.DataFrame(R_1,columns=["Review"]) 
df1_print["Rating"] = 1

df2_print = pd.DataFrame(R_2,columns=["Review"]) 
df2_print["Rating"] = 2

df3_print = pd.DataFrame(R_3,columns=["Review"]) 
df3_print["Rating"] = 3

df4_print = pd.DataFrame(R_4,columns=["Review"]) 
df4_print["Rating"] = 4

df5_print = pd.DataFrame(R_5,columns=["Review"]) 
df5_print["Rating"] = 5

In [208]:
df_final_printer = pd.concat([df1_print,df2_print,df3_print,df4_print,df5_print])

In [209]:
df_final_printer.head()

                                              Review  Rating
0                             I received it this way       1
1  It was a very bad experience faced with the Ca...       1
2                                    Damaged product       1
3  No colour options, not suitable for my require...       1
4                                 Installing problem       1

In [210]:
df_final_printer.isnull().sum()

Review    0
Rating    0
dtype: int64

In [211]:
df_final_printer.shape

(450, 2)

In [212]:
df_final_printer.to_csv("Amazon_Printer_reviewes")

## Amazon Monitors

In [213]:
# URL of the website 
url = "https://www.amazon.in/"

In [214]:
driver.get(url)

In [215]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [216]:
# searching Laptops
sesrch_query.send_keys("Computer Monitors")

In [217]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [218]:
search_btn.click()

In [219]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Computer+Monitors&page={}&qid=1627389980&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [220]:
len(urls)

22

In [222]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [224]:
len(Reviewes_5)

145

In [225]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [235]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [236]:
df1_mon = pd.DataFrame(R_1,columns=["Review"]) 
df1_mon["Rating"] = 1

df2_mon = pd.DataFrame(R_2,columns=["Review"]) 
df2_mon["Rating"] = 2

df3_mon = pd.DataFrame(R_3,columns=["Review"]) 
df3_mon["Rating"] = 3

df4_mon = pd.DataFrame(R_4,columns=["Review"]) 
df4_mon["Rating"] = 4

df5_mon = pd.DataFrame(R_5,columns=["Review"]) 
df5_mon["Rating"] = 5

In [237]:
df_final_monitor = pd.concat([df1_mon,df2_mon,df3_mon,df4_mon,df5_mon])

In [238]:
df_final_monitor.head()

                                              Review  Rating
0                                                  -       1
1  Received the monitor today and I'm very impres...       1
2  Looking at the specs I ordered without any sec...       1
3  It seems I've got a bad piece. There is backli...       1
4  After using one year:\nThe monitor developed b...       1

In [239]:
df_final_monitor.shape

(450, 2)

In [240]:
df_final_monitor.to_csv("Amazon Monitor Review")

## Amazon Home theater

In [241]:
# URL of the website 
url = "https://www.amazon.in/"

In [242]:
driver.get(url)

In [243]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [244]:
# searching Laptops
sesrch_query.send_keys("Home Theater")

In [245]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [246]:
search_btn.click()

In [247]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Home+Theater&page={}&qid=1627391077&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [248]:
len(urls)

22

In [250]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [253]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [267]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [268]:
df1_ht = pd.DataFrame(R_1,columns=["Review"]) 
df1_ht["Rating"] = 1

df2_ht = pd.DataFrame(R_2,columns=["Review"]) 
df2_ht["Rating"] = 2

df3_ht = pd.DataFrame(R_3,columns=["Review"]) 
df3_ht["Rating"] = 3

df4_ht = pd.DataFrame(R_4,columns=["Review"]) 
df4_ht["Rating"] = 4

df5_ht = pd.DataFrame(R_5,columns=["Review"]) 
df5_ht["Rating"] = 5


df_final_home = pd.concat([df1_ht,df2_ht,df3_ht,df4_ht,df5_ht])

In [269]:
df_final_home.head()

                                              Review  Rating
0                              Very Bad Sound System       1
1  I get this product wrong there is the manufact...       1
2  This is a waste product. Waste of money.cheap ...       1
3  Dear team,\nMy product is not good the product...       1
4  Worst Build Quality. NO Good Finish. Remote al...       1

In [270]:
df_final_home.shape

(423, 2)

In [271]:
df_final_home.to_csv("Amazom_Home_theter")

## Amazon Router

In [272]:
# URL of the website 
url = "https://www.amazon.in/"

In [273]:
driver.get(url)

In [274]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [275]:
# searching Laptops
sesrch_query.send_keys("Routers")

In [276]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [277]:
search_btn.click()

In [278]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Routers&page={}&qid=1627392126&ref=sr_pg_{}"

for i in range(2,3):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [279]:
len(urls)

22

In [280]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [283]:
Reviewes_4 = []

Reviewes_3 = []

Reviewes_2 = []

Reviewes_1 = []


for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_4 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_4 = cust_rev_4.get_attribute("href")
    
        driver.get(rev_4)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")
        
        
    try:
        
        cust_rev_3 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_3 = cust_rev_3.get_attribute("href")
    
        driver.get(rev_3)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")
        
        
    
    try:
        
        cust_rev_2 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_2 = cust_rev_2.get_attribute("href")
    
        driver.get(rev_2)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")
        
    
    try:
        
        cust_rev_1 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_1 = cust_rev_1.get_attribute("href")
    
        driver.get(rev_1)
        
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [290]:
R_1 = Reviewes_1[:90]
R_2 = Reviewes_2[:90]
R_3 = Reviewes_3[:90]
R_4 = Reviewes_4[:90]
R_5 = Reviewes_5[:90]

In [291]:
df1_rout = pd.DataFrame(R_1,columns=["Review"]) 
df1_rout["Rating"] = 1

df2_rout = pd.DataFrame(R_2,columns=["Review"]) 
df2_rout["Rating"] = 2

df3_rout = pd.DataFrame(R_3,columns=["Review"]) 
df3_rout["Rating"] = 3

df4_rout = pd.DataFrame(R_4,columns=["Review"]) 
df4_rout["Rating"] = 4

df5_rout = pd.DataFrame(R_5,columns=["Review"]) 
df5_rout["Rating"] = 5


df_final_router = pd.concat([df1_rout,df2_rout,df3_rout,df4_rout,df5_rout])

In [292]:
df_final_router.head()

                                              Review  Rating
0                                                  -       1
1  Amazon has delivered an used/returned product....       1
2  It is not even giving the coverage of 15 feet ...       1
3  Ordered RV340 on 6th Jan 2021. It's dead on 18...       1
4  Absolutely no support from Cisco to set it up\...       1

In [293]:
df_final_router.shape

(450, 2)

In [294]:
df_final_router.to_csv("Router Reviewes")

In [5]:
import pandas as pd

In [24]:
df1 = pd.read_csv("Amazon_Laptop_reviewes")
df2 = pd.read_csv("Amazon_Phone_reviewes")
df3 = pd.read_csv("Amazon_headphone_reviews")
df4 = pd.read_csv("Amazon_Smart_Watch")
df5 = pd.read_csv("Amazon_Camera_reviewes")
df6 = pd.read_csv("Amazon_Printer_reviewes")
df7 = pd.read_csv("Amazon Monitor Review")
df8 = pd.read_csv("Amazom_Home_theter")
df9 = pd.read_csv("Router Reviewes")

In [25]:
df_Amazon_reviewes = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [26]:
df_Amazon_reviewes.head()

   Unnamed: 0                                             Review  Rating
0           0  The product promised a lot of features which m...       1
1           1  I already have a Asus Vivibook bought two year...       1
2           2  The battery backup is not even 50% of what's m...       1
3           3  Its been 30 days I bought this. Dead slow proc...       1
4           4                  Bettery backup is low low standby       1

In [27]:
df_Amazon_reviewes = df_Amazon_reviewes.drop("Unnamed: 0",axis=1)

In [28]:
df_Amazon_reviewes.head()

                                              Review  Rating
0  The product promised a lot of features which m...       1
1  I already have a Asus Vivibook bought two year...       1
2  The battery backup is not even 50% of what's m...       1
3  Its been 30 days I bought this. Dead slow proc...       1
4                  Bettery backup is low low standby       1

In [29]:
df_Amazon_reviewes = df_Amazon_reviewes.sample(frac=1).reset_index(drop=True)

In [30]:
df_Amazon_reviewes.head()

                                              Review  Rating
0  Best product. You can buy this product .\nOnly...       4
1  WARNING\n\nTo anyone thinking of buying an Ace...       2
2  Crop sensor gives you additional distance from...       4
3  What I like:\n- Cheap price\n- Somewhat good w...       5
4  Havent been able to connect the printer to wif...       1

In [31]:
df_Amazon_reviewes.shape

(4023, 2)

In [32]:
df_Amazon_reviewes["Rating"].value_counts()

5    810
1    810
4    810
3    800
2    793
Name: Rating, dtype: int64

In [33]:
df_Amazon_reviewes.to_csv("Final_Amazon_Reviewes")

## Flipkart Reviewes

In [149]:
# URL of the website 
url = "https://www.flipkart.com/"

In [150]:
driver.get(url)

In [151]:
#cross_mark = driver.find_element_by_css_selector("body > div._2Sn47c > div > div > button")

In [152]:
#cross_mark.click()

In [153]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [154]:
# searching Laptops
search_query.send_keys("Laptops")

In [155]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

In [156]:
search_btn.click()

In [157]:
popularity = driver.find_element_by_css_selector("#container > div > div._36fx1h._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div:nth-child(2) > div._1YokD2._2GoDe3.col-12-12 > div > div > div._5THWM1 > div:nth-child(3)")

In [158]:
popularity.click()

In [171]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY&as-backfill=on&sort=popularity&page={}"

for i in range(2,9):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//div[@class='_2kHMtA']//a"):
        
        urls.append(url.get_attribute("href"))

In [172]:
len(urls)

168

In [173]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(7) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [174]:
len(Reviewes)

534

In [175]:
df_r = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [207]:
df_r.head()

                                            Reviewes Ratings
0                                                  -       -
1                                                  -       -
2                                                  -       -
3  5\nMust buy!\nIts an absolute beast if u know ...       5
4  5\nSimply awesome\nThis is the best laptop in ...       5

In [208]:
df_r["Ratings"] = df_r["Reviewes"].str.split().str[0]

In [209]:
df_r.head()

                                            Reviewes Ratings
0                                                  -       -
1                                                  -       -
2                                                  -       -
3  5\nMust buy!\nIts an absolute beast if u know ...       5
4  5\nSimply awesome\nThis is the best laptop in ...       5

In [210]:
df_r["Ratings"].value_counts()

5    247
-    125
4    118
1     23
2     12
3      9
Name: Ratings, dtype: int64

In [211]:
df_R5 = df_r[df_r["Ratings"] == "5"]

In [212]:
df_R5 = df_R5[:90]

In [214]:
df_R5.head()

                                             Reviewes Ratings
3   5\nMust buy!\nIts an absolute beast if u know ...       5
4   5\nSimply awesome\nThis is the best laptop in ...       5
5   5\nMust buy!\nGood product as used of now.... ...       5
6   5\nTerrific\nAWESOME LAPTOP. It supports many ...       5
10  5\nClassy product\nIt's good gameing laptop in...       5

In [219]:
import re

In [232]:
# Removing brackets 

def remove_sq_brackets(text):
    
    return re.sub('4\n', '',text)

In [221]:
df_R5["Reviewes"] = df_R5["Reviewes"].apply(remove_sq_brackets)

In [222]:
df_R5.head()

                                             Reviewes Ratings
3   Must buy!\nIts an absolute beast if u know wha...       5
4   Simply awesome\nThis is the best laptop in thi...       5
5   Must buy!\nGood product as used of now.... Eve...       5
6   Terrific\nAWESOME LAPTOP. It supports many hig...       5
10  Classy product\nIt's good gameing laptop in th...       5

In [224]:
df_R5.shape

(90, 2)

In [225]:
df_R4 = df_r[df_r["Ratings"] == "4"]

In [227]:
df_R4 = df_R4[:90]

In [228]:
df_R4.head()

                                             Reviewes Ratings
7   4\nValue-for-money\nFor that price... it's exc...       4
8   4\nNice product\nRAM upgrade is must do becaus...       4
9   4\nVery Good\nFor the peoples who R going to b...       4
11  4\nGood choice\nBest laptop in this price rang...       4
12  4\nValue-for-money\nThe AMD APU is a disappoin...       4

In [229]:
df_R4.shape

(90, 2)

In [233]:
df_R4["Reviewes"] = df_R4["Reviewes"].apply(remove_sq_brackets)

In [234]:
df_R4.head()

                                             Reviewes Ratings
7   Value-for-money\nFor that price... it's except...       4
8   Nice product\nRAM upgrade is must do because t...       4
9   Very Good\nFor the peoples who R going to buy ...       4
11  Good choice\nBest laptop in this price range.....       4
12  Value-for-money\nThe AMD APU is a disappointme...       4

In [236]:
df_R3 = df_r[df_r["Ratings"] == "3"]

In [237]:
df_R3.head()

                                              Reviewes Ratings
22   3\nDecent product\nGood performance but very p...       3
48   3\nDoes the job\nI am writing this after using...       3
122  3\nFair\nFirst thing if you look for performan...       3
176  3\nDecent product\nGood performance but very p...       3
212  3\nDoes the job\nI am writing this after using...       3

In [238]:
# Need 81 more ratings
df_R3.shape

(9, 2)

In [239]:
df_R2 = df_r[df_r["Ratings"] == "2"]

In [240]:
df_R2.head()

                                              Reviewes Ratings
20   2\nHigh-pitched sound like hard disk failing/f...       2
51   2\nCould be way better\nI PURCHASED LAPTOP 1 M...       2
63   2\nNot good\nThis laptop has very baf battery ...       2
141  2\nCould be way better\nI PURCHASED LAPTOP 1 M...       2
174  2\nHigh-pitched sound like hard disk failing/f...       2

In [241]:
# 78 more 2 ratings
df_R2.shape

(12, 2)

In [242]:
df_R1 = df_r[df_r["Ratings"] == "1"]

In [244]:
# 67 more 1 ratings
df_R1.shape

(23, 2)

In [255]:
df_Laptops_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [256]:
df_Laptops_FK.head()

                                              Reviewes Ratings
36   1\nUseless product\nDelivery was good, but the...       1
37   1\nUnsatisfactory\nIt's keyboard start creatin...       1
56   1\nWorthless\nFirst i thought it would reach m...       1
105  1\nUseless product\nDelivery was good, but the...       1
106  1\nUnsatisfactory\nIt's keyboard start creatin...       1

In [258]:
df_Laptops_FK["Ratings"].value_counts()

5    90
4    90
1    23
2    12
3     9
Name: Ratings, dtype: int64

In [259]:
df_Laptops_FK.to_csv("Flipkart_Laptops")

### Flipkart Phones

In [245]:
# URL of the website 
url = "https://www.flipkart.com/"

In [246]:
driver.get(url)

In [247]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [248]:
# searching Laptops
search_query.send_keys("Phones")

In [249]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

In [250]:
search_btn.click()

In [251]:
popularity = driver.find_element_by_css_selector("#container > div > div._36fx1h._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div:nth-child(2) > div._1YokD2._2GoDe3.col-12-12 > div > div > div._5THWM1 > div:nth-child(3)")

In [252]:
popularity.click()

In [253]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Phones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&sort=popularity&page={}"

for i in range(2,4):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//div[@class='_2kHMtA']//a"):
        
        urls.append(url.get_attribute("href"))

In [254]:
len(urls)

48

In [260]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(7) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [262]:
len(Reviewes)

354

In [263]:
df_ph = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [267]:
df_ph.head()

                                            Reviewes Ratings
0  4\nNice product\nThe phone is good enough in t...       4
1  5\nWonderful\nBest budget smartphone with Real...       5
2  4\nNice product\nVery good performance gift fr...       4
3  5\nExcellent\nI purchased this phone for my mo...       5
4  5\nWonderful\nBest phone in this price range.\...       5

In [269]:
df_R1 = df_ph[df_ph["Ratings"] == "5"]

In [270]:
df_R1 = df_R1[:90]

In [273]:
df_R2 = df_ph[df_ph["Ratings"] == "4"]

df_R3 = df_ph[df_ph["Ratings"] == "3"]

df_R4 = df_ph[df_ph["Ratings"] == "2"]

df_R5 = df_ph[df_ph["Ratings"] == "1"]

In [279]:
df_R5.shape

(3, 2)

In [280]:
df_phones_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [284]:
df_phones_FK.to_csv("Flipkart Phones Reviewes")

### Flipkart Headphones

In [285]:
# URL of the website 
url = "https://www.flipkart.com/"

In [286]:
driver.get(url)

In [287]:
#cross_mark = driver.find_element_by_css_selector("body > div._2Sn47c > div > div > button")

In [288]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [289]:
# searching Laptops
search_query.send_keys("Headphones")

In [290]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

In [291]:
search_btn.click()

In [292]:
popularity = driver.find_element_by_css_selector("#container > div > div._36fx1h._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div:nth-child(2) > div._1YokD2._2GoDe3.col-12-12 > div > div > div._5THWM1 > div:nth-child(3)")

In [293]:
popularity.click()

In [304]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Headphones&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&sort=popularity&page={}"

for i in range(2,4):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='_2rpwqI']"):
        
        urls.append(url.get_attribute("href"))

In [305]:
len(urls)

80

In [306]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(7) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [308]:
df_hp = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [309]:
df_hp.head()

                                            Reviewes
0  5\nTerrific\nThis is my 1st wireless earphones...
1  5\nWonderful\nWhy this is a good choice ?\n- T...
2  4\nValue-for-money\nReview after 2 months use....
3  5\nSuper!\nOmggggggg,🔥🔥🔥 this airpods more tha...
4  5\nHighly recommended\nI'm using boat from las...

In [311]:
df_hp["Ratings"] = df_hp["Reviewes"].str.split().str[0]

In [312]:
df_hp.head()

                                            Reviewes Ratings
0  5\nTerrific\nThis is my 1st wireless earphones...       5
1  5\nWonderful\nWhy this is a good choice ?\n- T...       5
2  4\nValue-for-money\nReview after 2 months use....       4
3  5\nSuper!\nOmggggggg,🔥🔥🔥 this airpods more tha...       5
4  5\nHighly recommended\nI'm using boat from las...       5

In [314]:
df_hp["Ratings"].value_counts()

5    239
4     90
-     41
3     20
1     14
2      7
Name: Ratings, dtype: int64

In [315]:
df_R1 = df_hp[df_hp["Ratings"] == "5"]

df_R1 = df_R1[:90]

df_R2 = df_hp[df_hp["Ratings"] == "4"]

df_R3 = df_hp[df_hp["Ratings"] == "3"]

df_R4 = df_hp[df_hp["Ratings"] == "2"]

df_R5 = df_hp[df_hp["Ratings"] == "1"]

In [318]:
df_headphones_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [321]:
df_headphones_FK.to_csv("Flipkart Headphones Reviewes")

## Flipkart smart watches

In [324]:
# URL of the website 
url = "https://www.flipkart.com/"

In [325]:
driver.get(url)

In [326]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [327]:
# searching Laptops
search_query.send_keys("Smart Watch")

In [328]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

In [329]:
search_btn.click()

In [330]:
popularity = driver.find_element_by_css_selector("#container > div > div._36fx1h._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div:nth-child(2) > div._1YokD2._2GoDe3.col-12-12 > div > div > div._5THWM1 > div:nth-child(3)")

In [331]:
popularity.click()

In [341]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Smart+Watch&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&sort=popularity&page={}"

for i in range(2,9):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):
        
        urls.append(url.get_attribute("href"))

In [342]:
len(urls)

144

In [343]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(7) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [344]:
len(Reviewes)

315

In [345]:
df_sw = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [348]:
df_sw["Ratings"] = df_sw["Reviewes"].str.split().str[0]

In [350]:
df_sw["Ratings"].value_counts()

-    125
5    120
4     56
3      8
2      4
1      2
Name: Ratings, dtype: int64

In [351]:
df_R1 = df_sw[df_sw["Ratings"] == "5"]

df_R1 = df_R1[:90]

df_R2 = df_sw[df_sw["Ratings"] == "4"]

df_R3 = df_sw[df_sw["Ratings"] == "3"]

df_R4 = df_sw[df_sw["Ratings"] == "2"]

df_R5 = df_sw[df_sw["Ratings"] == "1"]

In [354]:
df_smartWatches_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [355]:
df_smartWatches_FK.shape

(160, 2)

In [357]:
df_smartWatches_FK.to_csv("FlipKart SW Reviewes")

## Flipkart Professional Cameras

In [394]:
# URL of the website 
url = "https://www.flipkart.com/"

In [395]:
driver.get(url)

In [396]:
#cross_mark = driver.find_element_by_css_selector("body > div._2Sn47c > div > div > button")

In [397]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [398]:
# searching Laptops
search_query.send_keys("Cameras")

In [399]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

In [400]:
search_btn.click()

In [402]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Cameras&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}"

for i in range(1,4):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):
        
        urls.append(url.get_attribute("href"))

In [407]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(7) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [410]:
df_cam = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [413]:
df_cam["Ratings"]=df_cam["Reviewes"].str.split().str[0]

In [415]:
df_cam["Ratings"].value_counts()

-    115
5     38
4     11
3      1
Name: Ratings, dtype: int64

In [416]:
df_R1 = df_cam[df_cam["Ratings"] == "5"]

df_R2 = df_cam[df_cam["Ratings"] == "4"]

df_R3 = df_cam[df_cam["Ratings"] == "3"]

In [417]:
df_camera_FK = pd.concat([df_R1,df_R2,df_R3])

In [418]:
df_camera_FK.head()

                                            Reviewes Ratings
1  5\nExcellent\nproduct really great . I am tota...       5
3  5\nJust wow!\nWorth more than the amount. Best...       5
5  5\nBest in the market!\nproduct is very good a...       5
6  5\nBrilliant\nAwsm . I'm not a professional bu...       5
7  5\nSuper!\nVerry Nice and for My Opinion is gr...       5

In [419]:
df_camera_FK.to_csv("Flipkart Camera Review")

## Flipkart Printers

In [420]:
# URL of the website 
url = "https://www.flipkart.com/"

In [421]:
driver.get(url)

In [422]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [423]:
# searching Laptops
search_query.send_keys("Printers")

In [424]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

In [425]:
search_btn.click()

In [427]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Printers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}"

for i in range(1,3):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):
        
        urls.append(url.get_attribute("href"))

In [429]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(7) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [432]:
df_printers = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [434]:
df_printers["Ratings"] = df_printers["Reviewes"].str.split().str[0]

In [435]:
df_printers.head()

                                            Reviewes Ratings
0                                                  -       -
1                                                  -       -
2                                                  -       -
3  4\nPretty good\nPlease Don't Install It On You...       4
4  5\nMind-blowing purchase\nExcellent delivery, ...       5

In [437]:
df_R1 = df_printers[df_printers["Ratings"] == "5"]

df_R1 = df_R1[:90]

df_R2 = df_printers[df_printers["Ratings"] == "4"]

df_R3 = df_printers[df_printers["Ratings"] == "3"]

df_R4 = df_printers[df_printers["Ratings"] == "2"]

df_R5 = df_printers[df_printers["Ratings"] == "1"]

In [444]:
df_printers_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [446]:
df_printers_FK.to_csv("Flipkart Printer Reviewes")

## Flipkart Monitors

In [452]:
# URL of the website 
url = "https://www.flipkart.com/"

In [453]:
driver.get(url)

In [454]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [455]:
# searching Laptops
search_query.send_keys("Monitors")

In [456]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

search_btn.click()

In [457]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Monitors&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}"

for i in range(1,3):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):
        
        urls.append(url.get_attribute("href"))

In [463]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(5) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [467]:
df_mon = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [469]:
df_mon["Ratings"] = df_mon["Reviewes"].str.split().str[0]

In [472]:
df_R1 = df_mon[df_mon["Ratings"] == "5"]

df_R1 = df_R1[:90]

df_R2 = df_mon[df_mon["Ratings"] == "4"]

df_R3 = df_mon[df_mon["Ratings"] == "3"]

df_R4 = df_mon[df_mon["Ratings"] == "2"]

df_R5 = df_mon[df_mon["Ratings"] == "1"]

In [474]:
df_moniters_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [475]:
df_moniters_FK.to_csv("Flipkart Monitor Reviewes")

## FLipkart Home theater

In [476]:
# URL of the website 
url = "https://www.flipkart.com/"

In [477]:
driver.get(url)

In [478]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [479]:
# searching Laptops
search_query.send_keys("Home theater")

In [480]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

search_btn.click()

In [481]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Home+theater&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}"

for i in range(1,3):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='_2rpwqI']"):
        
        urls.append(url.get_attribute("href"))

In [484]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(5) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [490]:
df_ht = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [495]:
df_ht["Ratings"] = df_ht["Reviewes"].str.split().str[0]

In [496]:
df_ht.head()

                                            Reviewes Ratings
0  5\nSuper!\nNice\nFlipkart Customer\nCertified ...       5
1  5\nSimply awesome\nsuper product\nSaravana Kum...       5
2  5\nHighly recommended\nGood product\nFlipkart ...       5
3  3\nNice\nNice\nNaresh Javaji\nCertified Buyer,...       3
4  5\nClassy product\nvery good sound and design\...       5

In [498]:
df_R1 = df_ht[df_ht["Ratings"] == "5"]

df_R1 = df_R1[:90]

df_R2 = df_ht[df_ht["Ratings"] == "4"]

df_R3 = df_ht[df_ht["Ratings"] == "3"]

df_R4 = df_ht[df_ht["Ratings"] == "2"]

df_R5 = df_ht[df_ht["Ratings"] == "1"]

In [500]:
df_HomeThe_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [501]:
df_HomeThe_FK.to_csv("Flipkart Home Reviewes")

### Flipkart Routers

In [5]:
# URL of the website 
url = "https://www.flipkart.com/"

In [6]:
driver.get(url)

In [7]:
# targeting the search text box
search_query = driver.find_element_by_class_name("_3704LK")

In [8]:
# searching Laptops
search_query.send_keys("Routers")

In [9]:
search_btn = driver.find_element_by_css_selector("#container > div > div._1kfTjk > div._1rH5Jn > div._2Xfa2_ > div._1cmsER > form > div > button")

search_btn.click()

In [10]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.flipkart.com/search?q=Routers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}"

for i in range(1,3):
    
    driver.get(base_url.format(i))
    
    for url in driver.find_elements_by_xpath("//a[@class='s1Q9rs']"):
        
        urls.append(url.get_attribute("href"))

In [12]:
len(urls)

80

In [13]:
Reviewes = []

for link in urls:
    
    
    driver.get(link)
    
    
    try:
        
        link_1 = driver.find_element_by_css_selector("#container > div > div._2c7YLP.UtUXW0._6t1WkM._3HqJxg > div._1YokD2._2GoDe3 > div._1YokD2._3Mn1Gg.col-8-12 > div._1YokD2._3Mn1Gg > div:nth-child(5) > div > a")
        
        link_h = link_1.get_attribute("href")
        
        driver.get(link_h)
        
        for i in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']"):
            
            
            Reviewes.append(i.text)
            
    except NoSuchElementException:
        
        Reviewes.append("-")

In [16]:
df_router = pd.DataFrame(Reviewes,columns=["Reviewes"])

In [20]:
df_router.head()

                                            Reviewes Ratings
0                                                  -       -
1                                                  -       -
2                                                  -       -
3  4\nGood quality product\nThis router it seems ...       4
4  5\nAwesome\nWonderful experience so far.This p...       5

In [22]:
df_R1 = df_router[df_router["Ratings"] == "5"]

df_R2 = df_router[df_router["Ratings"] == "4"]

df_R3 = df_router[df_router["Ratings"] == "3"]

df_R4 = df_router[df_router["Ratings"] == "2"]

df_R5 = df_router[df_router["Ratings"] == "1"]

In [23]:
df_Routers_FK = pd.concat([df_R1,df_R2,df_R3,df_R4,df_R5])

In [24]:
df_Routers_FK.head()

                                            Reviewes Ratings
4  5\nAwesome\nWonderful experience so far.This p...       5
5  5\nAwesome\nI am a streamer as well as a gamer...       5
7  5\nJust wow!\nExcellent router. Using it for a...       5
8  5\nGo for it !!\nWorks great. The ranges of bo...       5
9  5\nMust buy!\nReally good product, very nice r...       5

In [26]:
df_Routers_FK.to_csv("Flipkart Router Reviewes")

In [27]:
df1 = pd.read_csv("Flipkart_Laptops")
df2 = pd.read_csv("Flipkart Phones Reviewes")
df3 = pd.read_csv("Flipkart Headphones Reviewes")
df4 = pd.read_csv("FlipKart SW Reviewes")
df5 = pd.read_csv("Flipkart Camera Review")
df6 = pd.read_csv("Flipkart Printer Reviewes")
df7 = pd.read_csv("Flipkart Monitor Reviewes")
df8 = pd.read_csv("Flipkart Home Reviewes")
df9 = pd.read_csv("Flipkart Router Reviewes")

In [28]:
df_FK_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [29]:
df_FK_final.head()

   Unnamed: 0                                           Reviewes  Ratings
0          36  1\nUseless product\nDelivery was good, but the...        1
1          37  1\nUnsatisfactory\nIt's keyboard start creatin...        1
2          56  1\nWorthless\nFirst i thought it would reach m...        1
3         105  1\nUseless product\nDelivery was good, but the...        1
4         106  1\nUnsatisfactory\nIt's keyboard start creatin...        1

In [30]:
df_FK_final = df_FK_final.drop("Unnamed: 0",axis=1)

In [33]:
df_FK_final.head()

                                            Reviewes  Ratings
0  1\nUseless product\nDelivery was good, but the...        1
1  1\nUnsatisfactory\nIt's keyboard start creatin...        1
2  1\nWorthless\nFirst i thought it would reach m...        1
3  1\nUseless product\nDelivery was good, but the...        1
4  1\nUnsatisfactory\nIt's keyboard start creatin...        1

In [34]:
df_Flipkart_reviewes = df_FK_final.sample(frac=1).reset_index(drop=True)

In [35]:
df_Flipkart_reviewes.head()

                                            Reviewes  Ratings
0  4\nWonderful\nBought it for 799 from flipkart....        4
1  4\nGood quality product\nA good camera for pho...        4
2  4\nVery Good\nIt was a Xmas gift for my fiance...        4
3  3\nGood\nInk cartridge provided with it could ...        3
4  5\nSimply awesome\nThis product is excellent s...        5

In [36]:
df_Flipkart_reviewes["Ratings"].value_counts()

5    726
4    454
3    100
1     97
2     51
Name: Ratings, dtype: int64

In [37]:
df_Flipkart_reviewes.to_csv("Final Flipkart Reviewes")

In [86]:
df1 = pd.read_csv("Final_Amazon_Reviewes")
df2 = pd.read_csv("Final Flipkart Reviewes")

In [96]:
df2.rename(columns = {'Reviewes':'Review','Ratings':'Rating'}, inplace = True)

In [99]:
Final = pd.concat([df1,df2])

In [100]:
Final.head()

   Unnamed: 0                                             Review  Rating
0           0  Best product. You can buy this product .\nOnly...       4
1           1  WARNING\n\nTo anyone thinking of buying an Ace...       2
2           2  Crop sensor gives you additional distance from...       4
3           3  What I like:\n- Cheap price\n- Somewhat good w...       5
4           4  Havent been able to connect the printer to wif...       1

In [101]:
Final = Final.drop("Unnamed: 0",axis=1)

In [105]:
Final.head()

                                              Review  Rating
0  Best product. You can buy this product .\nOnly...       4
1  WARNING\n\nTo anyone thinking of buying an Ace...       2
2  Crop sensor gives you additional distance from...       4
3  What I like:\n- Cheap price\n- Somewhat good w...       5
4  Havent been able to connect the printer to wif...       1

In [106]:
Final["Rating"].value_counts()

5    1536
4    1264
1     907
3     900
2     844
Name: Rating, dtype: int64

In [107]:
Final.to_csv("Final_Reviewes_AMFK")

In [111]:
# URL of the website 
url = "https://www.amazon.in/"

In [112]:
driver.get(url)

In [113]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [114]:
# searching Laptops
sesrch_query.send_keys("Laptops")

In [115]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [116]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Laptops&page={}&qid=1627535792&ref=sr_pg_{}"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [118]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [120]:
Reviewes_5

773

In [143]:
df_lap_Remaining = pd.DataFrame(Reviewes_5,columns=["Review"])

In [144]:
df_lap_Remaining.head()

                                              Review
0                                                  -
1                                                  -
2  Looks are good and its slim\nAnd charges reall...
3                                       Good product
4  over the performance, it works like a charm fo...

In [147]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        pass

In [150]:
Reviewes_5_f = Reviewes_5_f[:275]

In [151]:
len(Reviewes_5_f)

275

In [152]:
Laptop_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [154]:
Laptop_275["Rating"] = 5

In [155]:
Laptop_275.head()

                                              Review  Rating
0  Looks are good and its slim\nAnd charges reall...       5
1                                       Good product       5
2  over the performance, it works like a charm fo...       5
3  Simply superb... didn't find any issues\nJust ...       5
4                        Good delivery great product       5

In [156]:
Laptop_275.to_csv("Laptop_275")

### Phones

In [157]:
# URL of the website 
url = "https://www.amazon.in/"

In [158]:
driver.get(url)

In [159]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [160]:
# searching Laptops
sesrch_query.send_keys("Phones")

In [161]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

In [162]:
search_btn.click()

In [163]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Phones&page={}&qid=1627538914&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [169]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [172]:
Reviewes_5_f = Reviewes_5_f[:275]

In [173]:
Phones_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [175]:
Phones_275["Rating"] = 5

In [176]:
Phones_275.head()

                                              Review  Rating
0  It's been 75 days of continuous usage of this ...       5
1  Great phone with killer performance due to pow...       5
2  Nice smartphone\nPros\n1. excellent display.ve...       5
3  Best phone for 30000rs\n1)Screen is top notch ...       5
4  This is my first Xiaomi device and I have to s...       5

In [177]:
Phones_275.to_csv("Phones_275")

## Headphones

In [178]:
# URL of the website 
url = "https://www.amazon.in/"

In [179]:
driver.get(url)

In [180]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [181]:
# searching Laptops
sesrch_query.send_keys("Headphones")

In [182]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [185]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Headphones&page={}&qid=1627540311&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [187]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [189]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [192]:
Reviewes_5_f = Reviewes_5_f[:275]

In [193]:
Headphones_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [194]:
Headphones_275["Rating"] = 5

In [195]:
Headphones_275.head()

                                              Review  Rating
0  First of all Thank You Harman for launching an...       5
1  Would I recommend this product to others? Defi...       5
2  Hi all,\n\nAfter a week rough usage i am shari...       5
3  This product is better than its old counterpar...       5
4  I am impressed with sound quality of Infinity ...       5

In [196]:
Headphones_275.to_csv("Headphones_275")

### smart watches

In [198]:
# URL of the website 
url = "https://www.amazon.in/"

In [199]:
driver.get(url)

In [200]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [201]:
# searching Laptops
sesrch_query.send_keys("Smart Watches")

In [202]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [203]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Smart+Watches&page={}&qid=1627550329&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [206]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [209]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [210]:
len(Reviewes_5_f)

887

In [211]:
Reviewes_5_f = Reviewes_5_f[:275]

In [212]:
Smart_Watches_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [213]:
Smart_Watches_275["Rating"] = 5

In [215]:
Smart_Watches_275.head()

                                              Review  Rating
0  Pros:\n1. Design looks premium\n2. Display Qua...       5
1  The Mi Watch Revolve does of lot of things rig...       5
2  5-day usage review:\nFirst up, DO NOT BUY this...       5
3  Loved Design and AMOLED Display, Sleep monitor...       5
4  I ordered the midnight black version. The firs...       5

In [216]:
Smart_Watches_275.shape

(275, 2)

In [217]:
Smart_Watches_275.to_csv("Smart_Watches_275")

## Professional Cameras

In [119]:
# URL of the website 
url = "https://www.amazon.in/"

In [120]:
driver.get(url)

In [121]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [122]:
# searching Laptops
sesrch_query.send_keys("cameras dslr")

In [123]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [124]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=cameras+dslr&page={}&qid=1627552049&ref=sr_pg_{}"

for i in range(4,9):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [126]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [127]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [128]:
len(Reviewes_5_f)

504

In [129]:
Reviewes_5_f = Reviewes_5_f[:275]

In [130]:
Cameras_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [131]:
Cameras_275["Rating"] = 5

In [132]:
Cameras_275.head()

                                              Review  Rating
0                                     Awesome camera       5
1  I was using Canon 60D before this and just got...       5
2  Good for quick focus. Good picture not that mu...       5
3  Still the best in 2020 at this price range. So...       5
4  Its a Woooww.. Wonderful product.. I bought wi...       5

In [133]:
Cameras_275.to_csv("Cameras_275")

### Printers

In [233]:
# URL of the website 
url = "https://www.amazon.in/"

In [234]:
driver.get(url)

In [235]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [236]:
# searching Laptops
sesrch_query.send_keys("Printers")

In [237]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [238]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Printers&page={}&qid=1627553112&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [240]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [242]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [244]:
Reviewes_5_f = Reviewes_5_f[:275]

In [245]:
Printers_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [246]:
Printers_275["Rating"] = 5

In [248]:
Printers_275.shape

(275, 2)

In [249]:
Printers_275.to_csv("Printers_275")

### Monitors

In [134]:
# URL of the website 
url = "https://www.amazon.in/"

In [135]:
driver.get(url)

In [136]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [137]:
# searching Laptops
sesrch_query.send_keys("Monitors")

In [138]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [139]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Monitors&page={}&qid=1627555553&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [140]:
len(urls)

99

In [141]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [144]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [145]:
len(Reviewes_5_f)

704

In [146]:
Reviewes_5_f = Reviewes_5_f[:275]

In [147]:
Monitors_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [148]:
Monitors_275["Rating"] = 5

In [149]:
Monitors_275.head()

                                              Review  Rating
0  Serves the purpose... Can keep my gaming keybo...       5
1  I found the best desk organiser cum cpu riser....       5
2  A beautiful product. The built quality is real...       5
3  For the price that this usually sells for, the...       5
4  The product is simply superb. Great build qual...       5

In [150]:
Monitors_275.to_csv("Monitors_275")

## Home theater

In [267]:
# URL of the website 
url = "https://www.amazon.in/"

In [268]:
driver.get(url)

In [269]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [270]:
# searching Laptops
sesrch_query.send_keys("Home theater")

In [271]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [272]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Home+theater&page={}&qid=1627557299&ref=sr_pg_{}"

for i in range(4,9):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [274]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [277]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

In [279]:
Home_275 = pd.DataFrame(Reviewes_5_f,columns=["Review"])

In [280]:
Home_275["Rating"] = 5

In [281]:
Home_275.head()

                                              Review  Rating
0  2nd time buy it. Bass very good\nLast time cos...       5
1   Awesome sound quality and bass value for money..       5
2                         Nice product.. worth for 💰       5
3  Zebronics has always been making supremely goo...       5
4  Haven't used the remote yet but it is perfect ...       5

In [282]:
Home_275.to_csv("Home_275")

## Routers

In [283]:
# URL of the website 
url = "https://www.amazon.in/"

In [284]:
driver.get(url)

In [285]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [286]:
# searching Laptops
sesrch_query.send_keys("Routers")

In [287]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [291]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Routers&page={}&qid=1627558471&ref=sr_pg_{}"

for i in range(4,9):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [293]:
Reviewes_5 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(1) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_5.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_5.append("-")

In [295]:
Reviewes_5_f = []

for i in Reviewes_5:
    
    if i != "-":
        
        Reviewes_5_f.append(i)
        
    else:
        
        pass

619

In [302]:
Reviewes_5  = Reviewes_5[:275]

In [304]:
Reviewes_5 = pd.DataFrame(Reviewes_5,columns=["Review"])

In [306]:
Reviewes_5["Rating"] = 5

In [308]:
Router_275 = Reviewes_5

In [310]:
Router_275.shape

(275, 2)

In [311]:
Router_275.to_csv("Router_275")

## 4 Ratings

In [312]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [313]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [314]:
# searching Laptops
sesrch_query.send_keys("Laptops")

In [315]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [318]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Laptops&page={}&qid=1627559975&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [320]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [322]:
len(Reviewes_4)

503

In [326]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [328]:
Reviewes_4_f = Reviewes_4_f[:305]

In [330]:
Laptop_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [331]:
Laptop_305["Rating"] = 4

In [332]:
Laptop_305.head()

                                              Review  Rating
0  With-in two weeks keyboard backlight not worki...       4
1  Looks yummy very light. Has USB charging port ...       4
2  Battery Life 4/5\nSound 3/5\nSpeed 5/5\nGaming...       4
3  Good Configurations with 11th Gen, Core i7.\nN...       4
4  the machine is super fast. 16GB LPDDR4X ram is...       4

In [333]:
Laptop_305.to_csv("Laptop_305")

## 4 Star phones

In [334]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [335]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [336]:
# searching Laptops
sesrch_query.send_keys("Phones")

In [337]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [338]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Phones&page={}&qid=1627561976&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [341]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [343]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [346]:
Reviewes_4_f = Reviewes_4_f[:305]

In [347]:
Phones_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [350]:
Phones_305["Rating"] = 4

In [351]:
Phones_305.head()

                                              Review  Rating
0  Worth for money . It's already one year no tro...       4
1  Pros:\nStock android\nDecent battery life\nGoo...       4
2  Good phone\nGifted to my maids kid who is havi...       4
3  Good one ..expecteed one ...😍 Thank You Amazon...       4
4  I like NOKIA company but this product is not i...       4

In [352]:
Phones_305.to_csv("Phones_305")

### Headphones

In [151]:
# URL of the website 
url = "https://www.amazon.in/"

In [152]:
driver.get(url)

In [153]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [154]:
# searching Laptops
sesrch_query.send_keys("Headphones")

In [155]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [156]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Headphones&page={}&qid=1627613787&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [157]:
len(urls)

126

In [158]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [159]:
len(Reviewes_4)

856

In [160]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [161]:
Reviewes_4_f = Reviewes_4_f[:305]

In [162]:
Headphones_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [163]:
Headphones_305["Rating"] = 4

In [164]:
Headphones_305.head()

                                              Review  Rating
0  decent looking , good bass ear buds. Good qual...       4
1  👍very good bass quality.\nAt this price its mo...       4
2                                 Good for the price       4
3  Good connectivity, Good sound.\n\nOnly negativ...       4
4  a bit cheap build quality and bad trebble and ...       4

In [165]:
Headphones_305.to_csv("Headphones_305")

## Smart Watches

In [25]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [26]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [27]:
# searching Laptops
sesrch_query.send_keys("Smart Watches")

In [28]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [29]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Smart+Watches&page={}&qid=1627615887&ref=sr_pg_{}"

for i in range(4,8):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [32]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [35]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [37]:
Reviewes_4_f = Reviewes_4_f[:305]

In [38]:
smartWatches_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [39]:
smartWatches_305["Rating"] = 4

In [40]:
smartWatches_305.head()

                                              Review  Rating
0  So, unlike most of the people, I am writing th...       4
1  Fully satisfied with this product, keeping in ...       4
2  If you are looking for budget good smart watch...       4
3  Reviewing after 15 days of use,\nIts a good sm...       4
4  I didn't get the charging dock, only the charg...       4

In [41]:
smartWatches_305.to_csv("smartWatches_305")

### Cameras

In [42]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [43]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [44]:
# searching Laptops
sesrch_query.send_keys("Cameras Dslr")

In [45]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [46]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Cameras+Dslr&page=2&qid=1627617166&ref=sr_pg_2"

for i in range(4,8):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [50]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [52]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [54]:
Reviewes_4_f = Reviewes_4_f[:305]

In [55]:
Cameras_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [56]:
Cameras_305["Rating"] = 4

In [57]:
Cameras_305.head()

                                              Review  Rating
0  I was sceptical about the product because no o...       4
1  The picture sheets are for fancy purposes but ...       4
2  Thank god I got the film which will expire on ...       4
3  As of now it is easy to use and a good buy, bt...       4
4  Picture size is petit and does the job well. P...       4

In [58]:
Cameras_305.to_csv("Cameras_305")

## Printers

In [59]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [60]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Printers")

In [61]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [67]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Printers&page={}&qid=1627618328&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [69]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [71]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [73]:
Reviewes_4_f = Reviewes_4_f[:305]

In [74]:
Printers_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [75]:
Printers_305["Rating"] = 4

In [76]:
Printers_305.head()

                                              Review  Rating
0  Doesn't comes with WiFi or usb, Bought by mist...       4
1  Best Multifunction printer very easy to use\nG...       4
2  Its good buy, however, with every print, my on...       4
3  It is very useful. It is easy to print. I love it       4
4  I bought this printer recently and I found thi...       4

In [77]:
Printers_305.to_csv("Printers_305")

### Moniters

In [78]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [79]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Moniters")

In [80]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [81]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=monitors&page={}&qid=1627621089&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [83]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [85]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [87]:
Reviewes_4_f = Reviewes_4_f[:305]

In [88]:
Monitors_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [89]:
Monitors_305["Rating"] = 4

In [90]:
Monitors_305.head()

                                              Review  Rating
0  Let me start by saying this first: This is a g...       4
1  Packaging was good. Delivery was quick. Make s...       4
2  The monitor is really good and even the IPS gl...       4
3  Great Monitor...got this at 22999/- on great i...       4
4  I'm using this with a Ryzen 3700x and Geforce ...       4

In [91]:
Monitors_305.to_csv("Monitors_305")

### Home theater

In [92]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [93]:

# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Home theater")

In [94]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [95]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Home+theater&page={}&qid=1627622771&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [97]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [99]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [101]:
Reviewes_4_f = Reviewes_4_f[:305]

In [102]:
Home_theater_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"])

In [103]:
Home_theater_305["Rating"] = 4

In [104]:
Home_theater_305.head()

                                              Review  Rating
0  Value for money .. good bass & good sound clar...       4
1  Your browser does not support HTML5 video.\n S...       4
2  Good product but packing and delivery can be i...       4
3                                       Good product       4
4                                               Good       4

In [105]:
Home_theater_305.to_csv("Home_theater_305")

### Routers

In [106]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [107]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Routers")

In [108]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [109]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Routers&page={}&qid=1627624427&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [111]:
Reviewes_4 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(2) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_4.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_4.append("-")

In [113]:
Reviewes_4_f = []

for i in Reviewes_4:
    
    if i != "-":
        
        Reviewes_4_f.append(i)
        
    else:
        
        pass

In [116]:
Reviewes_4_f = Reviewes_4_f[:305]

Router_305 = pd.DataFrame(Reviewes_4_f,columns=["Review"]) 

Router_305["Rating"] = 4

In [117]:
Router_305.head()

                                              Review  Rating
0  UPDATE - Though helpful, CISCO support could n...       4
1  UPDATE - Though helpful, CISCO support could n...       4
2  Best 4G VOLTE router as per price. I got it fo...       4
3  Probably the most econonmical wifi router with...       4
4  I received this product today and found out th...       4

In [118]:
Router_305.to_csv("Router_305")

### 3 Star

In [204]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [205]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

In [206]:
# searching Laptops
sesrch_query.send_keys("Laptops")

In [207]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

## LAptop

In [208]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Laptops&page={}&qid=1627559975&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [209]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [210]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [211]:
Laptop_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"])

In [212]:
Laptop_345["Rating"] = 3

In [213]:
Laptop_345.head()

                                              Review  Rating
0  A good internal specifications product with lo...       3
1  I like the laptop except the Webcam. It perfor...       3
2  I like the look good\nBut battery 🔋 very fast ...       3
3  Don't buy it , it's not good for gaming becaus...       3
4  Good for price- warranty given was only 9month...       3

In [214]:
Laptop_345.to_csv("Laptop_345_3star")

## Phones

In [215]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [216]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Phones")

In [217]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [218]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Phones&page={}&qid=1627641927&ref=sr_pg_{}"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [219]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [220]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [221]:
len(Reviewes_3_f)

882

In [222]:
Reviewes_3_f = Reviewes_3_f[:367]

In [223]:
Phones_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"])

In [224]:
Phones_345["Rating"] = 3

In [225]:
Phones_345.head()

                                              Review  Rating
0  It charges very slowly, though they claim that...       3
1  Phone wait is very light very slim the camera ...       3
2  Not a worth product to its price. Camera strug...       3
3  Not display network speed & do not display opt...       3
4  Does not meet expectations. I have used v11 pr...       3

In [226]:
Phones_345.to_csv("Phones_345_3star")

### Headphones

In [227]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [228]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Headphones")

In [229]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [230]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Headphones&page={}&qid=1627644269&ref=sr_pg_{}"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [231]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [232]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [233]:
Reviewes_3_f = Reviewes_3_f[:345]

In [234]:
Headphones_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Headphones_345["Rating"] = 3

In [235]:
Headphones_345.head()

                                              Review  Rating
0  Good but not the best in segment.\nPros:\nLigh...       3
1  I like the look of the earbuds. Sound quality ...       3
2  I've been using this over a week. Battery life...       3
3  I purchased this for MS Teams call purposes, h...       3
4  Noice cancellation is pathetic.. Even when you...       3

In [236]:
Headphones_345.to_csv("Headphones_345_3star")

### Smart watches

In [5]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [6]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Smart Watches")

In [7]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [8]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Smart+Watches&page={}&qid=1627646545&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [9]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [10]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [11]:
Reviewes_3_f = Reviewes_3_f[:345]

Smart_Watches_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Smart_Watches_345["Rating"] = 3

In [12]:
Smart_Watches_345.head()

                                              Review  Rating
0  Packing of plastic found damaged ,placed it on...       3
1  I bought this for my mom in order to help trac...       3
2   Nice product but need to improve like redmi band       3
3  Ordinary smart watch with all basic features. ...       3
4  Pros:\nDesign looks good\nBattery stands good\...       3

In [13]:
Smart_Watches_345.to_csv("Smart_Watches_345_3star")

## Professional Cameras

In [14]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [15]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

# searching Laptops
sesrch_query.send_keys("Cameras dslr")

In [16]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [17]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Cameras+dslr&page={}&qid=1627648550&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [18]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [19]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [20]:
len(Reviewes_3_f)

366

In [21]:
Reviewes_3_f = Reviewes_3_f[:345]

Camera_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Camera_345["Rating"] = 3

In [22]:
Camera_345.head()

                                              Review  Rating
0                                      Vry expensive       3
1  Very very costly film!! Such an expensive one!...       3
2      The papers are nice and useful.\nEasy to use.       3
3                                         Too pricey       3
4  The product is good, kids love it, gamificatio...       3

In [23]:
Camera_345.to_csv("Camera_345_3Star")

### Printers

In [24]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [25]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")

# searching Laptops
sesrch_query.send_keys("Printers")

In [26]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [27]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Printers&page={}&qid=1627650575&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [28]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [29]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [30]:
Reviewes_3_f = Reviewes_3_f[:345]

Printers_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Printers_345["Rating"] = 3

In [31]:
Printers_345.head()

                                              Review  Rating
0                        Photo printing poor quality       3
1                      look for the ink supply first       3
2  No Garden Image like G3000 which I always foun...       3
3  Product is good but its not yielding as many p...       3
4  Tldr: Printer is good, the software isn't grea...       3

In [32]:
Printers_345.to_csv("Printers_345_3Star")

### Monitors

In [33]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [34]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Monitors")

In [35]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [36]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Monitors&page={}&qid=1627704017&ref=sr_pg_{}"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [37]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [38]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [39]:
Reviewes_3_f = Reviewes_3_f[:350]

Monitors_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Monitors_345["Rating"] = 3

In [40]:
Monitors_345.head()

                                              Review  Rating
0  Product is ok if it is priced reasaonably near...       3
1  I would have rated this 3.5 because i think 3 ...       3
2  Good for the price. I got it for less than £12...       3
3  linea ok ,video ok ,prezzo onesto , ma non con...       3
4            Power cable does not match with adapter       3

In [41]:
Monitors_345.to_csv("Monitors_345_3Star")

### Home theater

In [42]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [43]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Home Theater")

In [44]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [45]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Home+Theater&page={}&qid=1627706371&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [46]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [47]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [48]:
Reviewes_3_f = Reviewes_3_f[:345]

Home_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Home_345["Rating"] = 3

In [49]:
Home_345.head()

                                              Review  Rating
0  The product is magnificent in this price range...       3
1  It's a average good produce for the price, sou...       3
2  sound quality is really good , got a physicall...       3
3  Overall looks are ok. The bass is far too heav...       3
4  Good speakers. But when playing music through ...       3

In [50]:
Home_345.to_csv("Home_345_3Star")

### Router

In [51]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [52]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Routers")

In [53]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [54]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Routers&page={}&qid=1627708534&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [55]:
Reviewes_3 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(3) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_3.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_3.append("-")

In [56]:
Reviewes_3_f = []

for i in Reviewes_3:
    
    if i != "-":
        
        Reviewes_3_f.append(i)
        
    else:
        
        pass

In [57]:
Reviewes_3_f = Reviewes_3_f[:345]

Routers_345 = pd.DataFrame(Reviewes_3_f,columns=["Review"]) 

Routers_345["Rating"] = 3

In [58]:
Routers_345.head()

                                              Review  Rating
0  Hey everyone. So the wifi is cool and yes it d...       3
1  Using it for a few months now in a 3BHK 1100Sq...       3
2  Very poor wifi coverage on both the bands.\nTw...       3
3  Dont get fooled by the number of antennas it h...       3
4  Easily the most popular router out there but i...       3

In [59]:
Routers_345.to_csv("Routers_345_3Star")

## 2 Star

In [69]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [70]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Laptops")

In [71]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [72]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Laptops&page={}&qid=1627559975&ref=sr_pg_{}"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [74]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [76]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [78]:
Reviewes_2_f = Reviewes_2_f[:350]

Laptop_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Laptop_350["Rating"] = 2

In [81]:
Laptop_350.to_csv("Laptop_350")

## Phones

In [82]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [83]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Phones")

In [84]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [85]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Phones&page={}&qid=1627713201&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [87]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [89]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [91]:
Reviewes_2_f = Reviewes_2_f[:350]

Phone_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Phone_350["Rating"] = 2

In [92]:
Phone_350.head()

                                              Review  Rating
0  Average phone, camera quality is worst, screen...       2
1  Battry only 4000mah and no\nSnapdragan porsese...       2
2  battery drain in 2hrs. useless phone plz don't...       2
3  Overall look, it's good\nBut at the software l...       2
4  Overall average phone. But the value of money ...       2

In [93]:
Phone_350.to_csv("Phone_350")

## Headphones

In [94]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [95]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Headphones")

In [96]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [97]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Headphones&page={}&qid=1627715067&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [99]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [101]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [103]:
Reviewes_2_f = Reviewes_2_f[:350]

Headphones_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Headphones_350["Rating"] = 2

In [104]:
Headphones_350.head()

                                              Review  Rating
0  Within a few weeks of getting this the earphon...       2
1  Buy only if you have no other choice left. The...       2
2  Buying this earphone was a mistake. The fit of...       2
3  1. My ear starts paining within 15 minutes of ...       2
4  Low Life. It worked well while it lasted. Afte...       2

In [105]:
Headphones_350.to_csv("Headphones_350")

### smart watches

In [106]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [108]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Smart Watches")

In [109]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [113]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Smart+Watches&page={}&qid=1627721019&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [115]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [117]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [119]:
Reviewes_2_f = Reviewes_2_f[:350]

Smart_Watch_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Smart_Watch_350["Rating"] = 2

In [120]:
Smart_Watch_350.head()

                                              Review  Rating
0  Pros:\n\n1. Brighter display\n2. Design Looks ...       2
1  After getting it in the first lot at 9998, it ...       2
2  Xiaomi wear is not as good as mi fit. The mi w...       2
3  I purchased this last October and after using ...       2
4  Go for a decent smartwatch or simply a branded...       2

In [121]:
Smart_Watch_350.to_csv("Smart_Watch_350")

### Professional Cameras

In [126]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [127]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Camera dslr")

In [128]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [129]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Camera+dslr&page={}&qid=1627723855&ref=sr_pg_{}"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [131]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [133]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [134]:
len(Reviewes_2_f)

330

In [135]:
Camera_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Camera_350["Rating"] = 2

In [137]:
Camera_350.head()

                                              Review  Rating
0  The bag is not so good. There is lot more safe...       2
1  Bag opening direction is not correct when used...       2
2  It’s not the best but it’s good at this price ...       2
3  No rain cover,no protection under the bag surf...       2
4                                               😠😠😠😠       2

In [138]:
Camera_350.to_csv("Camera_350")

In [139]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [140]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Printers")

In [141]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [142]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Printers&page={}&qid=1627725916&ref=sr_pg_{}"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [144]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [146]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [148]:
Printers_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Printers_350["Rating"] = 2

In [149]:
Printers_350.head()

                                              Review  Rating
0  Paper jam is a main problem. Suitable software...       2
1  Installation is bit hetic if you don’t have an...       2
2  The CD received from the product does not inst...       2
3  Scanning performance is faulty. every 2nd page...       2
4  People better buy other model.. Scanner not wo...       2

In [150]:
Printers_350.to_csv("Printers_350")

In [166]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [167]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Monitors")

In [168]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [169]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Monitors&page=2&qid=1627727683&ref=sr_pg_2"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [170]:
len(urls)

198

In [171]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [172]:
len(Reviewes_2)

946

In [173]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [174]:
Reviewes_2_f = Reviewes_2_f[:420]

Monitors_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Monitors_350["Rating"] = 2

In [175]:
Monitors_350.head()

                                              Review  Rating
0  Descrizione del prodotto non realistica, nelle...       2
1  Robusto e facile da montare ma l'asse è di mat...       2
2                                 Fehlende Schrauben       2
3  If this had been manufactured properly, I woul...       2
4  It is Aopen and nowhere you will find Acer. If...       2

In [176]:
Monitors_350.to_csv("Monitors_350")

In [163]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [164]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Home Theater")

In [165]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [166]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Home+Theater&page={}&qid=1627729694&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [168]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [170]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [172]:
Reviewes_2_f = Reviewes_2_f[:350]

Home_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Home_350["Rating"] = 2

In [173]:
Home_350.head()

                                              Review  Rating
0  Sound quality:\nI replaced the product two tim...       2
1  * It's just 5.1 only, no one surrod sounds etc...       2
2  1) volume increase to be done above 20 step to...       2
3  Bass Quality Very Low , Means Silent Song Feel...       2
4  After watching & check all positive review fro...       2

In [174]:
Home_350.to_csv("Home_350")

In [175]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [176]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Routers")

In [177]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [178]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Routers&page={}&qid=1627731878&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [180]:
Reviewes_2 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(4) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_2.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_2.append("-")

In [182]:
Reviewes_2_f = []

for i in Reviewes_2:
    
    if i != "-":
        
        Reviewes_2_f.append(i)
        
    else:
        
        pass

In [183]:
len(Reviewes_2_f)

477

In [184]:
Reviewes_2_f = Reviewes_2_f[:350]

Router_350 = pd.DataFrame(Reviewes_2_f,columns=["Review"]) 

Router_350["Rating"] = 2

In [185]:
Router_350.head()

                                              Review  Rating
0  Pro:\nCheap AF,\nGood range and good speed (ge...       2
1  2.4Ghz and 5Ghz channel throughput is exactly ...       2
2  was using very age old product called “LInksys...       2
3  LAN ports are 10/100 Mbps so technically you a...       2
4  The Archer C50 only has a 100M WAN port, which...       2

In [186]:
Router_350.to_csv("Router_350")

In [194]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [195]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Laptops")

In [196]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [197]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Laptops&page={}&qid=1627559975&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [142]:
### Laptops

In [198]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [199]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [200]:
Reviewes_1_f = Reviewes_1_f[:345]

Laptop_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Laptop_345["Rating"] = 1

In [201]:
Laptop_345.head()

                                              Review  Rating
0  It says Full HD screen and they delivered with...       1
1  Truly disappointed with HP . Its a corei5 11th...       1
2  Worst ever product i got it... They mentioned ...       1
3  Your browser does not support HTML5 video.\n I...       1
4  Pls don't buy Laptop or costly things from Ama...       1

In [202]:
Laptop_345.to_csv("Laptop_345")

In [5]:
## Phones

In [180]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [181]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Phones")

In [182]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [183]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Phones&page={}&qid=1627786216&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [184]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [185]:
len(Reviewes_1)

1161

In [186]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [187]:
len(Reviewes_1_f)

1126

In [188]:
Reviewes_1_f = Reviewes_1_f[:345]

In [189]:
Phone_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"])

In [190]:
Phone_345["Rating"] = 1

In [191]:
Phone_345.head()

                                              Review  Rating
0  Mobile is not good...camera not up to mark...h...       1
1  Worst phone in this Range\nBattery back up is ...       1
2  Vivo always exaggerates its price. 25k for a "...       1
3  A good phone but 1 🌟 for the delivery delayed ...       1
4  Bought this crap phone, used 2 days, didn't li...       1

In [192]:
Phone_345.to_csv("Phone_345")

In [23]:
## Headphones

In [24]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [25]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Headphones")

In [26]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [27]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Headphones&page={}&qid=1627788898&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [29]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [31]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [33]:
Reviewes_1_f = Reviewes_1_f[:345]

Headphones_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Headphones_345["Rating"] = 1

In [34]:
Headphones_345.head()

                                              Review  Rating
0  I purchased it on 8th Feb 2021, It is not work...       1
1                    Mic is not working what do I do       1
2  Worst experience ever. Pls do not buy as sound...       1
3  Writing this review after my kids using it for...       1
4  I had bought this headset as a gift for my dau...       1

In [35]:
Headphones_345.to_csv("Headphones_345")

In [36]:
### smart watches

In [37]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [38]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Smart Watches")

In [39]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [40]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Smart+Watches&page=2&qid=1627791248&ref=sr_pg_2"

for i in range(4,14):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [42]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [44]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [46]:
Reviewes_1_f = Reviewes_1_f[:345]

Smart_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Smart_345["Rating"] = 1

In [47]:
Smart_345.head()

                                              Review  Rating
0  Round dial but display inside is square. Hahah...       1
1  The Quality is too bad and the package was alr...       1
2  Unable to silent the ringer of watch the reaso...       1
3                              Fake apo2 and bpm too       1
4  Waste of money\n2 bluetooth mode connects\n1st...       1

In [48]:
Smart_345.to_csv("Smart_345")

In [49]:
## Camera

In [51]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [52]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Camera")

In [53]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [54]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Camera&page={}&qid=1627793778&ref=sr_pg_{}"

for i in range(4,15):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [56]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [58]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [63]:
Reviewes_1_f.remove(Reviewes_1_f[0])

In [64]:
Reviewes_1_f = Reviewes_1_f[:345]

Camera_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Camera_345["Rating"] = 1

In [65]:
Camera_345.head()

                                              Review  Rating
0  Worst product\nThey send the used product\nPic...       1
1  Poor product. Not working now. Nobody is respo...       1
2  No night vision and motion detection is availa...       1
3  It worked perfectly on the first day, set to m...       1
4  Very poor quality product, Amazon please don't...       1

In [66]:
Camera_345.to_csv("Camera_345")

In [67]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [68]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Printers")

In [69]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [70]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Printers&page={}&qid=1627796414&ref=sr_pg_{}"

for i in range(4,8):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [72]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [73]:
len(Reviewes_1)

341

In [74]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [75]:
len(Reviewes_1_f)

312

In [76]:
printers_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

printers_345["Rating"] = 1

In [77]:
printers_345.head()

                                              Review  Rating
0  1. Product Print quality is very poor, it look...       1
1  Oh I was being fooled by you tube videos that ...       1
2  Worst product.. I am unable to print in glossy...       1
3  Wroth less purchase the four months four time ...       1
4  Unable to contact the Canon service desk. When...       1

In [78]:
printers_345.to_csv("printers_345")

In [79]:
## Monitors

In [80]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [81]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Monitors")

In [82]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [83]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Monitors&page={}&qid=1627797733&ref=sr_pg_{}"

for i in range(4,10):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [85]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [87]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [89]:
Reviewes_1_f = Reviewes_1_f[:378]

Monitor_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Monitor_345["Rating"] = 1

In [177]:
Monitor_345.head()

                                              Review  Rating
0  I had high expectations from AOC and without a...       1
1  Never ever buy this product - No value for mon...       1
2  screen suffers from heavy back-light bleed,har...       1
3  The LED has come with a 16A plug which is not ...       1
4  There is a gradient going from left to right w...       1

In [178]:
Monitor_345.to_csv("Monitor_345")

In [92]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [93]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Home Theater")

In [94]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [95]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Home+Theater&page=2&qid=1627798990&ref=sr_pg_2"

for i in range(4,11):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [97]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [99]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [101]:
Reviewes_1_f = Reviewes_1_f[:345]

Home_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Home_345["Rating"] = 1

In [102]:
Home_345.head()

                                              Review  Rating
0  Very Bad Product Zebronics SW2490 RUCF 2.1 Don...       1
1  Received product on 27th Sep 2017. Unpack on 2...       1
2  Inferior quality speaker. Sound of speaker sta...       1
3  very disappointed with product. It does not gi...       1
4  Got a defective piece and even after replacing...       1

In [103]:
Home_345.to_csv("Home_345")

In [104]:
# URL of the website 
url = "https://www.amazon.in/"

driver.get(url)

In [105]:
# targeting the search text box
sesrch_query = driver.find_element_by_id("twotabsearchtextbox")


# searching Laptops
sesrch_query.send_keys("Routers")

In [106]:
search_btn = driver.find_element_by_id("nav-search-submit-button")

search_btn.click()

In [107]:
# Collecting url's for first 3 pages
urls = []

base_url = "https://www.amazon.in/s?k=Routers&page=2&qid=1627800556&ref=sr_pg_2"

for i in range(4,12):
    
    driver.get(base_url.format(i,i))
    
    for url in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a"):
        
        urls.append(url.get_attribute("href"))

In [109]:
Reviewes_1 = []

for link in urls:
    
    driver.get(link)
    
    try:
        
        cust_rev_5 = driver.find_element_by_css_selector('#histogramTable > tbody > tr:nth-child(5) > td.aok-nowrap > span.a-size-base > a')
    
        rev_5 = cust_rev_5.get_attribute("href")
    
        driver.get(rev_5)
        
        for i in driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']"):
            
            Reviewes_1.append(i.text)
            
            
    except NoSuchElementException:
        
        Reviewes_1.append("-")

In [110]:
len(Reviewes_1)

1256

In [111]:
Reviewes_1_f = []

for i in Reviewes_1:
    
    if i != "-":
        
        Reviewes_1_f.append(i)
        
    else:
        
        pass

In [112]:
len(Reviewes_1_f)

1224

In [113]:
Reviewes_1_f = Reviewes_1_f[:345]

Routers_345 = pd.DataFrame(Reviewes_1_f,columns=["Review"]) 

Routers_345["Rating"] = 1

In [114]:
Routers_345.head()

                                              Review  Rating
0  Writing this review after 7 months of usage.\n...       1
1  This is the worst product... I have bought it ...       1
2  This is for newbie users who plan to buy route...       1
3  At the outset I would recommend to avoid buyin...       1
4  This is a false advertisement. Though it shows...       1

In [115]:
Routers_345.to_csv("Routers_345")