In [1]:
import pandas as pd

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [3]:
df1 = pd.read_csv("Laptop_275")
df2 = pd.read_csv("Phones_275")
df3 = pd.read_csv("Headphones_275")
df4 = pd.read_csv("Smart_Watches_275")
df5 = pd.read_csv("Cameras_275")
df6 = pd.read_csv("Printers_275")
df7 = pd.read_csv("Monitors_275")
df8 = pd.read_csv("Home_275")
df9 = pd.read_csv("Router_275")

In [21]:
df_final_275_5 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [22]:
df_final_275_5.head()

   Unnamed: 0                                             Review  Rating
0           0  Looks are good and its slim\nAnd charges reall...       5
1           1                                       Good product       5
2           2  over the performance, it works like a charm fo...       5
3           3  Simply superb... didn't find any issues\nJust ...       5
4           4                        Good delivery great product       5

In [23]:
df_final_275_5["Rating"].value_counts()

5    2706
Name: Rating, dtype: int64

In [24]:
df_final_275_5.to_csv("df_final_275_5")

### 305

In [25]:
df1 = pd.read_csv("Laptop_305")
df2 = pd.read_csv("Phones_305")
df3 = pd.read_csv("Headphones_305")
df4 = pd.read_csv("smartWatches_305")
df5 = pd.read_csv("Cameras_305")
df6 = pd.read_csv("Printers_305")
df7 = pd.read_csv("Monitors_305")
df8 = pd.read_csv("Home_theater_305")
df9 = pd.read_csv("Router_305")

In [35]:
df1.head()

   Unnamed: 0                                             Review  Rating
0           0  Your browser does not support HTML5 video.\n I...       4
1           1  pros:\nThe thing which I loved about this head...       4
2           2  These are an excellent pair of headphones cons...       4
3           3  At this price itâ€™s the very best; although I a...       4
4           4  Been using for the past few days non stop (lit...       4

In [36]:
df_final_305_4 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [37]:
df_final_305_4.head()

   Unnamed: 0                                             Review  Rating
0           0  Your browser does not support HTML5 video.\n I...       4
1           1  pros:\nThe thing which I loved about this head...       4
2           2  These are an excellent pair of headphones cons...       4
3           3  At this price itâ€™s the very best; although I a...       4
4           4  Been using for the past few days non stop (lit...       4

In [40]:
df_final_305_4["Rating"].value_counts()

4    2745
Name: Rating, dtype: int64

In [39]:
df_final_305_4.to_csv("df_final_305_4")

## 2 Star

In [41]:
df1 = pd.read_csv("Laptop_350")
df2 = pd.read_csv("Phone_350")
df3 = pd.read_csv("Headphones_350")
df4 = pd.read_csv("Smart_Watch_350")
df5 = pd.read_csv("Camera_350")
df6 = pd.read_csv("Printers_350")
df7 = pd.read_csv("Monitors_350")
df8 = pd.read_csv("Home_350")
df9 = pd.read_csv("Router_350")

In [51]:
df_final_350_2 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [52]:
df_final_350_2.head()

   Unnamed: 0                                             Review  Rating
0           0                 Tingle Current Feel while charging       2
1           1  I LIKE IT BUT THIS LAPTOP HAS INBUILT RAM SO R...       2
2           2                       Camera quality is not good.ðŸ˜”       2
3           3  I just purchased this system for my school for...       2
4           4  The keyboard started malfunctioning only after...       2

In [53]:
df_final_350_2.shape

(3150, 3)

In [54]:
df_final_350_2["Rating"].value_counts()

2    3150
Name: Rating, dtype: int64

In [77]:
df_final_350_2.to_csv("df_final_350_2")

## 1 Star

In [19]:
df1 = pd.read_csv("Laptop_345")
df2 = pd.read_csv("Phone_345")
df3 = pd.read_csv("Headphones_345")
df4 = pd.read_csv("Smart_345")
df5 = pd.read_csv("Camera_345")
df6 = pd.read_csv("printers_345")
df7 = pd.read_csv("Monitor_345")
df8 = pd.read_csv("Home_345")
df9 = pd.read_csv("Routers_345")

In [24]:
df5.head()

   Unnamed: 0                                             Review  Rating
0           0  Worst product\nThey send the used product\nPic...       1
1           1  Poor product. Not working now. Nobody is respo...       1
2           2  No night vision and motion detection is availa...       1
3           3  It worked perfectly on the first day, set to m...       1
4           4  Very poor quality product, Amazon please don't...       1

In [25]:
df_final_345_1 = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [26]:
df_final_345_1.shape

(3104, 3)

In [27]:
df_final_345_1.to_csv("df_final_345_1")

### 3 Star

In [3]:
df1 = pd.read_csv("Laptop_345_3star")
df2 = pd.read_csv("Phones_345_3star")
df3 = pd.read_csv("Headphones_345_3star")
df4 = pd.read_csv("Smart_Watches_345_3star")
df5 = pd.read_csv("Camera_345_3Star")
df6 = pd.read_csv("Printers_345_3Star")
df7 = pd.read_csv("Monitors_345_3Star")
df8 = pd.read_csv("Home_345_3Star")
df9 = pd.read_csv("Routers_345_3Star")

In [15]:
df_final_345_3star = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [16]:
df_final_345_3star.head()

   Unnamed: 0                                             Review  Rating
0           0  A good internal specifications product with lo...       3
1           1  I like the laptop except the Webcam. It perfor...       3
2           2  I like the look good\nBut battery ðŸ”‹ very fast ...       3
3           3  Don't buy it , it's not good for gaming becaus...       3
4           4  Good for price- warranty given was only 9month...       3

In [17]:
df_final_345_3star.shape

(3089, 3)

In [18]:
df_final_345_3star.to_csv("df_final_345_3star")

In [28]:
df1 = pd.read_csv("df_final_345_1")
df2 = pd.read_csv("df_final_350_2")
df3 = pd.read_csv("df_final_345_3star")
df4 = pd.read_csv("df_final_305_4")
df5 = pd.read_csv("df_final_275_5")

In [29]:
df_remaining = pd.concat([df1,df2,df3,df4,df5])

In [36]:
df_remaining.head()

,Unnamed: 0,Unnamed: 0.1,Review,Rating
0,0,0,It says Full HD screen and they delivered with...,1
1,1,1,Truly disappointed with HP . Its a corei5 11th...,1
2,2,2,Worst ever product i got it... They mentioned ...,1
3,3,3,Your browser does not support HTML5 video.\n I...,1
4,4,4,Pls don't buy Laptop or costly things from Ama...,1

In [37]:
df_remaining = df_remaining.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1)

In [38]:
df_remaining.head()

                                              Review  Rating
0  It says Full HD screen and they delivered with...       1
1  Truly disappointed with HP . Its a corei5 11th...       1
2  Worst ever product i got it... They mentioned ...       1
3  Your browser does not support HTML5 video.\n I...       1
4  Pls don't buy Laptop or costly things from Ama...       1

In [32]:
df_AM_FK = pd.read_csv("Final_Reviewes_AMFK")

In [33]:
df_AM_FK.head()

   Unnamed: 0                                             Review  Rating
0           0  Best product. You can buy this product .\nOnly...       4
1           1  WARNING\n\nTo anyone thinking of buying an Ace...       2
2           2  Crop sensor gives you additional distance from...       4
3           3  What I like:\n- Cheap price\n- Somewhat good w...       5
4           4  Havent been able to connect the printer to wif...       1

In [39]:
df_AM_FK = df_AM_FK.drop("Unnamed: 0",axis=1)

In [40]:
df_AM_FK.head()

                                              Review  Rating
0  Best product. You can buy this product .\nOnly...       4
1  WARNING\n\nTo anyone thinking of buying an Ace...       2
2  Crop sensor gives you additional distance from...       4
3  What I like:\n- Cheap price\n- Somewhat good w...       5
4  Havent been able to connect the printer to wif...       1

In [41]:
df_ultimate = pd.concat([df_remaining,df_AM_FK])

In [42]:
df_ultimate.head()

                                              Review  Rating
0  It says Full HD screen and they delivered with...       1
1  Truly disappointed with HP . Its a corei5 11th...       1
2  Worst ever product i got it... They mentioned ...       1
3  Your browser does not support HTML5 video.\n I...       1
4  Pls don't buy Laptop or costly things from Ama...       1

In [44]:
df_ultimate.shape

(20245, 2)

In [45]:
df_FINAL = df_ultimate.sample(frac=1).reset_index(drop=True)

In [46]:
df_FINAL.head()

                                              Review  Rating
0  look ok, but my heart monitor sensors stopped ...       3
1  Sudden drop in price after I order,\nAdapter l...       1
2                                               good       5
3  LAN ports are 10/100 Mbps so technically you a...       2
4  This phone is fantastic just wow it's as good ...       5

In [47]:
df_FINAL.shape

(20245, 2)

In [48]:
df_FINAL["Rating"].value_counts()

5    4242
1    4011
4    4009
2    3994
3    3989
Name: Rating, dtype: int64

In [49]:
df_FINAL.to_csv("df_FINAL")